.add-question-wap.first .first {
  display: block;
}
.add-question-wap.first .second {
  display: none;
}
.add-question-wap.second .first {
  display: none;
}
.add-question-wap.second .second {
  display: block;
}
