#main-wap .header {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
}
#main-wap .header .name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}
#main-wap .header .tip {
  font-size: 18px;
  color: #999;
}
#main-wap .question-log {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eaeaea;
}
#main-wap .question-log .media-left {
  padding-right: 15px;
}
#main-wap .question-log .media-left img {
  width: 40px;
  height: 40px;
}
#main-wap .question-log .media-body {
  overflow: visible;
}
#main-wap .question-log .title {
  margin-bottom: 20px;
}
#main-wap .question-log .content .fa-long-arrow-right {
  margin: 0 8px;
}
#main-wap .question-log .content .topic-avatar {
  width: 80px;
  height: 80px;
}
#main-wap .question-log del.topic {
  text-decoration: none;
  padding: 0;
  background-color: #fff;
}
#main-wap .question-log del.topic a {
  margin: 0;
  text-decoration: line-through;
}
#main-wap .question-log ins.topic {
  padding: 0;
  background-color: #fff;
}
#main-wap .question-log ins.topic a {
  margin: 0;
}
