.topics-wap .btn-add-topic,
.topics-wap .btn-edit-topic,
.topics-wap .btn-delete-topic,
.topics-wap .form-wap {
  display: none;
}
.topics-wap .topics-inner-wap {
  display: inline-block;
}
.topics-wap .topic-wap {
  display: inline-block;
  margin-right: 10px;
}
.topics-wap.edit .btn-add-topic,
.topics-wap.edit .btn-edit-topic {
  display: none !important;
}
.topics-wap.edit .btn-delete-topic {
  display: inline-block;
}
.topics-wap.edit .form-wap {
  display: block;
}
.topics-wap.empty .topics,
.topics-wap.empty .btn-edit-topic {
  display: none;
}
.topics-wap.empty .btn-add-topic {
  display: block;
}
.topics-wap .topics:hover .btn-edit-topic {
  display: inline-block;
}
