.navbar {
  margin-bottom: 0;
}
.question-header {
  padding: 40px 0 30px 0;
  background-color: #F5F6F5;
  position: relative;
}
.question-header .title-wap {
  margin-bottom: 15px;
}
.question-header .title-wap .title-inner-wap {
  display: block;
}
.question-header .title-wap .title-inner-wap .title {
  font-weight: bold;
  font-size: 24px;
}
.question-header .title-wap .title-inner-wap .btn-edit-title {
  color: #999;
  margin-left: 10px;
}
.question-header .title-wap .title-inner-wap:hover .btn-edit-title {
  display: inline-block;
}
.question-header .title-wap input {
  width: 560px;
  vertical-align: middle;
  margin-right: 5px;
}
.question-header .title-wap input,
.question-header .title-wap .btn-edit-title,
.question-header .title-wap .btn-save-title {
  display: none;
}
.question-header .title-wap.edit .title-inner-wap {
  display: none;
}
.question-header .title-wap.edit input,
.question-header .title-wap.edit .btn-save-title {
  display: inline-block;
}
.question-header .desc-wap {
  margin-bottom: 20px;
}
.question-header .desc-wap .desc-inner-wap {
  display: block;
}
.question-header .desc-wap .desc-inner-wap .btn-edit-desc {
  visibility: hidden;
}
.question-header .desc-wap .desc-inner-wap:hover .btn-edit-desc {
  visibility: visible;
}
.question-header .desc-wap textarea,
.question-header .desc-wap .simditor,
.question-header .desc-wap .btn-add-desc,
.question-header .desc-wap .btn-save-desc {
  display: none;
}
.question-header .desc-wap.edit .btn-add-desc,
.question-header .desc-wap.edit .desc-inner-wap {
  display: none !important;
}
.question-header .desc-wap.edit .btn-save-desc {
  display: inline-block;
}
.question-header .desc-wap.edit .simditor {
  display: block;
}
.question-header .desc-wap.empty .desc-inner-wap {
  display: none;
}
.question-header .desc-wap.empty .btn-add-desc {
  display: inline-block;
}
.question-header .desc-wap .simditor {
  margin-bottom: 15px;
}
.question-header .desc-wap .simditor .simditor-body {
  padding: 15px 15px 40px 15px;
  min-height: 150px;
}
.question-header .topics-wap .btn-add-topic,
.question-header .topics-wap .btn-edit-topic,
.question-header .topics-wap .btn-delete-topic,
.question-header .topics-wap .form-wap {
  display: none;
}
.question-header .topics-wap .form-wap {
  margin-top: 10px;
}
.question-header .topics-wap .form-wap .twitter-typeahead {
  vertical-align: middle;
  margin-right: 5px;
}
.question-header .topics-wap .form-wap .twitter-typeahead input {
  width: 250px;
}
.question-header .topics-wap .topics-inner-wap {
  display: inline-block;
}
.question-header .topics-wap .topic-wap {
  display: inline-block;
  margin: 0 10px 10px 0;
}
.question-header .topics-wap .topic-wap .dc-topic-white {
  margin: 0;
}
.question-header .topics-wap .topic-wap .btn-delete-topic {
  color: #999;
}
.question-header .topics-wap .topic-wap .btn-delete-topic:hover {
  color: #666;
}
.question-header .topics-wap.edit .btn-add-topic,
.question-header .topics-wap.edit .btn-edit-topic {
  display: none !important;
}
.question-header .topics-wap.edit .btn-delete-topic {
  display: inline-block;
}
.question-header .topics-wap.edit .form-wap {
  display: block;
}
.question-header .topics-wap.empty .topics,
.question-header .topics-wap.empty .btn-edit-topic {
  display: none;
}
.question-header .topics-wap.empty .btn-add-topic {
  display: block;
}
.question-header .topics-wap .topics:hover .btn-edit-topic {
  display: inline-block;
}
.question-header .col-md-4 .commands {
  position: absolute;
  right: 0;
  top: 0;
}
.question-header .col-md-4 .commands .dc-hide-commands-trigger {
  padding: 6px 10px;
  margin-left: 5px;
}
.question-header .col-md-4 .commands .dc-hide-commands-trigger .dc-hide-commands {
  top: 20px;
  padding-top: 18px;
}
.question-header .col-md-4 .followers {
  position: absolute;
  right: 0;
  top: 50px;
}
.question-header .col-md-4 .followers .follower {
  display: inline-block;
  margin: 0 0 5px 5px;
}
.question-header .col-md-4 .followers .follower img {
  width: 30px;
  height: 30px;
}
.content-tabs {
  margin: 30px 0 25px 0;
}
.content-tabs a {
  display: inline-block;
  color: #999;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.content-tabs a.active {
  color: #333;
}
.content-tabs .divider {
  color: #999;
  margin: 0 5px;
}
.content-item {
  display: none;
}
.content-item.active {
  display: block;
}
.answers .answer {
  padding-top: 10px;
  padding-bottom: 30px;
  border-top: 1px solid #eaeaea;
}
.answers .answer .media-left img {
  width: 40px;
  height: 40px;
}
.answers .answer .answerer-info {
  margin-bottom: 20px;
}
.answers .answer .answerer-info .answerer {
  margin-bottom: 2px;
}
.answers .answer .answerer-info .answerer .name {
  color: #333;
  font-weight: bold;
}
.answers .answer .answer-content {
  font-size: 16px;
  margin-bottom: 25px;
}
.answers .toogle-hided-answers-wap {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 20px 0;
  font-size: 16px;
  color: #999;
}
h3 {
  margin-top: 30px;
}
.invitation-wap {
  border: 1px solid #ddd;
}
.invitation-wap .header {
  padding: 15px 15px;
  border-bottom: 1px solid #ddd;
}
.invitation-wap .header .form-control {
  padding: 18px 12px;
}
.invitation-wap .recommend-wap {
  padding: 15px;
}
.hided-answers {
  display: none;
}
.answered-tip-wap {
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  border-top: 1px solid #eaeaea;
}
.answered-tip-wap img {
  width: 40px;
  height: 40px;
  margin: 0 auto 20px auto;
  opacity: .4;
  display: block;
}
.answered-tip-wap a {
  color: #009999;
}
.myself {
  margin-top: 25px;
}
.myself img {
  width: 40px;
  height: 40px;
}
.myself .myself-info {
  margin-bottom: 3px;
}
.myself .myself-info a {
  color: #333;
  font-weight: bold;
}
.myself .commands .divider {
  margin: 0 3px;
}
form {
  margin-top: 18px;
}
form .tip-save-draft {
  color: #999;
}
form .simditor {
  margin-bottom: 15px;
}
form .simditor .simditor-body {
  min-height: 200px;
}
.relevant-question {
  margin-bottom: 15px;
}
.relevant-question .title {
  color: #009999;
}
.relevant-question .answers-count {
  margin-left: 10px;
}
