.navbar {
  margin-bottom: 0;
}
.question-header {
  padding: 40px 0 30px 0;
  background-color: #F5F6F5;
  position: relative;
}
.question-header .title-desc-wap .title-wap {
  margin-bottom: 15px;
}
.question-header .title-desc-wap .title-wap .title-inner-wap {
  display: block;
}
.question-header .title-desc-wap .title-wap .title-inner-wap .title {
  font-weight: bold;
  font-size: 24px;
}
.question-header .title-desc-wap .title-wap .title-inner-wap .btn-edit-title {
  color: #999;
  margin-left: 10px;
  display: none;
}
.question-header .title-desc-wap .title-wap .title-inner-wap:hover .btn-edit-title {
  display: inline-block;
}
.question-header .title-desc-wap .title-wap .form-elements {
  margin-bottom: 15px;
}
.question-header .title-desc-wap .title-wap input {
  display: none;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 24px;
  font-weight: bold;
  padding: 4px 12px;
  height: auto;
  color: #333;
}
.question-header .title-desc-wap .title-wap .simditor {
  border-top: 0;
}
.question-header .title-desc-wap .title-wap .simditor .simditor-body {
  padding: 15px 15px 40px 15px;
  min-height: 150px;
}
.question-header .title-desc-wap .title-wap .simditor,
.question-header .title-desc-wap .title-wap textarea[name='desc-in-title'] {
  display: none;
}
.question-header .title-desc-wap .title-wap .title-commands {
  display: none;
}
.question-header .title-desc-wap .title-wap .title-commands .btn-save-title {
  margin-left: 10px;
}
.question-header .title-desc-wap .title-wap .title-commands .btn-add-desc {
  display: none;
  float: left;
  margin-top: 5px;
}
.question-header .title-desc-wap .title-wap.edit .title-inner-wap {
  display: none;
}
.question-header .title-desc-wap .title-wap.edit input {
  display: block;
}
.question-header .title-desc-wap .title-wap.edit .title-commands {
  display: block;
}
.question-header .title-desc-wap .title-wap.add-desc input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.question-header .title-desc-wap .title-wap.add-desc .simditor {
  display: block;
}
.question-header .title-desc-wap .desc-wap {
  margin-bottom: 20px;
}
.question-header .title-desc-wap .desc-wap .desc-inner-wap {
  display: block;
}
.question-header .title-desc-wap .desc-wap .desc-inner-wap .btn-edit-desc {
  visibility: hidden;
}
.question-header .title-desc-wap .desc-wap .desc-inner-wap:hover .btn-edit-desc {
  visibility: visible;
}
.question-header .title-desc-wap .desc-wap textarea,
.question-header .title-desc-wap .desc-wap .simditor {
  display: none;
}
.question-header .title-desc-wap .desc-wap .desc-commands {
  display: none;
}
.question-header .title-desc-wap .desc-wap .desc-commands .btn-save-desc {
  margin-left: 10px;
}
.question-header .title-desc-wap .desc-wap.edit {
  display: block !important;
}
.question-header .title-desc-wap .desc-wap.edit .desc-inner-wap {
  display: none !important;
}
.question-header .title-desc-wap .desc-wap.edit .desc-commands {
  display: block;
}
.question-header .title-desc-wap .desc-wap.edit .btn-save-desc {
  display: inline-block;
}
.question-header .title-desc-wap .desc-wap.edit .simditor {
  display: block;
}
.question-header .title-desc-wap .desc-wap.empty .desc-inner-wap {
  display: none;
}
.question-header .title-desc-wap .desc-wap.empty .btn-add-desc {
  display: inline-block;
}
.question-header .title-desc-wap .desc-wap .simditor {
  margin-bottom: 15px;
}
.question-header .title-desc-wap .desc-wap .simditor .simditor-body {
  padding: 15px 15px 40px 15px;
  min-height: 150px;
}
.question-header .title-desc-wap.empty-desc .title-wap .title-commands .btn-add-desc {
  display: block;
}
.question-header .title-desc-wap.empty-desc .desc-wap {
  display: none;
}
.question-header .topics-wap .btn-add-topic,
.question-header .topics-wap .btn-edit-topic,
.question-header .topics-wap .btn-delete-topic,
.question-header .topics-wap .form-wap {
  display: none;
}
.question-header .topics-wap .form-wap {
  margin-top: 10px;
}
.question-header .topics-wap .form-wap .twitter-typeahead {
  vertical-align: middle;
  margin-right: 5px;
}
.question-header .topics-wap .form-wap .twitter-typeahead input {
  width: 250px;
}
.question-header .topics-wap .topics-inner-wap {
  display: inline-block;
}
.question-header .topics-wap .topic-wap {
  display: inline-block;
  margin: 0 10px 10px 0;
}
.question-header .topics-wap .topic-wap .dc-topic-white {
  margin: 0;
}
.question-header .topics-wap .topic-wap .btn-delete-topic {
  color: #999;
}
.question-header .topics-wap .topic-wap .btn-delete-topic:hover {
  color: #666;
}
.question-header .topics-wap.edit .btn-add-topic,
.question-header .topics-wap.edit .btn-edit-topic {
  display: none !important;
}
.question-header .topics-wap.edit .btn-delete-topic {
  display: inline-block;
}
.question-header .topics-wap.edit .form-wap {
  display: block;
}
.question-header .topics-wap.empty .topics,
.question-header .topics-wap.empty .btn-edit-topic {
  display: none;
}
.question-header .topics-wap.empty .btn-add-topic {
  display: block;
}
.question-header .topics-wap .topics:hover .btn-edit-topic {
  display: inline-block;
}
.question-header .col-md-4 .commands {
  position: absolute;
  right: 0;
  top: 0;
}
.question-header .col-md-4 .commands .dc-hide-commands-trigger {
  padding: 6px 10px;
  margin-left: 5px;
}
.question-header .col-md-4 .commands .dc-hide-commands-trigger .dc-hide-commands {
  top: 20px;
  right: -1px;
  padding-top: 18px;
}
.question-header .col-md-4 .followers {
  position: absolute;
  right: 0;
  top: 50px;
}
.question-header .col-md-4 .followers .follower {
  display: inline-block;
  margin: 0 0 5px 5px;
}
.question-header .col-md-4 .followers .follower img {
  width: 30px;
  height: 30px;
}
.content-tabs {
  margin: 30px 0 25px 0;
}
.content-tabs a {
  display: inline-block;
  color: #999;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.content-tabs a.active {
  color: #333;
}
.content-tabs .divider {
  color: #999;
  margin: 0 5px;
}
.content-item {
  display: none;
}
.content-item.active {
  display: block;
}
.answers .answer {
  padding-top: 25px;
  padding-bottom: 30px;
  border-top: 1px solid #eaeaea;
}
.answers .answer .media-left img {
  width: 40px;
  height: 40px;
}
.answers .answer .answerer-info {
  margin-bottom: 20px;
}
.answers .answer .answerer-info .answerer {
  margin-bottom: 2px;
}
.answers .answer .answerer-info .answerer .name {
  color: #333;
  font-weight: bold;
}
.answers .answer .answer-content {
  font-size: 16px;
  margin-bottom: 10px;
}
.answers .answer .time {
  margin-bottom: 25px;
}
.answers .toogle-hided-answers-wap {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 20px 0;
  font-size: 16px;
  color: #999;
}
h3 {
  margin-top: 30px;
}
.invitation-wap {
  border: 1px solid #ddd;
}
.invitation-wap .invited-users-wap {
  padding: 15px 15px 0 15px;
}
.invitation-wap .invited-users-wap.empty {
  display: none;
}
.invitation-wap .invited-users-wap .invited-users {
  margin: 0 3px;
}
.invitation-wap .invited-users-wap .invited-users .invited-user {
  color: #333;
  font-weight: bold;
}
.invitation-wap .header {
  padding: 15px 15px;
  border-bottom: 1px solid #ddd;
}
.invitation-wap .header .form-control {
  padding: 18px 12px;
}
.invitation-wap .recommend-wap {
  padding: 0 15px;
}
.invitation-wap .recommend-wap .item {
  margin-top: 0;
  position: relative;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #eaeaea;
}
.invitation-wap .recommend-wap .item:last-child {
  border-bottom: 0;
}
.invitation-wap .recommend-wap .item .candidate-meta {
  margin-bottom: 2px;
}
.invitation-wap .recommend-wap .item .candidate-meta a {
  color: #333;
  font-weight: bold;
}
.invitation-wap .recommend-wap .item img {
  width: 40px;
  height: 40px;
}
.invitation-wap .recommend-wap .item .btn-invite {
  position: absolute;
  right: 15px;
  top: 22px;
}
.invitation-wap .recommend-wap .item .btn-invite .for-invited {
  display: none;
}
.invitation-wap .recommend-wap .item .btn-invite .for-non-invited {
  display: block;
}
.invitation-wap .recommend-wap .item .btn-invite.invited {
  color: #999;
}
.invitation-wap .recommend-wap .item .btn-invite.invited .for-invited {
  display: block;
}
.invitation-wap .recommend-wap .item .btn-invite.invited .for-non-invited {
  display: none;
}
.invitation-wap .recommend-wap .tip {
  padding: 15px 0;
}
.hided-answers {
  display: none;
  margin-top: -1px;
}
.bottom-invitation-wap {
  background-color: #fafafa;
  border: 1px dashed #d4d4d4;
  padding: 40px 0 35px 0;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 40px;
}
.bottom-invitation-wap .tip {
  color: #999;
  font-size: 18px;
  margin-bottom: 15px;
}
.bottom-invitation-wap .candidates {
  margin-bottom: 20px;
}
.bottom-invitation-wap .candidates a {
  display: inline-block;
  margin-right: 5px;
}
.bottom-invitation-wap .candidates a img {
  width: 34px;
  height: 34px;
}
.bottom-invitation-wap .btn-go-to-invitation-wap {
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  border: 1px solid #c5c5c5;
  padding: 8px 25px;
}
.bottom-invitation-wap .btn-go-to-invitation-wap:hover {
  background-color: #fff;
  border-color: #b5b5b5;
}
.answered-tip-wap {
  margin-top: -1px;
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  border-top: 1px solid #eaeaea;
}
.answered-tip-wap img {
  width: 40px;
  height: 40px;
  margin: 0 auto 20px auto;
  opacity: .4;
  display: block;
}
.answered-tip-wap a {
  color: #009999;
}
.myself {
  margin-top: 30px;
}
.myself img {
  width: 40px;
  height: 40px;
}
.myself .myself-info {
  margin-bottom: 3px;
}
.myself .myself-info a {
  color: #333;
  font-weight: bold;
}
.myself .commands .divider {
  margin: 0 3px;
}
form.answer-form {
  margin-top: 18px;
}
form.answer-form .tip-save-draft {
  color: #999;
}
form.answer-form .simditor {
  margin-bottom: 15px;
}
form.answer-form .simditor .simditor-body {
  min-height: 200px;
}
.relevant-question {
  margin-bottom: 15px;
}
.relevant-question .title {
  color: #009999;
}
.relevant-question .answers-count {
  margin-left: 10px;
}
.modal-edit-identity .modal-body {
  text-align: center;
  padding: 30px 15px;
}
.modal-edit-identity .btn-group .btn.active {
  background-color: #dcf8f1;
  color: #009999;
  border-color: #b7e1e2;
  padding: 6px 15px;
  box-shadow: none;
}
.modal-edit-identity .btn-group .btn.active a {
  color: #009999;
}
.modal-edit-identity .btn-group .btn.active:hover,
.modal-edit-identity .btn-group .btn.active:active,
.modal-edit-identity .btn-group .btn.active:focus,
.modal-edit-identity .btn-group .btn.active:active:focus {
  box-shadow: none;
  outline: none;
  background-color: #c7f4e9;
  border-color: #a5d9db;
  color: #009999;
}
#modal-edit-experience .topic-experience {
  margin-bottom: 12px;
  position: relative;
}
#modal-edit-experience .topic-experience:last-child {
  margin-bottom: 0;
}
#modal-edit-experience .topic-experience .topic {
  margin-bottom: 5px;
}
#modal-edit-experience .topic-experience .topic a {
  color: #333;
  font-weight: bold;
}
#modal-edit-experience .topic-experience .experience-wap form {
  margin-top: 10px;
  width: 60%;
}
#modal-edit-experience .topic-experience .experience-wap form textarea {
  margin-bottom: 10px;
}
#modal-edit-experience .topic-experience .experience-wap form .btn-submit-experience {
  margin-left: 8px;
}
#modal-edit-experience .topic-experience .experience-wap .btn-edit-experience {
  margin-left: 8px;
}
#modal-edit-experience .topic-experience .experience-wap form,
#modal-edit-experience .topic-experience .experience-wap .btn-add-experience {
  display: none;
}
#modal-edit-experience .topic-experience .experience-wap .experience,
#modal-edit-experience .topic-experience .experience-wap .btn-edit-experience {
  display: inline-block;
}
#modal-edit-experience .topic-experience .experience-wap.empty .btn-add-experience {
  display: block;
}
#modal-edit-experience .topic-experience .experience-wap.empty .experience,
#modal-edit-experience .topic-experience .experience-wap.empty .btn-edit-experience {
  display: none;
}
#modal-edit-experience .topic-experience .experience-wap.edit form {
  display: block;
}
#modal-edit-experience .topic-experience .experience-wap.edit .btn-add-experience,
#modal-edit-experience .topic-experience .experience-wap.edit .experience,
#modal-edit-experience .topic-experience .experience-wap.edit .btn-edit-experience {
  display: none;
}
#modal-edit-experience .topic-experience .btn-apply-experience {
  position: absolute;
  right: 0;
  top: 10px;
}
