@import "../utils";

.navbar {
  margin-bottom: 0;
}

.question-header {
  padding: 40px 0 30px 0;
  background-color: #F5F6F5;
  position: relative;

  .title-wap {
    margin-bottom: 15px;

    .title-inner-wap {
      display: block;

      .title {
        font-weight: bold;
        font-size: 24px;
      }

      .btn-edit-title {
        color: #999;
        margin-left: 10px;
      }

      &:hover {
        .btn-edit-title {
          display: inline-block;
        }
      }
    }

    input {
      width: 560px;
      vertical-align: middle;
      margin-right: 5px;
    }

    input,
    .btn-edit-title,
    .btn-save-title {
      display: none;
    }

    &.edit {
      .title-inner-wap {
        display: none;
      }

      input,
      .btn-save-title {
        display: inline-block;
      }
    }
  }

  .desc-wap {
    margin-bottom: 20px;

    .desc-inner-wap {
      display: block;

      .btn-edit-desc {
        visibility: hidden;
      }

      &:hover {
        .btn-edit-desc {
          visibility: visible;
        }
      }
    }

    textarea,
    .simditor,
    .btn-add-desc,
    .btn-save-desc {
      display: none;
    }

    &.edit {
      .btn-add-desc,
      .desc-inner-wap {
        display: none !important;
      }

      .btn-save-desc {
        display: inline-block;
      }

      .simditor {
        display: block;
      }
    }

    &.empty {
      .desc-inner-wap {
        display: none;
      }

      .btn-add-desc {
        display: inline-block;
      }
    }

    .simditor {
      margin-bottom: 15px;

      .simditor-body {
        padding: 15px 15px 40px 15px;
        min-height: 150px;
      }
    }
  }

  .topics-wap {
    .btn-add-topic,
    .btn-edit-topic,
    .btn-delete-topic,
    .form-wap {
      display: none;
    }

    .form-wap {
      margin-top: 10px;

      .twitter-typeahead {
        vertical-align: middle;
        margin-right: 5px;

        input {
          width: 250px;
        }
      }
    }

    .topics-inner-wap {
      display: inline-block;
    }

    .topic-wap {
      display: inline-block;
      margin: 0 10px 10px 0;

      .dc-topic-white {
        margin: 0;
      }

      .btn-delete-topic {
        color: #999;

        &:hover {
          color: #666;
        }
      }
    }

    &.edit {
      .btn-add-topic,
      .btn-edit-topic {
        display: none !important;
      }

      .btn-delete-topic {
        display: inline-block;
      }

      .form-wap {
        display: block;
      }
    }

    &.empty {
      .topics,
      .btn-edit-topic {
        display: none;
      }
      .btn-add-topic {
        display: block;
      }
    }

    .topics:hover {
      .btn-edit-topic {
        display: inline-block;
      }
    }
  }

  .col-md-4 {
    .commands {
      position: absolute;
      right: 0;
      top: 0;

      .dc-hide-commands-trigger {
        padding: 6px 10px;
        margin-left: 5px;

        .dc-hide-commands {
          top: 20px;
          padding-top: 18px;
        }
      }
    }

    .followers {
      position: absolute;
      right: 0;
      top: 50px;

      .follower {
        display: inline-block;
        margin: 0 0 5px 5px;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

.content-tabs {
  margin: 30px 0 25px 0;

  a {
    display: inline-block;
    color: #999;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;

    &.active {
      color: #333;
    }
  }

  .divider {
    color: #999;
    margin: 0 5px;
  }
}

.content-item {
  display: none;

  &.active {
    display: block;
  }
}

.answers {
  .answer {
    padding-top: 10px;
    padding-bottom: 30px;
    border-top: 1px solid @border-color;

    .media-left {
      img {
        width: 40px;
        height: 40px;
      }
    }

    .answerer-info {
      margin-bottom: 20px;

      .answerer {
        margin-bottom: 2px;

        .name {
          color: #333;
          font-weight: bold;
        }
      }
    }

    .answer-content {
      font-size: 16px;
      margin-bottom: 25px;
    }
  }

  .toogle-hided-answers-wap {
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    padding: 20px 0;
    font-size: 16px;
    color: #999;
  }
}

h3 {
  margin-top: 30px;
}

.invitation-wap {
  border: 1px solid #ddd;

  .header {
    padding: 15px 15px;
    border-bottom: 1px solid #ddd;

    .form-control {
      padding: 18px 12px;
    }
  }

  .recommend-wap {
    padding: 15px;
  }
}

.hided-answers {
  display: none;
}

.answered-tip-wap {
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  border-top: 1px solid @border-color;

  img {
    width: 40px;
    height: 40px;
    margin: 0 auto 20px auto;
    opacity: .4;
    display: block;
  }

  a {
    color: @main-color;
  }
}

.myself {
  margin-top: 25px;

  img {
    width: 40px;
    height: 40px;
  }

  .myself-info {
    margin-bottom: 3px;

    a {
      color: #333;
      font-weight: bold;
    }
  }

  .commands {
    .divider {
      margin: 0 3px;
    }
  }
}

form {
  margin-top: 18px;

  .tip-save-draft {
    color: #999;
  }

  .simditor {
    margin-bottom: 15px;

    .simditor-body {
      min-height: 200px;
    }
  }
}

.relevant-question {
  margin-bottom: 15px;

  .title {
    color: @main-color;
  }

  .answers-count {
    margin-left: 10px;
  }
}
