{% extends "layout.html" %}
{% from "macros/_form.html" import horizontal_field, form_submit, checkbox_field %}

{% block page_title %}提问{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>提问题</h1>

                <div class="add-question-wap first">
                    <form action="" class="first">
                        <input type="text" name="question" class="form-control"/>

                        <div class="similar-questions">
                        </div>

                        <label for="">
                            <input type="checkbox" name="anonymous"/> 匿名提问
                        </label>

                        <button type="button" class="btn-to-second btn btn-default">下一步</button>
                    </form>

                    <form action="" method="post" class="second">
                        {{ form.csrf_token() }}
                        {{ horizontal_field(form.title) }}
                        {{ horizontal_field(form.desc) }}
                        {{ checkbox_field(form.anonymous) }}

                        <p>
                            给问题添加话题
                            <span class="help-block">话题越精确，回答的质量越高</span>
                        </p>

                        <div class="form-group clearfix">
                            <label for="" class="col-sm-2 control-label">话题</label>

                            <div class="col-sm-10">
                                <div class="topics-wap">
                                    <div class="topics">
                                        <div class="topics-inner-wap"></div>
                                    </div>

                                    <div class="form-wap">
                                        <input type="text" name="search-topic" class="form-control"
                                               placeholder="搜索话题，回车添加"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn-to-first btn btn-default">
                            上一步
                        </button>

                        {{ form_submit('提交问题') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}