{% extends "layout.html" %}
{% from "macros/_topic.html" import render_topic_wap %}
{% from "macros/_question.html" import follow_question %}

{% block page_title %}{{ question.title }}{% endblock %}
{% block page_vars %}
    <script type="text/javascript">
        registerContext({
            questionId: {{ question.id }}
        });
    </script>
{% endblock %}
{% block page_content %}
    <div class="container">
        {{ follow_question(question) }}

        <h1>
            <div class="title-wap">
                <span class="title-inner-wap">
                    <span class="title">{{ question.title }}</span>
                    <a href="javascript: void(0)" class="btn-edit-title">编辑</a>
                </span>
                <input type="text" name="title"/>
                <a href="javascript: void(0)" class="btn-save-title">保存</a>
            </div>
        </h1>

        <div class="desc-wap {% if not question.desc %}empty{% endif %}">
            <span class="desc-inner-wap">
                <span class="desc">{{ (question.desc or "")|safe }}</span>
                <a href="javascript: void(0)" class="btn-edit-desc">编辑</a>
            </span>
            <textarea class="form-control" type="text" rows="3" name="desc"></textarea>
            <a href="javascript: void(0)" class="btn-save-desc">保存</a>
            <a href="javascript: void(0)" class="btn-add-desc">添加问题描述</a>
        </div>

        <div class="topics-wap {% if not question.topics.count() %}empty{% endif %}">
            <div class="topics">
                <div class="topics-inner-wap">
                    {% for topic in question.topics %}
                        {{ render_topic_wap(topic, attr="topic") }}
                    {% endfor %}
                </div>
                <a href="javascript: void(0)" class="btn-edit-topic">编辑</a>
            </div>

            <div class="form-wap">
                <input type="text" name="topic" placeholder="按回车添加"/>
                <a href="#" class="btn-finish-add-topic">完成</a>
            </div>

            <button type="button" class="btn btn-default btn-add-topic">
                <span class="fa fa-plus"></span> 添加话题
            </button>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div>
                    {{ question.answers.count() }}人回答

                    {% for answer in question.answers %}
                        <div class="answer">
                            <div class="answerer-info media">
                                <div class="media-left">
                                    <img src="{{ answer.user.avatar_url }}" class="img-circle" alt=""/>
                                </div>

                                <div class="media-body">
                                    <div>
                                        <a href="{{ url_for('people.profile', uid=answer.user.id) }}">
                                            {{ answer.user.name }}
                                        </a>{% if answer.user.desc %}，{{ answer.content }}{% endif %}
                                    </div>
                                    <div>{{ answer.content }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <form action="" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    <div class="form-group">
                        <textarea name="answer" id="" cols="30" rows="10" class="form-control"
                                  placeholder="在这里撰写答案"></textarea>
                    </div>

                    <button type="submit" class="btn btn-default btn-primary pull-right">
                        发布回答
                    </button>
                </form>
            </div>

            <div class="col-md-4">
                <a href="{{ url_for('question.log', uid=question.id) }}">问题日志</a>

                <h3>相关问题</h3>

                {% for relevant_question in question.relevant_questions %}
                    <div class="relevant-question">
                        <a href="{{ url_for('question.view', uid=relevant_question.id) }}">
                            {{ relevant_question.title }}</a>
                        <small>{{ relevant_question.answers.count() }} 回答</small>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}