{% extends "layout.html" %}
{% from "macros/_topic.html" import topic_wap %}
{% from "macros/_question.html" import question_follow_wap %}
{% from "macros/_answer.html" import render_answer_commands %}

{% block page_title %}{{ question.title }}{% endblock %}
{% block page_vars %}
    <script type="text/javascript">
        registerContext({
            questionId: {{ question.id }},
            answered: {% if answered %}true{% else %}false{% endif %}
        });
    </script>
{% endblock %}

{% macro _render_answers(answers) %}
    {% for answer in answers %}
        <div class="answer">
            <div class="answerer-info media">
                <div class="media-left">
                    <img src="{{ answer.user.avatar_url }}" class="img-circle" alt=""/>
                </div>

                <div class="media-body">
                    <div>
                        <a href="{{ answer.user.profile_url }}">
                            {{ answer.user.name }}
                        </a>{% if answer.user.desc %}，{{ answer.user.desc }}{% endif %}
                    </div>

                    <div>{{ answer.content|safe }}</div>

                    {{ render_answer_commands(answer) }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% block page_content %}
    <div class="container">
        {{ question_follow_wap(question, dark=True) }}

        <h1>
            <div class="title-wap">
                <span class="title-inner-wap">
                    <span class="title">{{ question.title }}</span>
                    <a href="javascript: void(0)" class="btn-edit-title">编辑</a>
                </span>
                <input type="text" name="title"/>
                <a href="javascript: void(0)" class="btn-save-title">保存</a>
            </div>
        </h1>

        <div class="desc-wap {% if not question.desc %}empty{% endif %}">
            <span class="desc-inner-wap">
                <span class="desc">{{ (question.desc or "")|safe }}</span>
                <a href="javascript: void(0)" class="btn-edit-desc">编辑</a>
            </span>
            <textarea class="form-control" type="text" rows="3" name="desc"></textarea>
            <a href="javascript: void(0)" class="btn-save-desc">保存</a>
            <a href="javascript: void(0)" class="btn-add-desc">添加问题描述</a>
        </div>

        {#        <div class="meta">#}
        {#            <span>#}
        {#                <span class="fa fa-comment-o"></span> 评论 {{ question.comments.count() }}#}
        {#            </span>#}

        <div class="topics-wap {% if not question.topics.count() %}empty{% endif %}">
            <div class="topics">
                <div class="topics-inner-wap">
                    {% for topic in question.topics %}
                        {{ topic_wap(topic, attr="topic") }}
                    {% endfor %}
                </div>
                <a href="javascript: void(0)" class="btn-edit-topic">编辑</a>
            </div>

            <div class="form-wap">
                <input type="text" name="topic" placeholder="按回车添加"/>
                <a href="#" class="btn-finish-add-topic">完成</a>
            </div>

            <button type="button" class="btn btn-default btn-add-topic">
                <span class="fa fa-plus"></span> 添加话题
            </button>
        </div>
        {#        </div>#}

        <div class="row">
            <div class="col-md-8">
                <div>
                    {% set answers_count = question.answers.count() %}

                    {{ answers_count }}人回答

                    {% if answers_count %}
                        {{ _render_answers(answers) }}

                        {% if hided_answers.count() %}
                            <a href="javascript:void(0)" class="btn-toggle-hided-answers">
                                {{ hided_answers.count() }} 个回答被折叠
                            </a>
                            （<a target="_blank" href="http://www.zhihu.com/question/20120168">为什么</a>）
                        {% endif %}

                        <div class="hided-answers">
                            {{ _render_answers(answers) }}
                        </div>
                    {% else %}
                        {# 邀请回答 #}
                    {% endif %}
                </div>

                {% if answered %}
                    <p class="help-block">你已经回答过此问题</p>
                {% else %}
                    <a name="draft"></a>
                    <a name="answer"></a>
                    <form action="" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                        <div class="form-group">
                        <textarea name="answer" id="" cols="30" rows="10" class="form-control"
                                  placeholder="在这里撰写答案">{{ draft or "" }}</textarea>
                        </div>
                        <div class="help-block tip-save-draft"></div>

                        <button type="submit" class="btn btn-default btn-primary pull-right">
                            发布回答
                        </button>
                    </form>
                {% endif %}
            </div>

            <div class="col-md-4">
                <a href="{{ url_for('question.logs', uid=question.id) }}">问题日志</a>

                <h3>相关问题</h3>

                {% for relevant_question in question.relevant_questions %}
                    <div class="relevant-question">
                        <a href="{{ url_for('question.view', uid=relevant_question.id) }}">
                            {{ relevant_question.title }}</a>
                        <small>{{ relevant_question.answers.count() }} 回答</small>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}