{% extends "layout.html" %}
{% from "macros/_topic.html" import topic_wap %}
{% from "macros/_question.html" import question_follow_wap %}
{% from "macros/_answer.html" import render_answer_in_question %}

{% block page_title %}{{ question.title }}{% endblock %}
{% block page_vars %}
    <script type="text/javascript">
        registerContext({
            questionId: {{ question.id }},
            answered: {% if answered %}true{% else %}false{% endif %}
        });
    </script>
{% endblock %}

{% block page_content %}
    <div class="question-header">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {# 标题 #}
                    <div class="title-wap">
                        <span class="title-inner-wap">
                            <span class="title">{{ question.title }}</span>
                            <a href="javascript: void(0)" class="btn-edit-title">编辑</a>
                        </span>
                        <input type="text" name="title" class="form-control input-title"/>
                        <a href="javascript: void(0)" class="btn-save-title btn btn-default">保存</a>
                    </div>

                    {# 描述 #}
                    <div class="desc-wap {% if not question.desc %}empty{% endif %}">
                        <span class="desc-inner-wap">
                            <span class="desc">{{ (question.desc or "")|safe }}</span>
                            <a href="javascript: void(0)" class="btn-edit-desc text-light">编辑</a>
                        </span>
                        <textarea type="text" name="desc"></textarea>
                        <a href="javascript: void(0)" class="btn-save-desc btn btn-default">保存</a>
                        <a href="javascript: void(0)" class="btn-add-desc text-light">添加问题描述</a>
                    </div>

                    {# 话题 #}
                    <div class="topics-wap {% if not question.topics.count() %}empty{% endif %}">
                        <div class="topics">
                            <div class="topics-inner-wap">
                                {% for topic in question.topics %}
                                    {{ topic_wap(topic, attr="topic") }}
                                {% endfor %}
                            </div>
                            <a href="javascript: void(0)" class="btn-edit-topic text-light">编辑</a>
                        </div>

                        <div class="form-wap">
                            <input type="text" name="topic" class="form-control" placeholder="搜索话题，回车添加"/>
                            <a href="javascript:void(0)" class="btn-finish-add-topic btn btn-default">完成</a>
                        </div>

                        <a type="button" href="javascript: void(0)" class="btn-add-topic text-light">添加话题</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="commands">
                        {{ question_follow_wap(question, dark=True) }}

                        <button type="button" class="dc-hide-commands-trigger btn btn-default">
                            <span class="fa fa-chevron-down"></span>

                            <div class="dc-hide-commands">
                                <a href="#">问题重定向</a>
                                <a href="#">使用匿名身份</a>
                                <a href="{{ url_for('question.logs', uid=question.id) }}">查看问题日志</a>
                            </div>
                        </button>
                    </div>

                    <div class="followers">
                        {% for follower in followers %}
                            <a href="{{ follower.user.profile_url }}" class="follower">
                                <img src="{{ follower.user.avatar_url }}" class="img-circle" alt=""/>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% set answers_count = question.answers.count() %}

                <div class="content-tabs clearfix">
                    <a href="javascript: void(0)" class="{% if answers_count %}active{% endif %} answers-tab-item"
                       data-target="answers">
                        <span class="answers-count">{{ answers_count }}</span> 人回答</a>
                    <span class="divider">·</span>
                    <a href="javascript: void(0)" class="{% if not answers_count %}active{% endif %}"
                       data-target="invitation-wap">邀请回答</a>
                </div>

                <div class="answers content-item {% if answers_count %}active{% endif %}">
                    <div class="showed-answers">
                        {% for answer in answers %}
                            {{ render_answer_in_question(answer) }}
                        {% endfor %}
                    </div>

                    {% if hided_answers.count() %}
                        <div class="toogle-hided-answers-wap">
                            <a href="javascript:void(0)" class="btn-toggle-hided-answers text-light">
                                {{ hided_answers.count() }} 个回答被折叠
                            </a>（<a target="_blank" class="text-light"
                                    href="http://www.zhihu.com/question/20120168">为什么？</a>）
                        </div>

                        <div class="hided-answers">
                            {% for answer in hided_answers %}
                                {{ render_answer_in_question(answer) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="invitation-wap content-item {% if not answers_count %}active{% endif %}">
                    <div class="header">
                        <input type="text" name="user" class="form-control"
                               placeholder="通过话题经验关键词（如：产品经理）或用户名来查找邀请用户"/>
                    </div>
                    <div class="recommend-wap">
                    </div>
                </div>

                {% if answered %}
                    <div class="answered-tip-wap">
                        <img src="{{ g.user.avatar_url }}" alt="" class="img-circle"/>

                        <p class="help-block">
                            你已经回答过此问题，你可以对
                            <a href="{{ url_for('question.view', uid=question.id) }}#answer{{ my_answer_id }}">现有的回答</a>
                            进行修改，或者 <a href="#">直接分享</a></p>
                    </div>

                {% elif g.user %}
                    {# 回答表单 #}
                    <div class="new-answer-wap">
                        <a name="draft"></a>
                        <a name="answer"></a>

                        <div class="media myself">
                            <div class="media-left">
                                <a href="{{ g.user.profile_url }}">
                                    <img src="{{ g.user.avatar_url }}" alt="" class="img-circle"/>
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="myself-info">
                                    <a href="{{ g.user.profile_url }}">{{ g.user.name }}</a>
                                    {% if g.user.desc %}，{{ g.user.desc }}{% endif %}
                                </div>
                                <div class="commands text-light">
                                    <a class="btn-edit-identity text-light" href="javascript: void(0)">修改显示身份</a>
                                    <span class="divider">·</span>
                                    <a class="btn-edit-experience text-light" href="javascript: void(0)">编辑话题经验</a>
                                </div>
                            </div>
                        </div>

                        <form action="" class="answer-form" method="post">
                            <input type="hidden" name="identity"/>
                            <input type="hidden" name="experience"/>
                        <textarea name="answer" id="" cols="30" rows="10" class="form-control"
                                  placeholder="在这里撰写答案">{{ draft or "" }}</textarea>

                            <span class="tip-save-draft"></span>
                            <button type="button" class="btn btn-primary btn-submit-answer pull-right">
                                发布回答
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-4">
                <h3>相关问题</h3>

                {% for relevant_question in question.relevant_questions %}
                    <div class="relevant-question">
                        <a href="{{ url_for('question.view', uid=relevant_question.id) }}" class="title">
                            {{ relevant_question.title }}</a>
                        <span class="text-light answers-count">{{ relevant_question.answers_count }} 回答</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
