{% extends "layout.html" %}
{% from "macros/_user.html" import user_page_header %}
{% from "macros/_answer.html" import render_answers %}

{% block page_title %}回答 - {{ user.name }}{% endblock %}
{% block page_js %}
    <script src="/static/js/user/answers.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/user/answers.css?__inline"/>{% endblock %}
{% block page_content %}
    <div class="container">
        {{ user_page_header(user, active='answers') }}

        <div class="row">
            <div class="col-md-8">
                <h3>回答</h3>
                {{ render_answers(user.answers) }}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}
