{% extends "layout.html" %}
{% from "macros/_user.html" import user_page_header %}

{% block page_title %}收藏 - {{ user.name }}{% endblock %}
{% block page_js %}
    <script src="/static/js/user/collects.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/user/collects.css?__inline"/>{% endblock %}
{% block page_content %}
    <div class="container">
        {{ user_page_header(user, active='collects') }}

        <div class="row">
            <div class="col-md-8">
                收藏
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}
