{% extends "layout.html" %}
{% from "macros/_topic.html" import render_expert_topic_in_compose_page %}
{% from "macros/_user.html" import compose_drafts_page_header %}

{% macro render_compose_feed(feed) %}
    {% set question = feed.question %}

    {% if feed.kind == COMPOSE_FEED_KIND.INVITE_TO_ANSWER %}
        {% set is_invited = True %}
    {% elif feed.kind == COMPOSE_FEED_KIND.WAITING_FOR_ANSWER_QUESTION_FROM_EXPERT_TOPIC
            or feed.kind == COMPOSE_FEED_KIND.WAITING_FOR_ANSWER_QUESTION_FROM_ALL
            or feed.kind == COMPOSE_FEED_KIND.WAITING_FOR_ANSWER_QUESTION_FROM_ANSWERD_TOPIC %}
        {% set is_invited = False %}
    {% endif %}

    <div class="question-wap">
        <div class="question">
            {% if is_invited %}
                {% set inviter = feed.invitation.user %}

                <div class="action text-light">
                    <a href="{{ inviter.profile_url }}">
                        <img src="{{ inviter.avatar_url }}" alt="" class="img-circle"/>
                    </a> <a href="{{ inviter.profile_url }}" class="name">{{ inviter.name }}</a> 邀请你回答问题
                    <span class="divider">·</span>
                    <span class="time">{{ feed.created_at|timesince }}</span>
                </div>
            {% else %}
                <div class="topics">
                    {% for topic in question.topics %}
                        {% set topic = topic.topic %}
                        <a href="{{ url_for('topic.view', uid=topic.id) }}" class="dc-topic">
                            {{ topic.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="title">
                <a href="{{ url_for('question.view', uid=question.id) }}">{{ question.title }}</a>
            </div>

            <div class="desc">
                {{ question.desc|safe }}
            </div>

            <div class="meta text-light">
                {% if question.answers_count %}
                    {{ question.answers_count }} 个回答
                {% else %}
                    还没有回答
                {% endif %}

                <span class="divider">·</span>

                <span class="time">提问于 {{ question.created_at|timesince }}</span>
            </div>

            <div class="commands">
                {#                {% if not question.answered_by_user() %}#}
                <a href="{{ url_for('question.view', uid=question.id) }}#answer" class="btn btn-light">
                    写答案</a>

                <a href="javascript: void(0)" class="btn btn-white btn-ignore-feed" data-id="{{ feed.id }}">忽略</a>
                {#                {% endif %}#}

                <a href="javascript: void(0)" class="{% if question.followed_by_user() %}followed{% endif %}
                text-light btn-follow-question" data-id="{{ question.id }}">
                    <span class="for-non-followed">+ 关注问题</span>
                    <span class="for-followed">已关注</span>
                    <span class="followers-count">{{ question.followers_count }}</span>
                </a>
            </div>
        </div>

        <div class="ignore-tip text-light">
            {% if is_invited %}
                已忽略 {{ inviter.name }} 的邀请
            {% else %}
                已忽略该问题
            {% endif %}

            <span class="divider">·</span>
            <a href="javascript: void(0)" data-id="{{ feed.id }}" class="btn-recover-feed text-light">撤销</a>
        </div>
    </div>
{% endmacro %}

{% block page_title %}撰写{% endblock %}
{% block page_js %}
    <script src="/static/js/user/compose.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/user/compose.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ compose_drafts_page_header() }}

                {% for feed in feeds %}
                    {{ render_compose_feed(feed) }}
                {% endfor %}
            </div>

            <div class="col-md-4">
                <h3 class="no-margin-top">擅长话题</h3>

                <div class="expert-topics-outer-wap {% if g.user.expert_topics.count() == 8 %}full{% endif %}">
                    <div class="expert-topics">
                        {% for expert_topic in g.user.expert_topics %}
                            {{ render_expert_topic_in_compose_page(expert_topic) }}
                        {% endfor %}
                    </div>

                    <div class="add-expert-topic-wap">
                        <a href="javascript: void(0)" class="btn-add-expert-topic" title="添加擅长话题"
                           data-placement="right">
                            <span class="fa fa-plus"></span>
                        </a>

                        <form class="form-wap">
                            <input type="text" name="topic" class="form-control" placeholder="搜索话题，回车添加"/>

                            <div class="commands">
                                <button type="button" class="btn btn-sm btn-default btn-finish-expert-topic">完成</button>
                            </div>
                        </form>
                    </div>

                    <div class="text-light full-tip">最多设置 8 个擅长话题</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
