{% extends "layout.html" %}
{% from "macros/_user.html" import compose_drafts_page_header, render_user_expert_topics, render_compose_feeds %}
{% from "macros/_utils.html" import loading %}

{% block page_title %}撰写{% endblock %}
{% block page_js %}
    <script src="/static/js/user/compose.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/user/compose.css?__inline"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ compose_drafts_page_header() }}

                <div class="compose-feeds-wap">
                    {{ render_compose_feeds(feeds) }}
                </div>

                {{ loading(total, per, '.compose-feeds-wap', url_for('user.loading_compose_feeds')) }}
            </div>

            <div class="col-md-4">
                <h3 class="no-margin-top">擅长话题</h3>

                {{ render_user_expert_topics(g.user) }}
            </div>
        </div>
    </div>
{% endblock %}
