{% extends "layout.html" %}
{% from "macros/_user.html" import compose_drafts_page_header, render_drafts %}
{% from "macros/_utils.html" import loading %}

{% block page_title %}草稿{% endblock %}
{% block page_js %}
    <script src="/static/js/user/drafts.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/user/drafts.css?__inline"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ compose_drafts_page_header(active='drafts') }}

                <div class="drafts">
                    {{ render_drafts(drafts) }}
                </div>

                {{ loading(total, per, '.drafts', url_for('user.loading_drafts')) }}
            </div>
        </div>
    </div>
{% endblock %}
