{% extends "layout.html" %}
{% from "macros/_user.html" import user_page_header %}

{% block page_title %}公共编辑 - {{ user.name }}{% endblock %}
{% block page_js %}
    <script src="/static/js/user/edits.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/user/edits.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        {{ user_page_header(user, active='edits') }}

        <div class="row">
            <div class="col-md-8">
                公共编辑
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}
