{% extends "layout.html" %}
{% from "macros/_user.html" import user_page_header %}

{% block page_title %}关注 - {{ user.name }}{% endblock %}
{% block page_content %}
    <div class="container">
        {{ user_page_header(user, active='followings') }}

        <div class="row">
            <div class="col-md-8">
                {% for following in user.followings %}
                    <a href="{{ url_for('user.profile', uid=following.following.id) }}">
                        <img src="{{ following.following.avatar_url }}" alt=""/>
                    </a>
                {% endfor %}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}
