{% extends "layout.html" %}
{% from "macros/_user.html" import user_page_header %}

{% block page_title %}关注 - {{ user.name }}{% endblock %}
{% block page_js %}
    <script src="/static/js/user/followings.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/user/followings.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        {{ user_page_header(user, active='followings') }}

        <div class="row">
            <div class="col-md-8">
                {% for following in user.followings %}
                    <a href="{{ following.following.profile_url }}">
                        <img src="{{ following.following.avatar_url }}" alt="" class="dc-show-user-card"
                             data-id="{{ following.following_id }}"/>
                    </a>
                {% endfor %}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}
