{% extends "layout.html" %}
{% from "macros/_user.html" import user_page_header %}

{% block page_title %}关注 - {{ user.name }}{% endblock %}
{% block page_js %}
    <script src="/static/js/user/followings.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/user/followings.css?__inline"/>{% endblock %}
{% block page_content %}
    {{ user_page_header(user, with_tabs=False) }}

    <div class="container">
        <div class="title text-light">{{ user.name }}关注的人</div>

        <div class="followings">
            {% for following in followings %}
                <div class="following">
                    <a href="{{ following.following.profile_url }}">
                        <img src="{{ following.following.avatar_url }}" alt="" class="dc-show-user-card img-circle"
                             data-id="{{ following.following_id }}"/></a>

                    <div class="name">
                        <a href="{{ following.following.profile_url }}" class="dc-show-user-card"
                           data-id="{{ following.following_id }}">
                            {{ following.following.name }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
