{% extends "layout.html" %}
{% from "macros/_user.html" import user_page_header %}

{% block page_title %}关注者 - {{ user.name }}{% endblock %}
{% block page_js %}
    <script src="/static/js/user/followers.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/user/followers.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        {{ user_page_header(user, active='followers') }}

        <div class="row">
            <div class="col-md-8">
                {% for follower in user.followers %}
                    <a href="{{ follower.follower.profile_url }}">
                        <img src="{{ follower.follower.avatar_url }}" alt="" class="dc-show-user-card"
                             data-id="{{ follower.follower_id }}"/>
                    </a>
                {% endfor %}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}
