{% extends "layout.html" %}
{% from "macros/_user.html" import user_page_header %}

{% block page_title %}关注者 - {{ user.name }}{% endblock %}
{% block page_content %}
    <div class="container">
        {{ user_page_header(user, active='followers') }}

        <div class="row">
            <div class="col-md-8">
                {% for follower in user.followers %}
                    <a href="{{ follower.follower.profile_url }}">
                        <img src="{{ follower.follower.avatar_url }}" alt=""/>
                    </a>
                {% endfor %}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}
