{% extends "layout.html" %}
{% from "macros/_user.html" import render_followed_questions %}
{% from "macros/_utils.html" import loading %}

{% block page_title %}我关注的问题{% endblock %}
{% block page_js %}
    <script src="/static/js/user/followed_questions.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/user/followed_questions.css?__inline"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <h3>关注的问题</h3>

        <div class="followed-questions-wap">
            {{ render_followed_questions(questions) }}
        </div>

        {{ loading(total, per, '.followed-questions-wap', url_for('user.loading_followed_questions')) }}
    </div>
{% endblock %}
