{% extends "layout.html" %}
{% from "macros/_user.html" import user_page_header %}

{% block page_title %}关注者 - {{ user.name }}{% endblock %}
{% block page_js %}
    <script src="/static/js/user/followers.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/user/followers.css?__inline"/>{% endblock %}
{% block page_content %}
    {{ user_page_header(user, with_tabs=False) }}

    <div class="container">
        <div class="title text-light">{{ user.name }}被这些人关注</div>

        <div class="followers">
            {% for follower in followers %}
                <div class="follower">
                    <a href="{{ follower.follower.profile_url }}">
                        <img src="{{ follower.follower.avatar_url }}" alt="" class="dc-show-user-card img-circle"
                             data-id="{{ follower.follower_id }}"/></a>

                    <div class="name">
                        <a href="{{ follower.follower.profile_url }}" class="dc-show-user-card"
                           data-id="{{ follower.follower_id }}">
                            {{ follower.follower.name }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
