{% extends "layout.html" %}
{% from "macros/_user.html" import render_all_notifications %}
{% from "macros/_utils.html" import loading %}

{% block page_title %}全部消息{% endblock %}
{% block page_js %}
    <script src="/static/js/user/notifications.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/user/notifications.css?__inline"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <h3>全部消息</h3>

        <div class="notifications-wap">
            {{ render_all_notifications(notifications) }}
        </div>

        {{ loading(total, per, '.notifications-wap', url_for('user.loading_notifications')) }}
    </div>
{% endblock %}
