{% extends "layout.html" %}
{% from "macros/_user.html" import user_page_header %}
{% from "macros/_topic.html" import render_expert_topics %}
{% from "macros/_answer.html" import render_answer_commands %}

{% block page_title %}{{ user.name }}{% endblock %}
{% macro render_answer(answer) %}

{% endmacro %}
{% block page_content %}
    <div class="container">
        {{ user_page_header(user) }}

        <div class="row">
            <div class="col-md-8">
                <h3>动态</h3>

                {% for feed in user.feeds %}
                    <div class="home-feed">
                        {# 提问 #}
                        {% if feed.kind == USER_FEED_KIND.ASK_QUESTION %}
                            <div class="meta">
                                <span>提出了问题</span>
                                &nbsp;&nbsp;
                                <span>{{ feed.created_at|timesince }}</span>
                            </div>
                            <div class="content">
                                <a href="{{ url_for('question.view', uid=feed.question_id) }}">
                                    {{ feed.question.title }}
                                </a>
                            </div>
                        {% elif feed.kind == USER_FEED_KIND.ANSWER_QUESTION %}
                            <div class="meta">
                                <span>回答了问题</span>
                                &nbsp;&nbsp;
                                <span>{{ feed.created_at|timesince }}</span>
                            </div>
                            <div class="content">
                                <a href="{{ url_for('question.view', uid=feed.answer.question_id) }}">
                                    {{ feed.answer.question.title }}
                                </a>

                                <div>{{ feed.answer.content|safe }}</div>
                            </div>
                        {% elif feed.kind == USER_FEED_KIND.UPVOTE_ANSWER %}
                            <div class="meta">
                                <span>赞同了回答</span>
                                &nbsp;&nbsp;
                                <span>{{ feed.created_at|timesince }}</span>
                            </div>
                            <div class="content">
                                <a href="{{ url_for('question.view', uid=feed.answer.question_id) }}">
                                    {{ feed.answer.question.title }}
                                </a>

                                by
                                <a href="{{ feed.answer.user.profile_url }}">
                                    {{ feed.answer.user.name }}
                                </a>

                                <div>{{ feed.answer.content|safe }}</div>
                            </div>
                        {% elif feed.kind == USER_FEED_KIND.FOLLOW_QUESTION %}
                            <div class="meta">
                                <span>关注了问题</span>
                                &nbsp;&nbsp;
                                <span>{{ feed.created_at|timesince }}</span>
                            </div>
                            <div class="content">
                                <a href="{{ url_for('question.view', uid=feed.question_id) }}">
                                    {{ feed.question.title }}
                                </a>
                            </div>
                        {% elif feed.kind == USER_FEED_KIND.FOLLOW_TOPIC %}
                            <div class="meta">
                                <span>关注了话题</span>
                                &nbsp;&nbsp;
                                <span>{{ feed.created_at|timesince }}</span>
                            </div>
                            <div class="content">
                                <a href="{{ url_for('topic.view', uid=feed.topic_id) }}">
                                    {{ feed.topic.name }}
                                </a>
                            </div>
                        {% endif %}
                        <hr/>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h3>擅长话题</h3>

                {{ render_expert_topics(user.expert_topics) }}
            </div>
        </div>
    </div>
{% endblock %}
