{% extends "layout.html" %}
{% from "macros/_topic.html" import render_expert_topics %}
{% from "macros/_user.html" import user_page_header, user_follow_wap, render_home_feeds %}

{% block page_title %}{{ user.name }}{% endblock %}
{% block page_content %}
    {{ user_page_header(user, preview=preview) }}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ render_home_feeds(user.feeds) }}
            </div>
            <div class="col-md-4">
                <h3>擅长话题</h3>

                {{ render_expert_topics(user.expert_topics) }}
            </div>
        </div>
    </div>
{% endblock %}
