{% extends "layout.html" %}
{% from "macros/_user.html" import user_page_header, render_home_feeds %}
{% from "macros/_topic.html" import render_expert_topics %}


{% block page_title %}问答 - {{ user.name }}{% endblock %}
{% block page_js %}
    <script src="/static/js/user/questions_and_answers.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/user/questions_and_answers.css"/>{% endblock %}
{% block page_content %}
    {{ user_page_header(user, active='questions_and_answers', avatar_uptoken=avatar_uptoken,
        background_uptoken=background_uptoken) }}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ render_home_feeds(feeds) }}
            </div>

            <div class="col-md-4">
                <h3>擅长话题</h3>

                {{ render_expert_topics(user.expert_topics) }}
            </div>
        </div>
    </div>
{% endblock %}
