<!doctype html>
<html id="{{ page_id(self) }}">
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="csrf-token" content="{{ csrf_token() }}"/>
    {% block meta %}{% endblock %}
    <link rel="Shortcut Icon" href="{{ static('image/favicon.png') }}">
    {{ libs_css() }}
    {{ app_css(self) }}
    <script type="text/javascript">
        var g = {
            domain: "{{ config.SITE_DOMAIN }}",
            csrfToken: "{{ csrf_token() }}",
            rules: {{ rules|safe }},
            method: "{{ request.method }}",
            signin: {% if g.user %}true{% else %}false{% endif %},
            userId: {% if g.user %}{{ g.user.id }}{% else %}false{% endif %}
        };
    </script>
    {{ libs_js() }}
</head>
<body>

{# Flash message #}
{% with message = get_flashed_messages()[0] %}
    {% if message %}
        <div class="alert alert-info flash-message">{{ message }}</div>
    {% endif %}
{% endwith %}

<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#dc-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('site.index') }}">
            电场
        </a>
    </div>

    <div class="collapse navbar-collapse" id="dc-navbar-collapse">
        <form class="navbar-form navbar-left" role="search" method="get" action="{{ url_for('site.search') }}">
            <input type="text" name="q" class="form-control input-sm" value="{{ q or "" }}"
                   placeholder="" autocomplete="off">
            <span class="fa fa-search search-icon"></span>
            <span class="help-text">回车搜索</span>
        </form>

        <ul class="nav navbar-nav">
            <li id="nav-index">
                <a href="{{ url_for('site.index') }}">首页</a>
            </li>
            <li id="nav-compose">
                <a href="{{ url_for('user.compose') }}">撰写</a>
            </li>
        </ul>

        <a href="javascript: void(0)"
           class="btn btn-default navbar-btn pull-right btn-ask-question">
            <span class="fa fa-plus"></span> 提问题
        </a>

        <ul class="nav navbar-nav pull-right">
            {% if g.user %}
                <li id="nav-notification">
                    <a href="javascript: void(0)">
                        <span class="no-notifications"></span>
                        <span class="notifications-count">2</span>
                    </a>
                </li>
                <li id="nav-settings">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ g.user.name }}
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ g.user.profile_url }}">我的主页</a>
                        </li>
                        <li>
                            <a href="{{ url_for('user.drafts') }}">我的草稿</a>
                        </li>
                        <li>
                            <a href="{{ url_for('user.compose') }}">邀请我回答的问题</a>
                        </li>
                        <li>
                            <a href="{{ url_for('user.followed_questions') }}">我关注的问题</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ url_for('account.settings') }}">设置</a>
                        </li>
                        <li>
                            <a href="{{ url_for('account.signout') }}">退出账号</a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li id="nav-signin">
                    <a href="{{ url_for('account.signin') }}">注册 / 登录</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div id="main-wap">
    {% block page_content %}{% endblock %}
</div>

{#<div id="footer">#}
{#    <div class='container'>#}
{#        <div id='copyright' class="pull-left">#}
{#            © 2015 电场#}
{#        </div>#}
{##}
{#        <ul id='links' class="pull-right list-unstyled list-inline">#}
{#            <li><a href="{{ url_for('site.about') }}">关于</a></li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}

{# 提问modal #}
<div class="ask-question-bg">
    <div class="title">提问题</div>

    <div class="ask-question-wap first">
        <form action="" class="first-form">
            <div class="input-wap">
                <input type="text" name="question" class="form-control" placeholder="用一句话说清你的问题，以问号结尾"/>
            </div>

            <div class="similar-questions"></div>

            <div class="commands-wap">
                <label for="first-anonymous">
                    <input type="checkbox" name="anonymous" id="first-anonymous"/> 匿名提问
                </label>

                <button type="button" class="btn-to-second btn btn-primary">下一步</button>
            </div>
        </form>

        <form action="" method="post" class="second-form">
            <div class="question-header-wap">
                <div class="question-title"></div>
                <input type="hidden" name="title"/>
                <a href="javascript:void(0)" class="text-light btn-add-question-desc">+ 补充问题描述</a>
                <textarea name="desc" rows="4" class="form-control"></textarea>
            </div>

            <div class="topics-wap">
                <div class="topics-header">
                    给问题添加话题
                    <span class="tip text-light">话题越精确，回答的质量越高</span>
                </div>

                <div class="topics"></div>

                <input type="text" name="search-topic" class="form-control"
                       placeholder="搜索话题，回车添加"/>
            </div>

            <div class="commands-wap">
                <a href="javascript: void(0)" class="btn-to-first text-light">
                    上一步
                </a>

                <label>
                    <input type="checkbox" name="anonymous" id="second-a"> 匿名提问
                </label>

                <button type="button" class="btn btn-primary btn-submit-question">提交问题</button>
            </div>
        </form>
    </div>

    <span class="btn-close-bg">x</span>
</div>

{# Inject vars on g for single page #}
{% block page_vars %}{% endblock %}

{# Layout js and page js #}
{{ app_js(self) }}

{# Access analysis #}
{# TODO #}
</body>
</html>