<!doctype html>
<html id="{{ page_id(self) }}">
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="csrf-token" content="{{ csrf_token() }}"/>
    {% block meta %}{% endblock %}
    <link rel="Shortcut Icon" href="{{ static('image/favicon.png') }}">
    {{ app_css(self) }}
    <script type="text/javascript">
        var g = {
            domain: "{{ config.SITE_DOMAIN }}",
            csrfToken: "{{ csrf_token() }}",
            rules: {{ rules|safe }},
            method: "{{ request.method }}",
            signin: {% if g.user %}true{% else %}false{% endif %}
        };
    </script>
    {{ libs_js() }}
</head>

<body>

{# Flash message #}
{% with message = get_flashed_messages()[0] %}
    {% if message %}
        <div class="alert alert-info flash-message">{{ message }}</div>
    {% endif %}
{% endwith %}

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('site.index') }}">
                电场
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-left" role="search" method="get" action="{{ url_for('site.search') }}">
                <div class="input-group">
                    <input type="text" name="q" class="form-control input-sm"
                           placeholder="搜索问题、话题、回答和人">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
            </form>

            <ul class="nav navbar-nav">
                <li id="nav-index">
                    <a href="{{ url_for('site.index') }}">首页</a>
                </li>
                {#                <li id="nav-square">#}
                {#                    <a href="{{ url_for('topic.square') }}">话题广场</a>#}
                {#                </li>#}
            </ul>

            <a href="{{ url_for('question.add') }}"
               class="btn btn-primary navbar-btn navbar-right">
                <span class="fa fa-plus"></span> 提问
            </a>

            <ul class="nav navbar-nav navbar-right">
                {% if g.user %}
                    <li id="nav-noti">
                        <a href="#">
                            <span class="fa fa-bell-o"></span>
                        </a>
                    </li>
                    <li id="nav-settings">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ g.user.name }} <span class="fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ url_for('people.profile', uid=g.user.id) }}">我的主页</a>
                            </li>
                            <li>
                                <a href="{{ url_for('account.settings') }}">个人设置</a>
                            </li>
                            <li>
                                <a href="{{ url_for('account.signout') }}">登出</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li id="nav-signin">
                        <a href="{{ url_for('account.signin') }}">Sign in</a>
                    </li>
                    <li id="nav-signup">
                        <a href="{{ url_for('account.signup') }}">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div id="main-wap">
    {% block page_content %}{% endblock %}
</div>

<div id="footer">
    <div class='container'>
        <div id='copyright' class="pull-left">
            © 2015 电场
        </div>

        <ul id='links' class="pull-right list-unstyled list-inline">
            <li><a href="{{ url_for('site.about') }}">关于</a></li>
        </ul>
    </div>
</div>

{# Inject vars on g for single page #}
{% block page_vars %}{% endblock %}

{# Layout js and page js #}
{{ page_js(self) }}

{# Access analysis #}
{# TODO #}

</body>
</html>