@import "../utils";

.action {
  margin-bottom: 10px;

  img {
    width: 20px;
    height: 20px;
  }

  .name {
    color: #999;
    margin-left: 2px;
  }
}

.right-wap {
  .hot-topics-wap {
    display: block;
  }

  &.need-guide {
    .hot-topics-wap {
      display: none;
    }
  }

  &.at-guide-step-1 {
    .guide-step-1 {
      display: block;
    }
  }
  &.at-guide-step-2 {
    .guide-step-2 {
      display: block;
    }
  }
  &.at-guide-step-3 {
    .guide-step-3 {
      display: block;
    }
  }
  &.at-guide-step-4 {
    .guide-step-4 {
      display: block;
    }
  }
  &.at-guide-step-5 {
    .guide-step-5 {
      display: block;
    }
  }
  &.at-guide-step-6 {
    .guide-step-6 {
      display: block;
    }
  }
}

.hot-topic {
  margin-bottom: 15px;

  .avatar-wap {
    img {
      width: 25px;
      height: 25px;
      border-radius: 2px;
    }
  }

  .name {
    color: @main-color;
    margin-left: 5px;
  }
}

.guide-step {
  display: none;
  border: 2px solid #51B800;
  padding: 15px 20px 20px 20px;
  border-radius: 3px;
  position: relative;
  width: 270px;

  &.stick {
    position: fixed;
    top: 40px;
  }

  .title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #e3e3e3;
  }

  .content {
    padding: 20px 0;

    p {
      margin-bottom: 15px;
    }
  }

  .btn-next-step {
    color: #51B800;
    background-color: #e3f4d6;
    border-color: #e3f4d6;
    font-weight: bold;

    &:hover,
    &:focus {
      color: #51B800;
      background-color: darken(#e3f4d6, 5%);
      border-color: darken(#e3f4d6, 5%);
    }
  }

  &.with-arrow {
    &:after, &:before {
      right: 100%;
      top: 50px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(51, 51, 51, 0);
      border-right-color: #fff;
      border-width: 15px;
      margin-top: -15px;
    }

    &:before {
      border-color: rgba(81, 184, 0, 0);
      border-right-color: #51B800;
      border-width: 18px;
      margin-top: -18px;
    }
  }
}

.upvote-wap {
  position: relative;
}
