nav,
#footer {
  display: none;
}
.left-wap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 42%;
  background-color: #252e3c;
}
.left-wap .inner-wap {
  overflow: hidden;
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.left-wap .logo-wap {
  position: absolute;
  top: 200px;
  right: 120px;
}
.left-wap .logo-wap .name {
  font-size: 56px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
.left-wap .logo-wap .desc {
  color: #959eac;
  font-size: 16px;
  margin-bottom: 50px;
}
.left-wap .logo-wap .btn-go-to-signin-signup {
  font-size: 18px;
  font-weight: bold;
  background-color: #00cc99;
  color: white;
  border: none;
  padding: 10px 25px;
}
.left-wap .logo-wap .btn-go-to-signin-signup:hover {
  background-color: #00b386;
}
.left-wap .dc-signin-signup-forgot-pwd-wap {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2;
  margin: 0;
}
.answers {
  float: right;
  width: 58%;
  padding: 30px 20px 100px 50px;
}
