nav,
#footer {
  display: none;
}
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
.left-wap {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #252e3c;
}
.left-wap .inner-wap {
  overflow: hidden;
  width: 340px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.left-wap .logo-wap {
  position: absolute;
  top: 200px;
  left: 82px;
  text-align: center;
}
.left-wap .logo-wap .name {
  font-size: 56px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
.left-wap .logo-wap .desc {
  color: #959eac;
  font-size: 16px;
  margin-bottom: 50px;
}
.left-wap .logo-wap .btn-go-to-signin-signup {
  font-size: 18px;
  font-weight: bold;
  background-color: #00cc99;
  color: white;
  border: none;
  padding: 10px 25px;
}
.left-wap .logo-wap .btn-go-to-signin-signup:hover {
  background-color: #00b386;
}
.left-wap .dc-signin-signup-forgot-pwd-wap {
  display: none;
  position: absolute;
  top: 50px;
  left: 30px;
  z-index: 2;
  margin: 0;
}
.right-wap {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.right-wap .answers {
  background-color: white;
  width: 720px;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 30px 0 70px 40px;
}
.tooltip.tooltip-white .tooltip-inner {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
