#main-wap .action {
  margin-bottom: 10px;
}
#main-wap .action img {
  width: 20px;
  height: 20px;
}
#main-wap .action .name {
  color: #999;
  margin-left: 2px;
}
#main-wap .right-wap .hot-topics-wap {
  display: block;
}
#main-wap .right-wap.need-guide .hot-topics-wap {
  display: none;
}
#main-wap .right-wap.at-guide-step-1 .guide-step-1 {
  display: block;
}
#main-wap .right-wap.at-guide-step-2 .guide-step-2 {
  display: block;
}
#main-wap .right-wap.at-guide-step-3 .guide-step-3 {
  display: block;
}
#main-wap .right-wap.at-guide-step-4 .guide-step-4 {
  display: block;
}
#main-wap .right-wap.at-guide-step-5 .guide-step-5 {
  display: block;
}
#main-wap .right-wap.at-guide-step-6 .guide-step-6 {
  display: block;
}
#main-wap .hot-topic {
  margin-bottom: 15px;
}
#main-wap .hot-topic .avatar-wap img {
  width: 25px;
  height: 25px;
  border-radius: 2px;
}
#main-wap .hot-topic .name {
  color: #009999;
  margin-left: 5px;
}
#main-wap .guide-step {
  display: none;
  border: 2px solid #51B800;
  padding: 15px 20px 20px 20px;
  border-radius: 3px;
  position: relative;
  width: 270px;
}
#main-wap .guide-step.stick {
  position: fixed;
  top: 40px;
}
#main-wap .guide-step .title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #e3e3e3;
}
#main-wap .guide-step .content {
  padding: 20px 0;
}
#main-wap .guide-step .content p {
  margin-bottom: 15px;
}
#main-wap .guide-step .btn-next-step {
  color: #51B800;
  background-color: #e3f4d6;
  border-color: #e3f4d6;
  font-weight: bold;
}
#main-wap .guide-step .btn-next-step:hover,
#main-wap .guide-step .btn-next-step:focus {
  color: #51B800;
  background-color: #d5efc2;
  border-color: #d5efc2;
}
#main-wap .guide-step.with-arrow:after,
#main-wap .guide-step.with-arrow:before {
  right: 100%;
  top: 50px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#main-wap .guide-step.with-arrow:after {
  border-color: rgba(51, 51, 51, 0);
  border-right-color: #fff;
  border-width: 15px;
  margin-top: -15px;
}
#main-wap .guide-step.with-arrow:before {
  border-color: rgba(81, 184, 0, 0);
  border-right-color: #51B800;
  border-width: 18px;
  margin-top: -18px;
}
#main-wap .upvote-wap {
  position: relative;
}
