.navbar {
  margin-bottom: 0;
}
.tabs {
  background-color: #f5f6f5;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 30px;
  padding-left: 106px;
}
.tabs ul {
  margin-bottom: -1px;
}
.tabs ul li a {
  text-decoration: none;
  width: 42px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
  color: #999;
  border-bottom: 1px solid #eaeaea;
}
.tabs ul li.active a {
  color: #333;
  border-bottom: 1px solid #333;
}
em {
  font-style: normal;
  background-color: #ffffcc;
}
.search-results-wap {
  margin: 0 auto 0 91px;
}
.search-result {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.question {
  position: relative;
}
.question .title a {
  font-weight: bold;
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;
}
.question .desc {
  font-size: 16px;
  color: #999;
  margin-bottom: 15px;
}
.question .dc-question-follow-wap {
  margin-right: 10px;
}
.question .answers-count-wap {
  position: absolute;
  top: 0;
  left: -65px;
  text-align: center;
  background-color: #f5f6f5;
  padding: 4px 0px;
  color: #999;
  width: 50px;
}
.question .answers-count-wap .count {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  margin-bottom: 2px;
}
.topic {
  position: relative;
}
.topic .media-left {
  padding-right: 12px;
}
.topic .media-left img {
  width: 40px;
  height: 40px;
}
.topic .name {
  margin-bottom: 2px;
}
.topic .name a {
  font-weight: bold;
  color: #333;
}
.topic .dc-topic-follow-wap {
  position: absolute;
  right: 0;
  top: 0;
}
.user {
  position: relative;
}
.user .media-left {
  padding-right: 15px;
}
.user .media-left img {
  width: 50px;
  height: 50px;
}
.user .meta {
  margin-bottom: 5px;
  color: #333;
}
.user .meta .name {
  font-weight: bold;
  color: #333;
}
.user .dc-user-follow-wap {
  position: absolute;
  right: 0;
  top: 0;
}
.exact-user {
  margin-bottom: 10px;
  border: 1px solid #eaeaea;
  padding: 15px;
  border-radius: 2px;
}
.exact-user .name {
  font-weight: bold;
  margin-bottom: 2px;
}
.exact-user .name a {
  color: #333;
}
.exact-user .media-left img {
  width: 50px;
  height: 50px;
}
.exact-topic {
  margin-bottom: 10px;
  border: 1px solid #eaeaea;
  padding: 15px;
  border-radius: 2px;
}
.exact-topic .name {
  font-weight: bold;
  margin-bottom: 2px;
}
.exact-topic .name a {
  color: #333;
}
.exact-topic .media-left img {
  width: 50px;
  height: 50px;
}
.more {
  text-align: right;
  margin-bottom: 20px;
}
