.navbar {
  margin-bottom: 0;
}
.tabs {
  background-color: #f5f6f5;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 30px;
}
.tabs ul {
  margin-bottom: -1px;
}
.tabs ul li a {
  text-decoration: none;
  width: 42px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
  color: #999;
  border-bottom: 1px solid #eaeaea;
}
.tabs ul li.active a {
  color: #333;
  border-bottom: 1px solid #333;
}
em {
  font-style: normal;
  background-color: #ffffcc;
}
.search-result {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.question {
  position: relative;
}
.question .title a {
  font-weight: bold;
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;
}
.question .desc {
  font-size: 16px;
  color: #999;
  margin-bottom: 15px;
}
.question .dc-question-follow-wap {
  margin-right: 10px;
}
.question .answers-count-wap {
  position: absolute;
  top: 0;
  left: -65px;
  text-align: center;
  background-color: #f5f6f5;
  padding: 4px 10px;
  color: #999;
}
.question .answers-count-wap .count {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  margin-bottom: 2px;
}
