{% extends "layout.html" %}
{% from "macros/_form.html" import field_errors, form_submit %}
{% from "macros/_topic.html" import parent_topic_edit_wap, child_topic_edit_wap, topic_synonym_edit_wap,
        topic_admin_page_header %}

{% block page_title %}话题设置{% endblock %}
{% block page_js %}
    <script>
        registerContext({
            topicId: {{ topic.id }},
            uptoken: '{{ uptoken }}'
        })
    </script>
    <script src="/static/js/topic/admin.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/topic/admin.css?__inline"/>{% endblock %}
{% block page_content %}
    {{ topic_admin_page_header(topic) }}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="media topic-meta-wap">
                    <div class="media-left">
                        <div class="avatar-wap">
                            <img src="{{ topic.avatar_url }}" alt="" class="topic-avatar"/>
                            <span class="btn-upload-topic-avatar {% if topic.avatar_locked %}locked{% endif %}">
                                {% if topic.avatar_locked %}
                                    <span class="fa fa-lock" title="已锁定"></span>
                                {% else %}
                                    更换图片
                                {% endif %}
                            </span>
                            <input type="file" name="avatar"/>
                        </div>
                    </div>

                    <div class="media-body">
                        <div class="name-wap">
                            <div class="name-inner-wap">
                                <span class="name">{{ topic.name }}</span>

                                {% if topic.name_locked %}
                                    <span class="locked-flag text-light" title="已锁定">
                                        <span class="fa fa-lock"></span>
                                    </span>
                                {% else %}
                                    <a href="javascript: void(0)" class="btn-edit-name text-light">编辑</a>
                                {% endif %}
                            </div>

                            <div class="form-elements">
                                <input type="text" name="name" class="form-control input-title" autocomplete="off"/>

                                <div class="commands">
                                    <a href="javascript:void(0)" class="text-light btn-cancel-edit-name">取消</a>
                                    <a href="javascript: void(0)" class="btn-save-name btn btn-default"
                                       data-id="{{ topic.id }}">保存</a>
                                </div>
                            </div>
                        </div>

                        <div class="wiki">
                            {{ topic.wiki_preview or "" }}
                            {% if topic.wiki_locked %}
                                <span class="fa fa-lock text-light locked-flag" title="已锁定"></span>
                            {% else %}
                                <a href="{{ url_for('topic.edit_wiki', uid=topic.id) }}"
                                   class="text-light">编辑话题百科</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <form action="" method="post">
                    <div class="form-group clearfix">
                        <label for="" class="col-sm-2 control-label">所属话题</label>

                        <div class="col-sm-10">
                            {% if topic.root %}
                                本话题为 <strong>根话题</strong>
                            {% else %}
                                <div class="input-wap">
                                    <p class="help-block">完全包括本话题范畴的更大的话题</p>

                                    {% if topic.parent_topics_locked %}
                                        <div class="text-light">
                                            <span class="fa fa-lock"></span> 所属话题已锁定
                                        </div>
                                    {% else %}
                                        <input type="text" class="form-control" id="" name="parent-topic"
                                               placeholder="添加所属话题" autocomplete="off">
                                        <button type="button" class="btn btn-default btn-add-parent-topic">添加</button>
                                    {% endif %}
                                </div>

                                <div class="parent-topics">
                                    {% for parent_topic in topic.parent_topics %}
                                        {{ parent_topic_edit_wap(parent_topic, locked=topic.parent_topics_locked) }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="" class="col-sm-2 control-label">下属话题</label>

                        <div class="col-sm-10">
                            <div class="input-wap">
                                <p class="help-block">完全属于本话题范畴内的细分话题</p>

                                {% if topic.child_topics_locked %}
                                    <div class="text-light">
                                        <span class="fa fa-lock"></span> 下属话题已被锁定
                                    </div>
                                {% else %}
                                    <input type="text" class="form-control" id="" name="child-topic"
                                           placeholder="添加本话题的下属话题" autocomplete="off">
                                    <button type="button" class="btn btn-default btn-add-child-topic">添加</button>
                                {% endif %}
                            </div>

                            <div class="child-topics">
                                {% for child_topic in topic.child_topics %}
                                    {{ child_topic_edit_wap(child_topic, locked=topic.child_topics_locked) }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="" class="col-sm-2 control-label">合并话题</label>

                        <div class="col-sm-10">
                            <div class="input-wap">
                                <p class="help-block">合并本话题到其它话题之中。合并之后本话题下的全部问题将会迁移到新的话题之中。
                                    请将不常用话题合并到常用话题之中。</p>

                                {% if topic.merge_topic_locked %}
                                    <div class="text-light">
                                        <span class="fa fa-lock"></span> 合并话题已锁定
                                    </div>
                                {% else %}
                                    <input type="text" class="form-control" id="" placeholder="合并本话题至..."
                                           name="merge-topic" autocomplete="off">

                                    <button type="button" class="btn btn-default btn-merge-topic">合并</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="" class="col-sm-2 control-label">话题同义词</label>

                        <div class="col-sm-10">
                            <div class="input-wap">
                                <p class="help-block">同义词越多，越方便话题被检索到</p>

                                <input type="text" class="form-control" id="" placeholder="添加同义词"
                                       name="synonym" autocomplete="off">

                                <button type="button" class="btn btn-default btn-add-synonym">添加</button>
                            </div>

                            <p>已添加的同义词：</p>

                            <ul class="synonyms">
                                {% for synonym in topic.synonyms %}
                                    {{ topic_synonym_edit_wap(synonym) }}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="" class="col-sm-2 control-label">删除话题</label>

                        <div class="col-sm-10">
                            <div class="input-wap">
                                <p class="help-block">若本话题不属于互联网领域，或不适合出现在电场中，请申请删除本话题。</p>

                                <button type="button" class="btn-apply-for-deletion btn btn-white"
                                        data-id="{{ topic.id }}">申请删除
                                </button>
                            </div>
                        </div>
                    </div>

                    {#                    <div class="form-group clearfix">#}
                    {#                        <label for="" class="col-sm-2 control-label">父级话题结构</label>#}
                    {##}
                    {#                        <div class="col-sm-10">#}
                    {#                            {% if topic.root %}#}
                    {#                                <div class="root-topic-tip">根话题</div>#}
                    {#                            {% else %}#}
                    {#                                <ul class="topics-path">#}
                    {#                                    {% for path in topic.ancestor_paths %}#}
                    {#                                        <li>#}
                    {#                                            {% for topic in path %}#}
                    {#                                                <a href="{{ url_for('topic.view', uid=topic.id) }}"#}
                    {#                                                   class="dc-show-topic-card" data-id="{{ topic.id }}">#}
                    {#                                                    {{ topic.name }}</a>#}
                    {##}
                    {#                                                {% if not loop.last %}#}
                    {#                                                    <span class="fa fa-long-arrow-right"></span>#}
                    {#                                                {% endif %}#}
                    {#                                            {% endfor %}#}
                    {#                                        </li>#}
                    {#                                    {% endfor %}#}
                    {#                                </ul>#}
                    {#                            {% endif %}#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {##}
                    {#                    <div class="form-group clearfix">#}
                    {#                        <label for="" class="col-sm-2 control-label">子级话题结构</label>#}
                    {##}
                    {#                        <div class="col-sm-10">#}
                    {#                            <ul>#}
                    {#                                {% for child_topic in topic.child_topics %}#}
                    {#                                    <li>#}
                    {#                                        <a href="{{ url_for('topic.view', uid=child_topic.id) }}"#}
                    {#                                           class="{{ child_topic.id }}" data-id="{{ child_topic.id }}">#}
                    {#                                            {{ child_topic.name }}</a>#}
                    {#                                    </li>#}
                    {#                                {% endfor %}#}
                    {#                            </ul>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </form>
            </div>

            <div class="col-md-4">
                {# 话题类型 #}
                <div class="topics-kind-wap">
                    <div class="sub-title">本话题是：</div>

                    {% if topic.topic_kind_locked %}
                        {% if topic.kind == 1 %}
                            一款产品
                        {% elif topic.kind == 2 %}
                            一个公司、团队或组织
                        {% elif topic.kind == 3 %}
                            一种职业类别
                        {% elif topic.kind == 4 %}
                            一种编程语言、职业技能或工具
                        {% elif topic.kind == 5 %}
                            人名
                        {% elif topic.kind == 6 %}
                            {{ topic.other_kind or "其他" }}
                        {% endif %}

                        <span class="fa fa-lock locked-flag" title="已锁定"></span>
                    {% else %}
                        <div class="radio">
                            <label>
                                <input type="radio" name="topic-kind" id="" value="1"
                                       {% if topic.kind == 1 %}checked{% endif %}>
                                一款产品
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="topic-kind" id="" value="2"
                                       {% if topic.kind == 2 %}checked{% endif %}>
                                一个公司、团队或组织
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="topic-kind" id="" value="3"
                                       {% if topic.kind == 3 %}checked{% endif %}>
                                一种职业类别
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="topic-kind" id="" value="4"
                                       {% if topic.kind == 4 %}checked{% endif %}>
                                一种编程语言、职业技能或工具
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="topic-kind" id="" value="5"
                                       {% if topic.kind == 5 %}checked{% endif %}>
                                人名
                            </label>
                        </div>
                        <div class="other-kind-wap {% if topic.kind == 6 %}on{% endif %}
                            {% if not topic.other_kind %}empty{% endif %}
                            {% if topic.kind == 6 and not topic.other_kind %}edit{% endif %}">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="topic-kind" id="" value="6"
                                           {% if topic.kind == 6 %}checked{% endif %}>
                                    其他
                                    <span class="inner-wap">
                                        <span class="divider">-</span>
                                        <span class="other-kind">{{ topic.other_kind or "" }}</span>
                                        <a href="javascript:void(0)" class="btn-edit-other-kind text-light">编辑</a>
                                    </span>
                                </label>
                            </div>
                            <div class="other-kind-edit-wap">
                                <input type="text" class="form-control" name="kind">
                                <button class="btn btn-default btn-save-other-kind">保存</button>
                            </div>
                        </div>
                    {% endif %}
                </div>

                {# 锁定话题 #}
                {% if permissions.AdminPermission().check() %}
                    <div class="lock-wap">
                        <div class="sub-title">锁定</div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="lock" id="" value="all"
                                       {% if topic.all_locked %}checked{% endif %}>
                                全部
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="lock" id="" value="avatar"
                                       {% if topic.avatar_locked %}checked{% endif %}>
                                话题图片
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="lock" id="" value="name"
                                       {% if topic.name_locked %}checked{% endif %}>
                                名称
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="lock" id="" value="wiki"
                                       {% if topic.wiki_locked %}checked{% endif %}>
                                百科
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="lock" id="" value="parent_topics"
                                       {% if topic.parent_topics_locked %}checked{% endif %}>
                                所属话题
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="lock" id="" value="child_topics"
                                       {% if topic.child_topics_locked %}checked{% endif %}>
                                下属话题
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="lock" id="" value="merge_topic"
                                       {% if topic.merge_topic_locked %}checked{% endif %}>
                                合并话题
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="lock" id="" value="topic_kind"
                                       {% if topic.topic_kind_locked %}checked{% endif %}>
                                话题类型
                            </label>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
