{% extends "layout.html" %}
{% from "macros/_form.html" import field_errors %}

{% block page_title %}编辑话题「{{ topic.name }}」Wiki{% endblock %}
{% block page_content %}
    <div class="container">
        <h1>编辑话题「{{ topic.name }}」Wiki</h1>

        <div class="row">
            <div class="col-md-8">
                <form action="" method="post">
                    {{ form.csrf_token() }}

                    <textarea name="wiki" id="" cols="30" rows="10"
                              class="form-control">{{ form.wiki.data or "" }}</textarea>
                    {{ field_errors(form.wiki) }}

                    <button type="submit" class="btn btn-primary">保存</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
