{% extends "layout.html" %}

{% block page_title %}日志 - 话题「{{ topic.name }}」{% endblock %}
{% block page_js %}
    <script src="/static/js/topic/logs.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/topic/logs.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="header">
                    {#            <a href="{{ url_for('topic.view', uid=topic.id) }}" class="img-wap">#}
                    {#                <img src="{{ topic.avatar_url }}" alt=""/>#}
                    {#            </a>#}

                    <a href="{{ url_for('topic.view', uid=topic.id) }}" class="name">
                        {{ topic.name }}</a>

                    <span class="tip">话题编辑日志</span>
                </div>

                {% for log in topic.logs %}
                    <div class="topic-log media">
                        <div class="media-left">
                            <img src="{{ log.user.avatar_url }}" alt="" class="img-circle"/>
                        </div>
                        <div class="media-body">
                            <div class="title text-light">
                                <a href="{{ log.user.profile_url }}" class="text-light">
                                    {{ log.user.name }}</a>

                                {% if log.kind == TOPIC_EDIT_KIND.CREATE %}
                                    创建了话题
                                {% elif log.kind == TOPIC_EDIT_KIND.UPDATE_AVATAR %}
                                    更新了话题图片
                                {% elif log.kind == TOPIC_EDIT_KIND.UPDATE_NAME %}
                                    更新了话题名称
                                {% elif log.kind == TOPIC_EDIT_KIND.UPDATE_WIKI %}
                                    更新了话题百科
                                {% elif log.kind == TOPIC_EDIT_KIND.ADD_PARENT_TOPIC %}
                                    添加了父话题
                                {% elif log.kind == TOPIC_EDIT_KIND.REMOVE_PARENT_TOPIC %}
                                    移除了父话题
                                {% elif log.kind == TOPIC_EDIT_KIND.ADD_CHILD_TOPIC %}
                                    添加了子话题
                                {% elif log.kind == TOPIC_EDIT_KIND.REMOVE_CHILD_TOPIC %}
                                    移除了子话题
                                {% elif log.kind == TOPIC_EDIT_KIND.ADD_SYNONYM %}
                                    添加了同义词
                                {% elif log.kind == TOPIC_EDIT_KIND.REMOVE_SYNONYM %}
                                    移除了同义词
                                {% endif %}

                                <span class="time pull-right">{{ log.created_at|timesince }}</span>
                            </div>

                            <div class="content">
                                {% if log.kind == TOPIC_EDIT_KIND.CREATE %}
                                {% elif log.kind == TOPIC_EDIT_KIND.UPDATE_AVATAR %}
                                    <img src="{{ log.before }}" alt="" class="topic-avatar"/>
                                    <span class="fa fa-long-arrow-right"></span>
                                    <img src="{{ log.after }}" alt="" class="topic-avatar"/>
                                {% elif log.kind == TOPIC_EDIT_KIND.UPDATE_NAME %}
                                    <del class="topic">
                                        <a href="{{ url_for('topic.view', uid=topic.id) }}" class="dc-topic">
                                            {{ log.before }}</a>
                                    </del>
                                    <span class="fa fa-long-arrow-right"></span>
                                    <inc class="topic">
                                        <a href="{{ url_for('topic.view', uid=topic.id) }}" class="dc-topic">
                                            {{ log.after }}</a>
                                    </inc>
                                {% elif log.kind == TOPIC_EDIT_KIND.UPDATE_WIKI %}
                                    {# TODO #}
                                {% elif log.kind == TOPIC_EDIT_KIND.ADD_PARENT_TOPIC %}
                                    <ins class="topic">
                                        <a href="{{ url_for('topic.view', uid=log.after_id) }}" class="dc-topic">
                                            {{ log.after }}</a>
                                    </ins>
                                {% elif log.kind == TOPIC_EDIT_KIND.REMOVE_PARENT_TOPIC %}
                                    <del class="topic">
                                        <a href="{{ url_for('topic.view', uid=log.before_id) }}" class="dc-topic">
                                            {{ log.before }}</a>
                                    </del>
                                {% elif log.kind == TOPIC_EDIT_KIND.ADD_CHILD_TOPIC %}
                                    <ins class="topic">
                                        <a href="{{ url_for('topic.view', uid=log.after_id) }}" class="dc-topic">
                                            {{ log.after }}</a>
                                    </ins>
                                {% elif log.kind == TOPIC_EDIT_KIND.REMOVE_CHILD_TOPIC %}
                                    <del class="topic">
                                        <a href="{{ url_for('topic.view', uid=log.before_id) }}" class="dc-topic">
                                            {{ log.before }}</a>
                                    </del>
                                {% elif log.kind == TOPIC_EDIT_KIND.ADD_SYNONYM %}
                                    <ins>{{ log.after }}</ins>
                                {% elif log.kind == TOPIC_EDIT_KIND.REMOVE_SYNONYM %}
                                    <del>{{ log.before }}</del>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
