{% extends "layout.html" %}
{% from "macros/_utils.html" import loading %}
{% from "macros/_topic.html" import topic_page_header, topic_discuss_page_header,
    topic_discuss_page_sidebar, render_all_questions %}
{% from "macros/_question.html" import render_question %}

{% block page_title %}全部问题 - 话题「{{ topic.name }}」{% endblock %}
{% block page_js %}
    <script src="/static/js/topic/questions.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/topic/questions.css?__inline"/>{% endblock %}
{% block page_content %}
    {{ topic_page_header(topic) }}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ topic_discuss_page_header(topic, active='questions') }}

                <div class="questions-wap">
                    {{ render_all_questions(questions, topic) }}
                </div>

                {{ loading(total, per, '.questions-wap',
                    url_for('topic.loading_all_questions', uid=topic.id)) }}
            </div>

            <div class="col-md-4">
                {{ topic_discuss_page_sidebar(topic) }}
            </div>
        </div>
    </div>
{% endblock %}
