{% extends "layout.html" %}
{% from "macros/_utils.html" import pagination %}
{% from "macros/_topic.html" import topic_page_header %}
{% from "macros/_user.html" import user_follow_wap %}

{% block page_title %}话题「{{ topic.name }}」榜单{% endblock %}
{% block page_content %}
    {{ topic_page_header(topic, active='rank') }}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>最近一周的最佳回答者</h3>

                {% for expert in experts.items %}
                    <div class="media expert">
                        <div class="media-left">
                            <a href="{{ expert.user.profile_url }}">
                                <img class="img-circle" src="{{ expert.user.avatar_url }}" alt=""/>
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="meta">
                                <a href="{{ expert.user.profile_url }}" class="name">
                                    {{ expert.user.name }}</a>{% if expert.user.desc %}
                                <span class="text-light">，{{ expert.user.desc }}</span>{% endif %}
                            </div>
                            <div class="text-light">
                                在该话题有 {{ expert.answers_count }} 个回答，收获 {{ expert.upvotes_count }} 个赞同
                                {{ user_follow_wap(expert.user) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {{ pagination(experts) }}
            </div>
        </div>
    </div>
{% endblock %}
