{% extends "layout.html" %}
{% from "macros/_topic.html" import render_topics %}
{% from "macros/_utils.html" import loading %}

{% block page_title %}话题广场{% endblock %}
{% block page_js %}
    <script src="/static/js/topic/square.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/topic/square.css">{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="page-header no-margin-top clearfix">
                    <span>话题广场</span>
                </div>

                <div class="topics-wap product-topics-wap active">
                    <div class="product-topics-inner-wap clearfix">
                        {{ render_topics(product_descendant_topics) }}
                    </div>

                    {{ loading(product_total, per, '.product-topics-inner-wap',
                        url_for('topic.loading_topics_in_square', type='product')|safe) }}
                </div>

                <div class="topics-wap organization-topics-wap ">
                    <div class="organization-topics-inner-wap clearfix">
                        {{ render_topics(organization_descendant_topics) }}
                    </div>

                    {{ loading(organization_total, per, '.organization-topics-inner-wap',
                        url_for('topic.loading_topics_in_square', type='organization')|safe) }}
                </div>

                <div class="topics-wap skill-topics-wap">
                    <div class="skill-topics-inner-wap clearfix">
                        {{ render_topics(skill_descendant_topics) }}
                    </div>

                    {{ loading(skill_total, per, '.skill-topics-inner-wap',
                        url_for('topic.loading_topics_in_square', type='skill')|safe) }}
                </div>

                <div class="topics-wap position-topics-wap">
                    <div class="position-topics-inner-wap clearfix">
                        {{ render_topics(position_descendant_topics) }}
                    </div>

                    {{ loading(position_total, per, '.position-topics-inner-wap',
                        url_for('topic.loading_topics_in_square', type='position')|safe) }}
                </div>

                <div class="topics-wap people-topics-wap">
                    <div class="people-topics-inner-wap clearfix">
                        {{ render_topics(people_descendant_topics) }}
                    </div>

                    {{ loading(people_total, per, '.product-topics-inner-wap',
                        url_for('topic.loading_topics_in_square', type='product')|safe) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="list-group topic-selector">
                    <button type="button" class="list-group-item active" data-target="product">
                        <h4 class="list-group-item-heading">{{ product_topic.name }}</h4>

                        <p class="list-group-item-text">互联网、移动互联网产品</p>
                    </button>
                    <button type="button" class="list-group-item" data-target="organization">
                        <h4 class="list-group-item-heading">{{ organization_topic.name }}</h4>

                        <p class="list-group-item-text">公司、团队或组织</p>
                    </button>
                    <button type="button" class="list-group-item" data-target="position">
                        <h4 class="list-group-item-heading">{{ position_topic.name }}</h4>

                        <p class="list-group-item-text">产品经理、程序员、运营等职业类别</p>
                    </button>
                    <button type="button" class="list-group-item" data-target="skill">
                        <h4 class="list-group-item-heading">{{ skill_topic.name }}</h4>

                        <p class="list-group-item-text">职业技能、工具</p>
                    </button>
                    <button type="button" class="list-group-item" data-target="people">
                        <h4 class="list-group-item-heading">{{ people_topic.name }}</h4>

                        <p class="list-group-item-text">某个互联网从业者</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
