{% extends "layout.html" %}
{% from "macros/_utils.html" import pagination %}
{% from "macros/_topic.html" import topic_page_header, topic_discuss_page_header,
    topic_discuss_page_sidebar %}
{% from "macros/_answer.html" import render_answers %}

{% block page_title %}话题「{{ topic.name }}」{% endblock %}
{% block page_js %}
    <script src="/static/js/topic/view.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/topic/view.css"/>{% endblock %}
{% block page_content %}
    {{ topic_page_header(topic, active='view') }}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ topic_discuss_page_header(topic) }}

                {{ render_answers(answers.items) }}

                {{ pagination(answers) }}
            </div>

            <div class="col-md-4">
                {{ topic_discuss_page_sidebar(topic) }}
            </div>
        </div>
    </div>
{% endblock %}
