{% extends "layout.html" %}
{% from "macros/_utils.html" import pagination %}
{% from "macros/_topic.html" import topic_page_header, topic_discuss_page_header,
    topic_discuss_page_sidebar %}

{% block page_title %}等待回答 - 话题「{{ topic.name }}」{% endblock %}
{% block page_content %}
    {{ topic_page_header(topic) }}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ topic_discuss_page_header(topic, active='waiting_for_answer') }}

                <h3>等待回答</h3>

                {% for question in waiting_for_answer_questions.items %}
                    <div>
                        <a href="{{ url_for('question.view', uid=question.id) }}">
                            {{ question.title }}
                        </a>
                    </div>
                {% endfor %}

                {{ pagination(waiting_for_answer_questions) }}
            </div>

            <div class="col-md-4">
                {{ topic_discuss_page_sidebar(topic) }}
            </div>
        </div>
    </div>
{% endblock %}
