{% extends "layout.html" %}
{% from "macros/_utils.html" import loading %}
{% from "macros/_topic.html" import topic_page_header, topic_discuss_page_header,
    topic_discuss_page_sidebar, render_topic_waiting_for_answer_questions %}

{% block page_title %}等待回答 - 话题「{{ topic.name }}」{% endblock %}
{% block page_js %}
    <script src="/static/js/topic/waiting_for_answer.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/topic/waiting_for_answer.css?__inline"/>{% endblock %}
{% block page_content %}
    {{ topic_page_header(topic) }}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ topic_discuss_page_header(topic, active='waiting_for_answer') }}

                <div class="questions-wap">
                    {{ render_topic_waiting_for_answer_questions(questions, topic) }}
                </div>

                {{ loading(total, per, '.questions-wap',
                    url_for('topic.loading_waiting_for_answer_questions', uid=topic.id)) }}
            </div>

            <div class="col-md-4">
                {{ topic_discuss_page_sidebar(topic) }}
            </div>
        </div>
    </div>
{% endblock %}
