{% extends "layout.html" %}
{% from "macros/_utils.html" import pagination %}
{% from "macros/_topic.html" import topic_page_header, topic_discuss_page_header,
    topic_discuss_page_sidebar %}
{% from "macros/_question.html" import render_questions %}

{% block page_title %}等待回答 - 话题「{{ topic.name }}」{% endblock %}
{% block page_js %}
    <script src="/static/js/topic/waiting_for_answer.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/topic/waiting_for_answer.css?__inline"/>{% endblock %}
{% block page_content %}
    {{ topic_page_header(topic) }}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ topic_discuss_page_header(topic, active='waiting_for_answer') }}

                {{ render_questions(waiting_for_answer_questions.items) }}

                {{ pagination(waiting_for_answer_questions) }}
            </div>

            <div class="col-md-4">
                {{ topic_discuss_page_sidebar(topic) }}
            </div>
        </div>
    </div>
{% endblock %}
