{% extends "layout.html" %}
{% from "macros/_topic.html" import topic_page_header %}

{% block page_title %}话题「{{ topic.name }}」百科{% endblock %}
{% block page_js %}
    <script src="/static/js/topic/wiki.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/topic/wiki.css?__inline"/>{% endblock %}
{% block page_content %}
    {{ topic_page_header(topic, active='wiki') }}

    <div class="container">
        <div class="row">
            <div class="col-md-8 rich-text-area wiki-content">
                {{ (topic.wiki or "")|safe }}
            </div>
            <div class="col-md-4">
                <h3>资料贡献者</h3>

                <div class="contributors">
                    {% for contributor in topic.wiki_contributors %}
                        {% set user = contributor.user %}

                        <a href="{{ user.profile_url }}">
                            <img src="{{ user.avatar_url }}" alt="" class="dc-show-user-card img-circle"
                                 data-id="{{ user.id }}"/>
                        </a>
                    {% endfor %}
                </div>

                <a href="{{ url_for('topic.admin', uid=topic.id) }}" class="btn btn-default btn-block">
                    编辑话题百科
                </a>
            </div>
        </div>
    </div>
{% endblock %}
