nav,
#footer {
  display: none;
}
body {
  background-color: #252e3c;
  padding: 30px 0 100px 0;
}
#main-wap .text-logo {
  color: #f5f6f5;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
#main-wap .outer-wap {
  width: 680px;
  margin: 0 auto;
  background-color: #f5f6f5;
  border-radius: 2px;
}
#main-wap .outer-wap .header {
  padding: 25px 0 25px 0;
  position: relative;
  border-bottom: 1px solid #d2d2d2;
}
#main-wap .outer-wap .header .title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
#main-wap .outer-wap .header .btn-refresh {
  position: absolute;
  right: 25px;
  top: 28px;
  color: #999;
  font-size: 16px;
}
#main-wap .outer-wap .header .btn-refresh:hover {
  cursor: pointer;
  color: #333;
}
#main-wap .outer-wap .users-wap {
  max-height: 500px;
  overflow: auto;
}
#main-wap .outer-wap .recommend-user-wap {
  position: relative;
  padding: 25px 25px;
  border-bottom: 1px solid #e4e4e4;
  font-size: 16px;
}
#main-wap .outer-wap .recommend-user-wap .media-left {
  padding-right: 15px;
}
#main-wap .outer-wap .recommend-user-wap .media-left img {
  width: 55px;
  height: 55px;
}
#main-wap .outer-wap .recommend-user-wap .user-info {
  margin-bottom: 6px;
}
#main-wap .outer-wap .recommend-user-wap .user-info .name {
  font-weight: bold;
  color: #333;
}
#main-wap .outer-wap .recommend-user-wap .dc-user-follow-wap {
  position: absolute;
  top: 35px;
  right: 25px;
}
#main-wap .outer-wap .recommend-user-wap:last-child {
  border-bottom: none;
}
#main-wap .outer-wap .btn-wap {
  margin-top: 20px;
}
#main-wap .outer-wap .btn-wap .btn-next {
  font-weight: bold;
}
