.navbar {
  margin-bottom: 0;
}
#main-wap .container {
  width: 750px;
  padding: 0;
  margin: 0 auto;
}
.settings-wap .item {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
  margin-bottom: 40px;
  font-size: 16px;
}
.settings-wap .item .from {
  width: 255px;
  float: left;
}
.settings-wap .item .action {
  width: 244px;
  float: left;
}
.settings-wap .item .notification {
  width: 150px;
  float: left;
}
.settings-wap .item .mail {
  width: 100px;
  float: right;
}
.settings-wap .item.head {
  padding-bottom: 25px;
}
.settings-wap .item .text {
  padding-top: 5px;
}
