nav,
#footer {
  display: none;
}
body {
  background-color: #252e3c;
  padding: 30px 0 100px 0;
}
.text-logo {
  color: #f5f6f5;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.outer-wap {
  width: 680px;
  margin: 0 auto;
  background-color: #f5f6f5;
  border-radius: 2px;
}
.outer-wap .header {
  padding-top: 25px;
  border-bottom: 1px solid #d2d2d2;
}
.outer-wap .header .title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 25px;
}
.outer-wap .header .selector-wap {
  text-align: center;
}
.outer-wap .header .selector-wap .selector {
  font-weight: bold;
  padding: 0 8px 10px 8px;
  color: #999;
  display: inline-block;
  margin-bottom: -1px;
  margin-right: 5px;
}
.outer-wap .header .selector-wap .selector:hover {
  color: #666;
  cursor: pointer;
}
.outer-wap .header .selector-wap .selector.active {
  color: #333 !important;
  border-bottom: 2px solid #333;
}
.outer-wap .header .selector-wap .selector:last-child {
  margin-right: 0;
}
.outer-wap .topics-wap {
  padding: 25px 0 25px 25px;
  display: none;
  background-color: white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.outer-wap .topics-wap.active {
  display: block;
}
.outer-wap .topics-wap .topic {
  width: 110px;
  height: 110px;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  border-radius: 2px;
}
.outer-wap .topics-wap .topic:hover {
  cursor: pointer;
}
.outer-wap .topics-wap .topic.active .selected-flag {
  display: block;
}
.outer-wap .topics-wap .topic img {
  width: 110px;
  height: 110px;
  border-radius: 2px;
}
.outer-wap .topics-wap .topic .name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding: 5px 0;
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.outer-wap .topics-wap .topic .selected-flag {
  background-color: #00cc99;
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  color: white;
  position: absolute;
  padding-top: 6px;
  right: 10px;
  top: 10px;
}
.outer-wap .topics-wap .topic .selected-flag .fa {
  font-size: 16px;
  font-weight: normal;
}
.outer-wap .btn-wap {
  margin-top: 20px;
}
.outer-wap .btn-wap .btn-next {
  font-weight: bold;
}
.outer-wap .btn-wap .btn-next .for-not-finish {
  display: none;
}
.outer-wap .btn-wap .btn-next.not-finish {
  background-color: #72ceb9;
  border-color: #72ceb9;
}
.outer-wap .btn-wap .btn-next.not-finish .for-not-finish {
  display: inline-block;
}
