.navbar {
  margin-bottom: 0;
}
#main-wap .container {
  width: 750px;
  margin: 0 auto;
  padding: 0;
}
.item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #eaeaea;
}
.item .key {
  color: #999;
  font-size: 16px;
  margin-bottom: 10px;
}
.item .value {
  font-size: 18px;
  font-weight: bold;
}
.item .value .url-prefix {
  font-weight: normal;
}
.item .commands {
  position: absolute;
  right: 0;
  top: 10px;
}
.item .commands .tip {
  color: #999;
  margin-right: 15px;
}
