.navbar {
  margin-bottom: 0;
}
#main-wap .container {
  width: 750px;
  margin: 0 auto;
  padding: 0;
}
.item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #eaeaea;
}
.item .key {
  color: #999;
  font-size: 16px;
  margin-bottom: 10px;
}
.item .value {
  font-size: 18px;
  font-weight: bold;
}
.item .value .url-prefix {
  font-weight: normal;
}
.item .value input {
  border: none;
  outline: none;
}
.item .commands {
  position: absolute;
  right: 0;
  top: 12px;
}
.item .commands .btn-edit {
  margin-left: 15px;
}
.item .commands .btn-cancel {
  margin-left: 10px;
}
.item .commands .for-edit {
  display: none;
}
.item .commands .for-non-edit {
  display: block;
}
.item .commands .tip {
  color: #999;
}
.item .commands.edit .for-edit {
  display: block;
}
.item .commands.edit .for-non-edit {
  display: none;
}
