nav,
#footer {
  display: none;
}
body {
  background-color: #252e3c;
  color: #717885;
}
.wap {
  width: 280px;
  margin: 40px auto;
}
.wap .text-logo {
  font-size: 50px;
  font-weight: bold;
  color: #434851;
  text-align: center;
  margin-bottom: 100px;
  cursor: default;
}
.wap .text-logo:hover {
  color: #4f545f;
}
.wap .signup-wap {
  display: none;
}
.header {
  position: relative;
  margin-bottom: 20px;
}
.header .title {
  font-size: 28px;
  color: white;
  font-weight: bold;
}
.header a {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 16px;
  color: #717885;
}
.header a:hover {
  text-decoration: none;
  color: #8c929d;
}
.form-control {
  display: block;
  margin-bottom: 15px;
  border: 0;
  background-color: #414855;
  border-radius: 2px;
  font-size: 16px;
  padding: 12px 12px;
  height: auto;
  box-shadow: none;
  outline: none;
  color: white;
}
.form-control:focus,
.form-control:active {
  box-shadow: none;
}
.btn-signin,
.btn-signup {
  padding: 10px 15px;
  margin: 28px 0 10px 0;
}
.btn-forgot-pwd {
  color: #717885;
  float: right;
}
.btn-forgot-pwd:hover {
  color: #8c929d;
}
label {
  font-weight: normal;
}
.tooltip-inner {
  background-color: white;
  color: #252e3c;
  border-radius: 2px;
}
.tooltip.right .tooltip-arrow {
  border-right-color: white;
}
