{% extends "layout.html" %}
{% from "macros/_answer.html" import render_answers %}
{% from "macros/_account.html" import signin_signup_forgot_pwd_wap %}

{% block page_title %}电场{% endblock %}
{% block page_js %}
    <script src="/static/js/site/index.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/site/index.css"/>{% endblock %}
{% block page_content %}
    <div class="left-wap">
        <div class="inner-wap">
            <div class="logo-wap">
                <div class="name">电场</div>

                <p class="desc">互联网职业领域问答社区</p>

                <a href="javascript: void(0)" class="btn-go-to-signin-signup btn btn-default">注册 / 登录</a>
            </div>

            {{ signin_signup_forgot_pwd_wap(index_page=True) }}
        </div>
    </div>
    <div class="right-wap">
        <div class="answers">
            {{ render_answers(answers) }}
        </div>
    </div>
    </div>
{% endblock %}
