{% extends "layout.html" %}
{% from "macros/_answer.html" import render_answers %}

{% block page_title %}电场{% endblock %}
{% block page_content %}
    <div class="market">
        <div class="inner-wap">
            <div class="name">电场</div>

            <p class="desc">互联网职业领域问答社区</p>

            <a href="{{ url_for('account.signin') }}" class="btn-signin btn btn-default">注册 / 登录</a>
        </div>
    </div>
    <div class="answers">
        {{ render_answers(answers) }}
    </div>
{% endblock %}
