{% extends "layout.html" %}
{% from "macros/_answer.html" import render_answer_commands, render_answer %}
{% from "macros/_question.html" import render_question %}

{% block page_title %}电场{% endblock %}
{% block page_js %}
    <script src="/static/js/site/index_signin.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/site/index_signin.css?__inline"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for feed in feeds %}
                    {% if feed.kind == HOME_FEED_KIND.FOLLOWING_ASK_QUESTION %}
                        {{ render_question(feed.question, user=feed.question.user) }}
                    {% elif feed.kind == HOME_FEED_KIND.FOLLOWING_FOLLOW_QUESTION %}
                        {{ render_question(feed.question, user=feed.sender, action='关注了') }}
                    {% elif feed.kind == HOME_FEED_KIND.FOLLOWING_ANSWER_QUESTION %}
                        <div class="action text-light">
                            <a href="{{ feed.sender.profile_url }}">
                                <img src="{{ feed.sender.avatar_url }}" alt="" class="img-circle dc-show-user-card"
                                     data-id="{{ feed.sender_id }}"/></a>
                            <a href="{{ feed.sender.profile_url }}"
                               class="name dc-show-user-card"
                               data-id="{{ feed.sender_id }}">{{ feed.sender.name }}</a> 回答了问题
                        </div>
                        {{ render_answer(feed.answer, with_topics=False) }}
                    {% elif feed.kind == HOME_FEED_KIND.FOLLOWING_UPVOTE_ANSWER %}
                        <div class="action text-light">
                            <a href="{{ feed.sender.profile_url }}">
                                <img src="{{ feed.sender.avatar_url }}" alt="" class="img-circle dc-show-user-card"
                                     data-id="{{ feed.sender_id }}"/></a>
                            <a href="{{ feed.sender.profile_url }}"
                               class="name dc-show-user-card"
                               data-id="{{ feed.sender_id }}">{{ feed.sender.name }}</a>
                            赞同了回答
                        </div>
                        {{ render_answer(feed.answer, with_topics=False) }}
                    {% elif feed.kind == HOME_FEED_KIND.WAITING_FOR_ANSWER_QUESTION_FROM_EXPERT_TOPIC %}
                        {# TODO #}
                    {% elif feed.kind == HOME_FEED_KIND.GOOD_ANSWER_FROM_FOLLOWED_TOPIC %}
                        {# TODO #}
                    {% elif feed.kind == HOME_FEED_KIND.NEW_ANSWER_FROM_FOLLOWED_TOPIC %}
                        {# TODO #}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h3 class="no-margin-top">正在热议</h3>

                {% for topic in hot_topics %}
                    <div class="hot-topic">
                        <a href="{{ url_for('topic.view', uid=topic.id) }}" class="avatar-wap">
                            <img src="{{ topic.avatar_url }}" class="dc-show-topic-card" alt=""
                                 data-id="{{ topic.id }}"/></a>
                        <a href="{{ url_for('topic.view', uid=topic.id) }}" class="name dc-show-topic-card"
                           data-id="{{ topic.id }}">
                            {{ topic.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
