{% extends "layout.html" %}
{% from "macros/_utils.html" import loading %}
{% from "macros/_site.html" import render_search_results %}

{% block page_title %}{{ q }} - 搜索结果{% endblock %}
{% block page_js %}
    <script src="/static/js/site/search.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/site/search.css?__inline"/>{% endblock %}
{% block page_content %}
    <div class="tabs">
        <ul class="list-inline list-unstyled">
            <li {% if _type == 'question' %}class="active"{% endif %}>
                <a href="{{ url_for("site.search", type="question", q=q) }}">问题</a>
            </li>
            <li {% if _type == 'answer' %}class="active"{% endif %}>
                <a href="{{ url_for('site.search', type="answer", q=q) }}">回答</a>
            </li>
            <li {% if _type == 'topic' %}class="active"{% endif %}>
                <a href="{{ url_for('site.search', type="topic", q=q) }}">话题</a>
            </li>
            <li {% if _type == 'user' %}class="active"{% endif %}>
                <a href="{{ url_for('site.search', type="user", q=q) }}">人</a>
            </li>
        </ul>
    </div>

    <div class="container search-results-wap">
        <div class="row">
            <div class="col-md-8">
                <div class="search-results-inner-wap">
                    {{ render_search_results(results, _type=_type) }}
                </div>

                {{ loading(total, per, '.search-results-inner-wap',
                    url_for('site.loading_search_results', type=_type, q=q)|safe) }}
            </div>

            <div class="col-md-4">
                {% if exact_user %}
                    <div class="exact-user">
                        <div class="media">
                            <div class="media-left">
                                <a href="{{ exact_user.profile_url }}">
                                    <img src="{{ exact_user.avatar_url }}" class="img-circle" alt=""/>
                                </a>
                            </div>

                            <div class="media-body">
                                <div class="name">
                                    <a href="{{ exact_user.profile_url }}">
                                        {{ exact_user.name }}</a>
                                </div>
                                {% if exact_user.desc %}
                                    <div class="desc">{{ exact_user.desc|truncate(10, true) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="more-users">
                        <a href="{{ url_for('site.search', q=q, type='user') }}" class="text-light">
                            查看更多用户搜索结果</a>
                    </div>
                {% endif %}

                {% if exact_topic %}
                    <div class="exact-topic">
                        <div class="media">
                            <div class="media-left">
                                <a href="{{ url_for('topic.view', uid=exact_topic.id) }}">
                                    <img src="{{ exact_topic.avatar_url }}" alt="" class="img-rounded"/></a>
                            </div>

                            <div class="media-body">
                                <div class="name">
                                    <a href="{{ url_for('topic.view', uid=exact_topic.id) }}">
                                        {{ exact_topic.name }}</a>
                                </div>
                                <div class="questions-count text-light">
                                    {{ exact_topic.all_questions_count }} 个相关问题
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="more-topics">
                        <a href="{{ url_for('site.search', q=q, type='topic') }}" class="text-light">
                            查看更多话题搜索结果</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
