{% extends "layout.html" %}
{% from "macros/_question.html" import follow_question %}
{% from "macros/_topic.html" import follow_topic %}
{% from "macros/_answer.html" import render_answer %}
{% from "macros/_user.html" import follow_user %}

{% block page_title %}{{ q }} - 搜索结果{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="nav nav-tabs">
                    <li {% if _type == 'question' %}class="active"{% endif %}>
                        <a href="{{ url_for("site.search", type="question", q=q) }}">问题</a>
                    </li>
                    <li {% if _type == 'answer' %}class="active"{% endif %}>
                        <a href="{{ url_for('site.search', type="answer", q=q) }}">回答</a>
                    </li>
                    <li {% if _type == 'topic' %}class="active"{% endif %}>
                        <a href="{{ url_for('site.search', type="topic", q=q) }}">话题</a>
                    </li>
                    <li {% if _type == 'user' %}class="active"{% endif %}>
                        <a href="{{ url_for('site.search', type="user", q=q) }}">人</a>
                    </li>
                </ul>

                {% if _type == "question" %}
                    {% for question in results %}
                        <div class="search-result question">
                            <div class="title">
                                <a href="{{ url_for('question.view', uid=question.id) }}" target="_blank">
                                    {{ (question.highlight_title or question.title)|safe }}</a>
                            </div>
                            <div class="desc">
                                {{ (question.highlight_desc or question.desc or "")|safe }}
                            </div>
                            <div class="meta">
                                <span>{{ question.answers.count() }} 回答</span>
                                {{ follow_question(question) }}
                                <span>提问于 {{ question.created_at|timesince }}</span>
                            </div>
                        </div>

                    {% endfor %}
                {% elif _type == "answer" %}
                    {% for answer in results %}
                        <div class="search-result answer">
                            {{ render_answer(answer) }}
                        </div>
                    {% endfor %}
                {% elif _type == "topic" %}
                    {% for topic in results %}
                        <div class="search-result topic">
                            <div class="media">
                                <div class="media-left">
                                    <img src="{{ topic.avatar_url }}" alt=""/>
                                </div>
                                <div class="media-body">
                                    <div class="name">
                                        <a href="{{ url_for('topic.view', uid=topic.id) }}" target="_blank">
                                            {{ (topic.highlight_name or topic.name)|safe }}
                                        </a>
                                    </div>
                                    <div class="desc">{{ topic.desc or "" }}</div>
                                    {{ follow_topic(topic) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% elif _type == "user" %}
                    {% for user in results %}
                        <div class="search-result user">
                            <div class="media">
                                <div class="media-left">
                                    <img src="{{ user.avatar_url }}" alt=""/>
                                </div>
                                <div class="media-body">
                                    <div class="meta">
                                        <a href="{{ url_for('user.profile', uid=user.id) }}">
                                            {{ (user.highlight_name or user.name)|safe }}</a>
                                        <span>{{ user.answers.count() }} 个回答</span>
                                    </div>
                                    <div class="desc">
                                        {{ (user.highlight_desc or user.desc or "")|safe }}
                                        {{ follow_user(user) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="info">
                    共 {{ total }} 条结果，耗时 {{ took }} ms
                </div>

                <div class="pager btn-group">
                    {% if pre_page %}
                        <a href="{{ url_for_other_page(pre_page) }}" class="btn btn-default">
                            <span class="fa fa-angle-left"></span>
                        </a>
                    {% endif %}
                    {% if next_page %}
                        <a href="{{ url_for_other_page(next_page) }}" class="btn btn-default">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
