{# 个人设置页页首 #}
{% macro settings_page_header(active="settings") %}
    <ul class="nav nav-tabs">
        <li {% if active == 'settings' %}class='active'{% endif %}>
            <a href="{{ url_for('account.settings') }}">账号和密码</a>
        </li>
        <li {% if active == 'notification-settings' %}class="active"{% endif %}>
            <a href="{{ url_for('account.notification_settings') }}">消息和邮件</a>
        </li>
        <li {% if active == 'privacy-settings' %}class="active"{% endif %}>
            <a href="{{ url_for('account.privacy_settings') }}">隐私</a>
        </li>
    </ul>
{% endmacro %}


{# 登录、注册、忘记密码 #}
{% macro signin_signup_forgot_pwd_wap() %}
    <div class="dc-account-wap dc-signin-signup-forgot-pwd-wap signin">
        <a class="text-logo link-no-underline" href="{{ url_for('site.index') }}">电</a>

        <div class="signin-wap">
            <div class="header">
                <div class="title">登录</div>

                <a href="javascript: void(0)" class="btn-go-to-signup">注册账号→</a>
            </div>

            <form>
                <input type="text" name="email" class="form-control" placeholder="邮箱"/>
                <input type="password" name="password" class="form-control" placeholder="密码"/>
                <button type="button" class="btn-signin btn btn-primary btn-lg btn-block">登录</button>
                <label>
                    <input type="checkbox" name="remember"> 保持登录
                </label>
                <a href="javascript: void(0)" class="btn-go-to-forgot-pwd link-no-underline">
                    我忘了密码</a>
            </form>
        </div>

        <div class="signup-wap">
            <div class="header">
                <div class="title">注册</div>

                <a href="javascript: void(0)" class="btn-go-to-signin">去登陆→</a>
            </div>

            <form autocomplete="off">
                <div class="code clearfix">
                    <input type="text" placeholder="请"/>
                    <input type="text" placeholder="输"/>
                    <input type="text" placeholder="入"/>
                    <input type="text" placeholder="邀"/>
                    <input type="text" placeholder="请"/>
                    <input type="text" placeholder="码"/>
                </div>

                <div class="next">
                    <input type="text" name="name" placeholder="真实姓名 / 常用昵称" class="form-control"/>
                    <input type="text" name="email" placeholder="邮箱" class="form-control"/>
                    <input type="password" name="password" placeholder="设置密码" class="form-control"/>
                    <button type="button" class="btn-signup btn btn-inverse btn-lg btn-block">注册账号</button>
                </div>
            </form>
        </div>

        <div class="message-wap signup-success-wap">
            <h3>注册成功</h3>

            <p class="message"></p>
        </div>

        <div class="forgot-pwd-wap">
            <div class="header">
                <div class="title">找回密码</div>

                <a href="javascript: void(0)" class="btn-go-to-signin">去登陆→</a>
            </div>

            <form autocomplete="off">
                <input type="text" name="email" placeholder="输入你的注册邮箱" class="form-control"/>
                <button type="button" class="btn-send-reset btn btn-inverse btn-lg btn-block">
                    发送密码重置邮件
                </button>
            </form>
        </div>

        <div class="message-wap send-reset-success-wap">
            <h3>发送成功</h3>

            <div class="message">
            </div>
        </div>
    </div>

    <script>
        (function () {
            var $signinWap = $(".signin-wap");
            var $signinEmail = $(".signin-wap input[name='email']");
            var $signinPwd = $(".signin-wap input[name='password']");
            var $signinRemember = $(".signin-wap input[name='remember']");

            var $signupWap = $('.signup-wap');
            var $signupEmail = $(".signup-wap input[name='email']");
            var $signupName = $(".signup-wap input[name='name']");
            var $signupCode = $(".signup-wap .code");
            var $signupPwd = $(".signup-wap input[name='password']");

            var $forgotPwdWap = $(".forgot-pwd-wap");
            var $forgotPwdEmail = $(".forgot-pwd-wap input[name='email']");

            // 切换到注册
            $('.btn-go-to-signup').click(function () {
                $signupWap.css({
                    'right': '-280px',
                    'z-index': 2
                }).removeClass('on').show().animate({
                    'right': '0'
                }, 180, function () {
                    $signupCode.find('input').first().focus();
                    $('.signin-wap').hide();
                    $('.forgot-pwd-wap').hide();
                    hideTip($('.dc-account-wap input'));

                    $signupWap.css({
                        'z-index': 1
                    });
                });
            });

            // 切换到登录
            $('.btn-go-to-signin').click(function () {
                $signinWap.css({
                    'left': '-280px',
                    'z-index': 2
                }).show().animate({
                    'left': '0'
                }, 180, function () {
                    $('.forgot-pwd-wap').hide();
                    $('.signup-wap').hide();
                    cleanCode();
                    hideTip($('.dc-account-wap input'));

                    $signinWap.css({
                        'z-index': 1
                    });
                });
            });

            // 切换到忘记密码
            $('.btn-go-to-forgot-pwd').click(function () {
                $forgotPwdWap.css({
                    'right': '-280px',
                    'z-index': 2
                }).show().animate({
                    'right': '0'
                }, 180, function () {
                    $('.signin-wap').hide();
                    $('.signup-wap').hide();
                    cleanCode();
                    hideTip($('.dc-account-wap input'));

                    $forgotPwdWap.css({
                        'z-index': 1
                    });
                });
            });

            // 登录
            $('.btn-signin').click(function () {
                var email = $.trim($signinEmail.val());
                var password = $.trim($signinPwd.val());
                var remember = $signinRemember.is(':checked');

                if (email === "") {
                    showTip($signinEmail, '邮箱不能为空');
                    return;
                }
                if (password === "") {
                    showTip($signinPwd, '密码不能为空');
                    return;
                }

                $.ajax({
                    url: urlFor('account.signin'),
                    method: 'post',
                    dataType: 'json',
                    data: {
                        'email': email,
                        'password': password,
                        'remember': remember
                    }
                }).done(function (response) {
                    if (response.result) {
                        window.location = urlFor('site.index');
                    } else {
                        if (response.email !== "") {
                            showTip($signinEmail, response.email);
                        } else {
                            hideTip($signinEmail);

                            if (response.password !== "") {
                                showTip($signinPwd, response.password);
                            } else {
                                hideTip($signinPwd);
                            }
                        }
                    }
                });
            });

            // 输入邀请码
            $signupCode.find('input').on('keypress', function (e) {
                if (e.which !== 32) {
                    forwardCode($(this));
                }
            });

            // 退格键
            // TODO
            //$signupCode.find('input').on('keydown', function (e) {
            //    var current = $.trim($(this).val());
            //
            //    console.log($(this));
            //    console.log(current);
            //
            //    if (e.which === 8 && current === "") {
            //        backwardCode($(this));
            //    }
            //});

            // 测试邀请码
            $signupCode.find('input').on('keyup', function (e) {
                var code = getCodeValue();

                validateCode();

                if (code.length !== 6) {
                    hideTip($signupCode);
                    return;
                }

                if (code === "") {
                    showTip($(this), '邀请码不能为空');
                    return;
                }

                $.ajax({
                    url: urlFor('account.test_invitation_code'),
                    method: 'post',
                    dataType: 'json',
                    data: {
                        code: code
                    }
                }).done(function (response) {
                    if (response.result) {
                        $signupWap.addClass('on');
                        $signupName.focus();
                        hideTip($signupCode);
                    } else {
                        if (response.code !== "") {
                            showTip($signupCode, response.code);
                        } else {
                            hideTip($signupCode);
                        }
                    }
                });
            });

            // 注册
            $('.btn-signup').click(function () {
                var code = getCodeValue();
                var name = $.trim($signupName.val());
                var email = $.trim($signupEmail.val());
                var password = $.trim($signupPwd.val());

                if (name === "") {
                    showTip($signupName, '称谓不能为空');
                    return;
                }
                if (email === "") {
                    showTip($signupEmail, '邮箱不能为空');
                    return;
                }
                if (password === "") {
                    showTip($signupPwd, '密码不能为空');
                    return;
                }

                $.ajax({
                    url: urlFor('account.signup'),
                    method: 'post',
                    dataType: 'json',
                    data: {
                        name: name,
                        email: email,
                        password: password,
                        code: code
                    }
                }).done(function (response) {
                    if (response.result) {
                        var messageHtml = "<p>账户激活邮件已发送到你的邮箱</p>";

                        // 显示邮件已发送的提示
                        $('.signup-wap').hide();
                        $('.signup-success-wap').show();

                        if (response.domain !== null) {
                            messageHtml += "<p>请 <a href='" + response.domain + "' target='_blank'>登录</a> 激活</p>";
                        } else {
                            messageHtml += "<p>请登录激活</p>";
                        }

                        $('.signup-success-wap .message').html(messageHtml);
                    } else {
                        if (response.name !== "") {
                            showTip($signupName, response.name);
                        } else {
                            hideTip($signupName);
                        }

                        if (response.email !== "") {
                            showTip($signupEmail, response.email);
                        } else {
                            hideTip($signupEmail);
                        }

                        if (response.password !== "") {
                            showTip($signupPwd, response.password);
                        }
                    }
                });
            });

            // 发送密码重置邮件
            $('.btn-send-reset').click(function () {
                var email = $.trim($forgotPwdEmail.val());

                if (email === "") {
                    showTip($forgotPwdEmail, '邮箱不能为空');
                    return;
                }

                $.ajax({
                    url: urlFor('account.send_reset_password_mail'),
                    method: 'post',
                    dataType: 'json',
                    data: {
                        email: email
                    }
                }).done(function (response) {
                    if (response.result) {
                        var messageHTML = "";
                        $('.forgot-pwd-wap').hide();

                        if (response.domain === "") {
                            messageHTML = "<p>请登录邮箱完成密码重置</p>";
                        } else {
                            messageHTML = "<p>请 <a href='" + response.domain + "' target='_blank'>登录邮箱</a> 完成密码重置</p>";
                        }

                        $('.send-reset-success-wap').show().find('.message').html(messageHTML);
                    } else {
                        if (response.email !== "") {
                            showTip($forgotPwdEmail, response.email);
                        } else {
                            hideTip($forgotPwdEmail);
                        }
                    }
                });
            });

            // 输入字符时，隐藏tooltip
            $(".dc-account-wap input").on('keyup', function () {
                hideTip($(this));
            });

            /**
             * 获取邀请码的值
             */
            function getCodeValue() {
                var code = "";
                var current = "";

                $signupCode.find('input').each(function () {
                    current = $.trim($(this).val());
                    if (current.length >= 1) {
                        code += current[0];
                    }
                });

                return code;
            }

            /**
             * 前进到下一个邀请码输入框
             * @param $input
             */
            function forwardCode($input) {
                var $nextInput = $input.next('input');

                if ($nextInput.length > 0) {
                    $nextInput.focus();
                }
            }

            /**
             * 后退到上一个邀请码输入框
             * @param $input
             */
            function backwardCode($input) {
                var $previousInput = $input.prev('input');

                if ($previousInput.length > 0) {
                    $previousInput.focus();
                }
            }

            /**
             * 清空code
             */
            function cleanCode() {
                $signupCode.each(function () {
                    $(this).val('');
                });
            }

            /**
             * 检测code，若出现单格多于一个字符，则取第一个字符
             */
            function validateCode() {
                $signupCode.find('input').each(function () {
                    var current = $.trim($(this).val()).toString();

                    if (current.length > 1) {
                        $(this).val(current[0]);
                    } else {
                        $(this).val(current);
                    }
                });
            }
        })();
    </script>
{% endmacro %}


{# 重置密码 #}
{% macro reset_pwd_wap() %}
    <div class="dc-account-wap dc-reset-pwd-wap">
        <a class="text-logo link-no-underline" href="{{ url_for('site.index') }}">电</a>

        <div class="reset-pwd-wap">
            <div class="header">
                <div class="title">重置密码</div>

                <a href="{{ url_for('account.signin') }}">去登陆→</a>
            </div>

            <form>
                <input type="password" name="password" class="form-control" placeholder="邮箱"/>
                <input type="password" name="repassword" class="form-control" placeholder="密码"/>
                <button type="button" class="btn-reset-pwd btn btn-primary btn-lg btn-block">重置</button>
            </form>
        </div>

        <div class="message-wap reset-success-wap">
            <h3>密码重置成功</h3>

            <p class="message">
                请使用新密码 <a href="{{ url_for('account.signin') }}">登录</a> 账户
            </p>
        </div>
    </div>

    <script>
        (function () {

        })();
    </script>
{% endmacro %}
