{% macro render_answer_commands(answer, enable_comments_spread=True, with_full_screen=True, bottom=False, dark=False) %}
    <div class="dc-answer-commands {% if bottom %}bottom{% endif %}">
        {% set upvoted = answer.upvoted_by_user() %}
        {% set downvoted = answer.downvoted_by_user() %}
        {% set thanked = answer.thanked_by_user() %}
        {% set nohelped = answer.nohelped_by_user() %}

        {# 赞同 & 反对 #}
        <span class="vote-wap">
            <span class="upvote-wap counter {% if dark %}counter-dark{% endif %}
                {% if upvoted %}upvoted{% endif %}"
                  data-id="{{ answer.id }}">
                <a class="btn-upvote-answer counter-txt" href="javascript: void(0)">
                    <span class="for-upvoted">已赞同</span>
                    <span class="for-un-upvoted">赞同</span></a>
                <span class="divider">|</span>
                <span class="upvotes-count counter-number">{{ answer.upvotes.count() }}</span>
            </span>
            <a href="javascript: void(0)" class="btn-downvote-answer {% if downvoted %}downvoted{% endif %}"
               data-id="{{ answer.id }}">
                <span class="for-downvoted">已反对</span>
                <span class="for-un-downvoted">反对</span>
            </a>
        </span>

        <div class="pull-right">
            <a href="javascript:void(0)" class="btn-comments">
                <span class="fa fa-comment-o"></span>
                评论
                {{ answer.comments.count() }}
            </a>

            <a href="javascript:void(0)" class="btn-share">
                <span class="fa fa-share-square-o"></span>
                分享
                0
            </a>

            <span class="btn-more">
                更多

                <span class="hide-commands">
                    {# 感谢 #}
                    <a class="btn-thank-answer {% if thanked %}thanked{% endif %}" data-id="{{ answer.id }}"
                       href="javascript: void(0)">
                        <span class="for-thanked">已感谢</span>
                        <span class="for-un-thanked">感谢作者</span></a>

                    {# 没有帮助 #}
                    <a class="btn-nohelp-answer {% if nohelped %}nohelped{% endif %}" data-id="{{ answer.id }}"
                       href="javascript: void(0)">
                        <span class="for-nohelped">已标记为没有帮助</span>
                        <span class="for-un-nohelped">没有帮助</span></a>

                    {% if with_full_screen %}
                        <a href="{{ url_for('answer.view', uid=answer.id) }}" target="_blank"
                           class="btn-fullscreen">全屏阅读</a>
                    {% endif %}
                </span>
            </span>
        </div>
    </div>

    <script>
        // 赞同回答
        $(document).onOnce('click', '.dc-answer-commands .upvote-wap', function () {
            var id = parseInt($(this).data('id'));
            var $voteWap = $(this).parents('.vote-wap').first();
            var $upvoteWap = $(this);
            var $downvoteBtn = $voteWap.find('.btn-downvote-answer');

            if (!g.signin) {
                window.location = urlFor('account.signin');
                return;
            }

            $.ajax({
                url: urlFor('answer.upvote', {uid: id}),
                method: 'post',
                dataType: 'json'
            }).done(function (response) {
                if (response.result) {
                    if (response.upvoted) {
                        $upvoteWap.addClass('upvoted');
                        // 取消反对
                        $downvoteBtn.removeClass('downvoted');
                    } else {
                        $upvoteWap.removeClass('upvoted');
                    }

                    $voteWap.find('.upvotes-count').text(response.count);
                }
            });
        });

        // 反对回答
        $(document).onOnce('click', '.dc-answer-commands .btn-downvote-answer', function () {
            var id = parseInt($(this).data('id'));
            var $voteWap = $(this).parents('.vote-wap').first();
            var $upvoteWap = $voteWap.find('.upvote-wap');
            var $upvotesCount = $upvoteWap.find('.upvotes-count');
            var _this = $(this);

            if (!g.signin) {
                window.location = urlFor('account.signin');
                return;
            }

            $.ajax({
                url: urlFor('answer.downvote', {uid: id}),
                method: 'post',
                dataType: 'json'
            }).done(function (response) {
                if (response.result) {
                    if (response.downvoted) {
                        _this.addClass('downvoted');

                        // 取消赞同
                        if ($upvoteWap.hasClass('upvoted')) {
                            $upvoteWap.removeClass('upvoted');

                            var upvotesCount = parseInt($upvotesCount.text());
                            $upvotesCount.text(upvotesCount > 0 ? upvotesCount - 1 : 0);
                        }
                    } else {
                        _this.removeClass('downvoted');
                    }
                }
            });
        });

        // 展开评论
        {% if enable_comments_spread %}
            // TODO
        {% endif %}

        // 感谢回答
        $(document).onOnce('click', '.dc-answer-commands .btn-thank-answer', function () {
            var id = parseInt($(this).data('id'));
            var _this = $(this);

            if (!g.signin) {
                window.location = urlFor('account.signin');
                return;
            }

            $.ajax({
                url: urlFor('answer.thank', {uid: id}),
                method: 'post',
                dataType: 'json'
            }).done(function (response) {
                if (response.result) {
                    if (response.thanked) {
                        _this.addClass('thanked');
                    } else {
                        _this.removeClass('thanked');
                    }
                }
            });
        });

        // 没有帮助
        $(document).onOnce('click', '.dc-answer-commands .btn-nohelp-answer', function () {
            var id = parseInt($(this).data('id'));
            var _this = $(this);

            if (!g.signin) {
                window.location = urlFor('account.signin');
                return;
            }

            $.ajax({
                url: urlFor('answer.nohelp', {uid: id}),
                method: 'post',
                dataType: 'json'
            }).done(function (response) {
                if (response.result) {
                    if (response.nohelped) {
                        _this.addClass('nohelped');
                    } else {
                        _this.removeClass('nohelped');
                    }
                }
            });
        });
    </script>
{% endmacro %}


{% macro render_answers(answers) %}
    {% for answer in answers %}
        <div class="dc-answer">
            <div class="topics">
                {% for topic in answer.question.topics %}
                    {% set topic = topic.topic %}
                    <a href="{{ url_for('topic.view', uid=topic.id) }}" class="topic link-no-underline">
                        {{ topic.name }}</a>
                {% endfor %}
            </div>

            <a href="{{ url_for('question.view', uid=answer.question.id) }}" class="title link-no-underline link-color">
                {{ (answer.highlight_question_title or answer.question.title)|safe }}
            </a>

            <div class="answerer">
                <a href="{{ answer.user.profile_url }}">
                    {{ answer.user.name }}</a>{% if answer.user.desc %}，{{ answer.user.desc }}{% endif %}
            </div>

            <div class="content">
                {{ (answer.highlight_content or answer.content)|safe }}
            </div>

            <div class="time text-light" title="{{ answer.created_at }}">
                发布于 {{ answer.created_at|timesince }}
            </div>

            {{ render_answer_commands(answer) }}
        </div>
    {% endfor %}
{% endmacro %}


{% macro render_answer_comment(comment) %}
    <div class="answer-comment media">
        <div class="media-left">
            <a href="{{ comment.user.profile_url }}">
                <img src="{{ comment.user.avatar_url }}" class="img-circle" alt=""/>
            </a>
        </div>

        <div class="media-body">
            <div class="meta">
                <span class="comment-user-info">
                    <a href="{{ comment.user.profile_url }}" class="name">
                        {{ comment.user.name }}</a>{% if comment.user.desc %}
                    <span class="text-light">，{{ comment.user.desc }}</span>{% endif %}
                </span>

                <span title="{{ comment.created_at }}" class="time text-light">
                    {{ comment.created_at|timesince }}
                </span>

                <div class="commands pull-right">
                    <a href="javascript: void(0)" data-id="{{ comment.id }}"
                       class="btn-reply-comment link-no-underline">回复</a>
                    <span class="like-comment-wap
                        {% if comment.liked_by_user() %}liked{% endif %}
                        {% if comment.likes.count() == 0 %}zero{% endif %}">
                        <a href="javascript: void(0)" data-id="{{ comment.id }}"
                           class="btn-like-comment">
                            <span class="for-zero">赞同</span>
                            <span class="for-nonzero">
                                <span class="likes-count">{{ comment.likes.count() }}</span> 赞
                            </span>
                        </a>
                    </span>
                </div>
            </div>

            <div class="content">
                {% if comment.parent %}
                    <a href="{{ comment.parent.user.profile_url }}">
                        @{{ comment.parent.user.name }}</a>
                {% endif %}

                {{ comment.content|safe }}
            </div>
        </div>
    </div>
{% endmacro %}
