{# 相关问题 #}
{% macro similar_questions(questions) %}
    {% for question in questions %}
        <div class="dc-similar-question">
            <a href="{{ url_for('question.view', uid=question.id) }}" target="_blank">
                {{ (question.highlight_title or question.title)|safe }}
            </a>
            <span class="text-light answers-count">{{ question.answers_count }} 个回答</span>
        </div>
    {% endfor %}
{% endmacro %}


{# 关注问题 #}
{% macro question_follow_wap(question, dark=False) %}
    {% set followed = g.user and question.followed_by_user(g.user.id) %}

    <div class="dc-question-follow-wap btn {% if dark %}dark{% endif %}
        {% if followed %}
            btn-default
        {% else %}
            {% if dark %}btn-dark{% else %}btn-light{% endif %}
        {% endif %}
        {% if followed %}followed{% endif %}" data-id="{{ question.id }}">
        <span class="for-follow">关注问题</span><span class="for-unfollow">不再关注</span>
        <span class="divider">|</span>
        <span class="followers-count">{{ question.followers_count }}</span>
    </div>
    <script>
        $('.dc-question-follow-wap').onOnce('click', function () {
            var questionId = $(this).data('id');
            var followed = $(this).hasClass('followed');
            var _this = $(this);
            var $count = $(this).find('.followers-count');
            var url = urlFor('question.follow', {uid: questionId});

            if (!g.signin) {
                window.location = urlFor('account.signin');
                return;
            }

            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json'
            }).done(function (response) {
                if (response.result) {
                    if (response.followed) {
                        _this.addClass('followed').addClass('btn-default');
                        if (_this.hasClass('dark')) {
                            _this.removeClass('btn-dark');
                        } else {
                            _this.removeClass('btn-light');
                        }
                    } else {
                        _this.removeClass('followed').removeClass('btn-default');

                        if (_this.hasClass('dark')) {
                            _this.addClass('btn-dark');
                        } else {
                            _this.addClass('btn-light');
                        }
                    }

                    $count.text(response.followers_count);
                }
            });
        });
    </script>
{% endmacro %}


{# 已邀请的问题回答者 #}
{% macro invited_user_wap(invited_user) %}
    <span class="dc-hide-commands-trigger dc-invited-user-wap">
        <a href="{{ invited_user.profile_url }}" class="invited-user text-light dc-show-user-card"
           data-id="{{ invited_user.id }}">
            {{ invited_user.name }}</a>
        <div class="dc-hide-commands">
            <a href="javascript: void(0)" class="btn-un-invite"
               data-id="{{ invited_user.id }}">
                取消邀请
            </a>
        </div>
    </span>
{% endmacro %}


{# 问题 #}
{% macro render_question(question, user, action='提出了', relevant_topic_id=None) %}
    <div class="dc-question">
        <div class="action text-light">
            <a href="{{ user.profile_url }}" class="dc-show-user-card dc-img-text-link-wap" data-id="{{ user.id }}">
                <img src="{{ user.avatar_url }}" alt="" class="img-circle"/>
                <span class="user-name">{{ user.name }}</span></a> {{ action }}问题

            {% if relevant_topic_id %}
                {% set most_relevant_topic = question.most_relevant_topic(relevant_topic_id) %}

                {% if most_relevant_topic.id != relevant_topic_id %}
                    <span class="divider">·</span>
                    <span class="from-child-topic">
                        来自子话题 <a href="{{ url_for('topic.view', uid=most_relevant_topic.id) }}"
                                 class="dc-show-topic-card dc-topic" data-id="{{ most_relevant_topic.id }}">
                        {{ most_relevant_topic.name }}</a>
                    </span>
                {% endif %}
            {% endif %}
        </div>

        <div class="title">
            <a href="{{ url_for('question.view', uid=question.id) }}">{{ question.title }}</a>
        </div>

        <div class="meta text-light">
            {% if question.answers_count %}
                {{ question.answers_count }} 个回答
            {% else %}
                还没有回答
            {% endif %}

            <span class="divider">·</span>

            <span class="time">提问于 {{ question.created_at|timesince }}</span>
        </div>

        <div class="commands">
            {{ question_follow_wap(question) }}

            {% if not g.user or not question.answered_by_user(g.user.id) %}
                <a href="{{ url_for('question.view', uid=question.id) }}#answer" class="btn btn-default">
                    写答案</a>
            {% endif %}
        </div>
    </div>
{% endmacro %}


{# 问题 #}
{% macro render_questions(questions) %}
    {% for question in questions %}
        {{ render_question(question, question.user) }}
    {% endfor %}
{% endmacro %}
