{% macro render_questions(questions) %}
    {% for question in questions %}
        <div class="dc-question">
            <div>
                <a href="{{ url_for('question.view', uid=question.id) }}">{{ question.title }}</a>
            </div>
            <div>{{ question.user.name }}</div>
            <div>{{ question.desc|safe }}</div>
            <div class="time" title="{{ question.created_at }}">
                {{ question.created_at|timesince }}
            </div>
        </div>
    {% endfor %}
{% endmacro %}


{% macro similar_questions(questions) %}
    {% for question in questions %}
        <div class="similar-question">
            <a href="{{ url_for('question.view', uid=question.id) }}" target="_blank">
                {{ (question.highlight_title or question.title)|safe }}
            </a>
            <span>{{ question.answers.count() }} 个回答</span>
        </div>
    {% endfor %}
{% endmacro %}


{% macro question_follow_wap(question) %}
    <div class="dc-question-follow-wap btn-group {% if question.followed_by_user() %}followed{% endif %}">
        <a href="javascript: void(0)"
           class="btn btn-default btn-follow-question"
           data-id="{{ question.id }}">
            <span class="for-follow">关注</span><span class="for-unfollow">已关注</span>
        </a>
        <span class="followers-count btn btn-default">{{ question.followers.count() }}</span>
    </div>

    <script>
        $('.btn-follow-question').onOnce('click', function () {
            var questionId = $(this).data('id');
            var followed = $(this).parent().hasClass('followed');
            var $wap = $(this).parent();
            var $count = $(this).next();
            var url = urlFor('question.follow', {uid: questionId});

            if (!g.signin) {
                window.location = urlFor('account.signin');
                return;
            }

            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json'
            }).done(function (response) {
                if (response.result) {
                    if (response.followed) {
                        if (!$wap.hasClass('followed')) {
                            $wap.addClass('followed');
                        }
                    } else {
                        $wap.removeClass('followed');
                    }

                    $count.text(response.followers_count);
                }
            });
        });
    </script>
{% endmacro %}