{# 问题的话题编辑框 #}
{% macro topic_wap(topic, attr=None) %}
    {% if attr %}
        {% set topic = topic[attr] %}
    {% endif %}

    <div class="topic-wap">
        <a class="dc-topic dc-topic-white dc-show-topic-card" href="{{ url_for('topic.view', uid=topic.id) }}"
           data-id="{{ topic.id }}" data-name="{{ topic.name }}">
            {{ topic.name }}</a>
        <a href="javascript: void(0)" class="btn-delete-topic" data-id="{{ topic.id }}">
            <span class="fa fa-close"></span>
        </a>
    </div>
{% endmacro %}


{# 关注话题组件 #}
{% macro topic_follow_wap(topic, dark=False, text='关注话题') %}
    {% set followed = g.user and topic.followed_by_user(g.user.id) %}

    <div class="dc-topic-follow-wap btn {% if dark %}dark{% endif %}
        {% if followed %}
            btn-default
        {% else %}
            {% if dark %}btn-dark{% else %}btn-light{% endif %}
        {% endif %}
        {% if followed %}followed{% endif %}" data-id="{{ topic.id }}">
        <a href="javascript: void(0)" class="btn-follow-topic">
            <span class="for-follow">{{ text }}</span><span class="for-unfollow">不再关注</span></a>
        <span class="divider">|</span>
        <span class="followers-count">{{ topic.followers_count }}</span>
    </div>

    <script>
        (function () {
            // 关注话题
            $('.dc-topic-follow-wap').onOnce('click', function () {
                var topicId = $(this).data('id');
                var followed = $(this).hasClass('followed');
                var _this = $(this);
                var $count = _this.find('.followers-count');
                var url = urlFor('topic.follow', {uid: topicId});

                if (!g.signin) {
                    window.location = urlFor('account.signin');
                    return;
                }

                $.ajax({
                    url: url,
                    method: 'post',
                    dataType: 'json'
                }).done(function (response) {
                    if (response.result) {
                        if (response.followed) {
                            if (!_this.hasClass('followed')) {
                                _this.addClass('followed').addClass('btn-default');
                                if (_this.hasClass('dark')) {
                                    _this.removeClass('btn-dark');
                                } else {
                                    _this.removeClass('btn-light');
                                }
                            }
                        } else {
                            _this.removeClass('followed').removeClass('btn-default');

                            if (_this.hasClass('dark')) {
                                _this.addClass('btn-dark');
                            } else {
                                _this.addClass('btn-light');
                            }
                        }

                        $count.text(response.followers_count);
                    }
                });
            });
        })();
    </script>
{% endmacro %}


{# 话题页header #}
{% macro topic_page_header(topic, active='view', from_topic=None) %}
    <div class="dc-topic-page-header">
        <div class="container">
            {% if from_topic %}
                <div class="from-topic-wap">
                    <a href="{{ url_for('topic.view', uid=from_topic.id, redirect=0) }}"
                       class="link-color dc-show-topic-card"
                       data-id="{{ from_topic.id }}">{{ from_topic.name }}</a> 已合并至本话题
                </div>
            {% endif %}

            {% if topic.merge_to_topic_id %}
                <div class="merge-to-topic-wap">
                    本话题已合并至 <a href="{{ url_for('topic.view', uid=topic.merge_to_topic_id) }}"
                               class="link-color dc-show-topic-card"
                               data-id="{{ topic.merge_to_topic_id }}">{{ topic.merge_to_topic.name }}</a>
                    <a href="javascript: void(0)" class="text-light btn-unmerge-topic"
                       data-id="{{ topic.id }}" data-unmerge-from-id="{{ topic.merge_to_topic_id }}">取消合并</a>
                </div>
            {% endif %}

            <div class="commands">
                {{ topic_follow_wap(topic, dark=True) }}

                <a href="{{ url_for('topic.admin', uid=topic.id) }}" class="btn btn-default btn-admin-topic"
                   title="话题管理">
                    <span class="fa fa-gear"></span>
                </a>
            </div>

            <div class="topic-wap">
                <div class="media">
                    <div class="media-left">
                        <img src="{{ topic.avatar_url }}" alt=""/>
                    </div>
                    <div class="media-body">
                        <div class="topic-name">{{ topic.name }}</div>

                        {% if topic.wiki_preview %}
                            <div class="topic-wiki">
                                {{ topic.wiki_preview }} <a href="{{ url_for('topic.wiki', uid=topic.id) }}"
                                                            class="text-light link-no-underline btn-go-to-wiki">查看百科</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs nav-tabs-block">
                <li role="presentation" {% if active == 'view' %}class="active"{% endif %}>
                    <a href="{{ url_for('topic.view', uid=topic.id) }}">讨论</a>
                </li>
                <li role="presentation" {% if active == 'rank' %}class="active"{% endif %}>
                    <a href="{{ url_for('topic.rank', uid=topic.id) }}">榜单</a>
                </li>
                <li role="presentation" {% if active == 'wiki' %}class="active"{% endif %}>
                    <a href="{{ url_for('topic.wiki', uid=topic.id) }}">百科</a>
                </li>
            </ul>
        </div>
    </div>

    <script>
        (function () {
            var $topicPageHeader = $('.dc-topic-page-header');

            // 跳转到管理页
            $topicPageHeader.find('.btn-admin-topic').click(function () {
                if (!g.signin) {
                    window.location = urlFor('account.signin');
                    return false;
                }
            });

            // 取消合并
            $topicPageHeader.find('.btn-unmerge-topic').click(function () {
                if (!g.signin) {
                    window.location = urlFor('account.signin');
                    return false;
                }

                var topicId = $(this).data('id');
                var unmergeFromId = $(this).data('unmerge-from-id');
                var _this = $(this);

                $.ajax({
                    url: urlFor('topic.unmerge_from', {uid: topicId, unmerge_from_topic_id: unmergeFromId}),
                    method: 'post',
                    dataType: 'json'
                }).done(function (response) {
                    if (response.result) {
                        _this.parents('.merge-to-topic-wap').detach();
                    }
                });
            });
        })();
    </script>
{% endmacro %}


{# 直接父话题编辑框 #}
{% macro parent_topic_edit_wap(parent_topic, locked=False) %}
    <span class="parent-topic-edit-wap topic-edit-wap {% if locked %}locked{% endif %}">
        <a href="{{ url_for('topic.view', uid=parent_topic.id) }}" class="dc-show-topic-card dc-topic"
           data-id="{{ parent_topic.id }}">
            {{ parent_topic.name }}
        </a>
        {% if not locked %}
            <span class="btn-remove-parent-topic text-light btn-rm" title="删除所属话题"
                  data-parent-topic-id="{{ parent_topic.id }}">×</span>
        {% endif %}
    </span>
{% endmacro %}


{# 直接子话题编辑框 #}
{% macro child_topic_edit_wap(child_topic, locked=False) %}
    <span class="child-topic-edit-wap topic-edit-wap {% if locked %}locked{% endif %}">
        <a href="{{ url_for('topic.view', uid=child_topic.id) }}" class="dc-show-topic-card dc-topic"
           data-id="{{ child_topic.id }}">
            {{ child_topic.name }}
        </a>
        {% if not locked %}
            <span class="btn-remove-child-topic text-light btn-rm" title="删除下属话题"
                  data-child-topic-id="{{ child_topic.id }}">×</span>
        {% endif %}
    </span>
{% endmacro %}


{# 同义词编辑框 #}
{% macro topic_synonym_edit_wap(topic_synonym) %}
    <li class="synonym-edit-wap">
        <span>{{ topic_synonym.synonym }}</span>
        <a href="javascript: void(0)" class="btn-remove-topic-synonym text-light btn-rm"
           data-id="{{ topic_synonym.id }}">移除</a>
    </li>
{% endmacro %}


{# 话题讨论页header #}
{% macro topic_discuss_page_header(topic, active="top") %}
    <div class="dc-topic-discuss-page-header clearfix">
        <a href="{{ url_for('topic.view', uid=topic.id) }}"
           class="{% if active == 'top' %}active{% endif %}">
            精彩回答</a>
        <a href="{{ url_for('topic.waiting_for_answer', uid=topic.id) }}"
           class="{% if active == 'waiting_for_answer' %}active{% endif %}">
            等待回答</a>
        <a href="{{ url_for('topic.questions', uid=topic.id) }}"
           class="{% if active == 'questions' %}active{% endif %}">
            全部问题</a>
    </div>
{% endmacro %}


{# 话题讨论页sidebar #}
{% macro topic_discuss_page_sidebar(topic) %}
    <div class="dc-topic-discuss-page-sidebar">
        <h3>相关话题</h3>

        <div class="related-topics">
            {% for relevant_topic in topic.relevant_topics.limit(8) %}
                {% set relevant_topic = relevant_topic.relevant_topic %}
                <div class="related-topic media">
                    <div class="media-left">
                        <a href="{{ url_for('topic.view', uid=relevant_topic.id) }}">
                            <img src="{{ relevant_topic.avatar_url }}" alt="" class="dc-show-topic-card"
                                 data-id="{{ relevant_topic.id }}"/></a>
                    </div>
                    <div class="media-body">
                        <div>
                            <a href="{{ url_for('topic.view', uid=relevant_topic.id) }}" class="name dc-show-topic-card"
                               data-id="{{ relevant_topic.id }}">
                                {{ relevant_topic.name }}</a>
                        </div>

                        <div class="text-light">
                            <strong>{{ relevant_topic.followers_count }}</strong> 人关注
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}


{# 擅长话题 #}
{% macro render_expert_topic(expert_topic, myself) %}
    {% set topic = expert_topic.topic %}

    <div class="media expert-topic {% if not expert_topic.experience %}empty{% endif %}"
         data-show-order="{{ expert_topic.show_order }}" data-id="{{ expert_topic.id }}">
        <div class="media-left">
            <a href="{{ url_for('topic.view', uid=topic.id) }}">
                <img src="{{ topic.avatar_url }}" alt="" class="dc-show-topic-card"
                     data-id="{{ topic.id }}"/></a>
        </div>
        <div class="media-body">
            <div class="name-wap">
                <a href="{{ url_for('topic.view', uid=topic.id) }}"
                   class="topic-name dc-show-topic-card" data-id="{{ topic.id }}">{{ topic.name }}</a>
            </div>

            <div class="experience-wap text-light">
                {% if not myself %}
                    {% if not expert_topic.experience %}
                        <span class="no-experience">暂无话题经验</span>
                    {% else %}
                        <span class="experience">{{ expert_topic.experience or "" }}</span>
                    {% endif %}
                {% else %}
                    <span class="experience">{{ expert_topic.experience or "" }}</span>
                    <a href="javascript: void(0)" class="btn-edit-experience" title="编辑话题经验">
                        <span class="fa fa-pencil"></span></a>
                    <a class="btn-add-experience" href="javascript: void(0)">
                        + 添加话题经验</a>
                {% endif %}
            </div>

            {% if myself %}
                <form action="" class="form-experience">
                    <textarea name="experience" class="form-control" id="" rows=2></textarea>

                    <div class="buttons text-right">
                        <a href="javascript: void(0)"
                           class="text-light btn-cancel-edit-experience">取消</a>
                        <a href="javascript: void(0)"
                           class="btn btn-default btn-submit-experience btn-sm"
                           data-topic-id="{{ topic.id }}">更新</a>
                    </div>
                </form>
            {% endif %}
        </div>

        {% if myself %}
            <div class="commands">
                <a href="javascript: void(0)" class="btn-remove-topic" title="移除此话题"
                   data-id="{{ expert_topic.id }}">
                    <span class="fa fa-trash-o"></span>
                </a>
            </div>
        {% endif %}
    </div>
{% endmacro %}


{# 话题卡片 #}
{% macro topic_card(topic) %}
    <div class="dc-topic-card">
        <div class="topic-wap">
            <div class="meta-wap">
                <a href="{{ url_for('topic.view', uid=topic.id) }}">
                    <img src="{{ topic.avatar_url }}" alt="" class="img-rounded"/></a>

                <a class="name" href="{{ url_for('topic.view', uid=topic.id) }}">
                    {{ topic.name }}</a>
            </div>

            {% if topic.wiki_preview %}
                <div class="desc text-light">
                    {{ topic.wiki_preview|truncate(30, true) }}
                </div>
            {% endif %}
        </div>
        <div class="follow-wap">
            {{ topic_follow_wap(topic, dark=True, text='关注') }}
        </div>
    </div>
{% endmacro %}


{# 设置页页头 #}
{% macro topic_admin_page_header(topic, active="admin") %}
    <div class="dc-topic-admin-page-header">
        <div class="container">
            <a href="{{ url_for('topic.view', uid=topic.id) }}" class="btn-back">
                <span class="fa fa-angle-left"></span> 返回话题
            </a>

            <ul class="list-inline list-unstyled">
                <li {% if active == 'admin' %}class='active'{% endif %}>
                    <a href="{{ url_for('topic.admin', uid=topic.id) }}">话题设置</a>
                </li>
                <li {% if active == 'logs' %}class="active"{% endif %}>
                    <a href="{{ url_for('topic.logs', uid=topic.id) }}">话题日志</a>
                </li>
                {% if not topic.wiki_locked %}
                    <li {% if active == 'edit_wiki' %}class="active"{% endif %}>
                        <a href="{{ url_for('topic.edit_wiki', uid=topic.id) }}">编辑百科</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endmacro %}


{# 话题下的精彩回答 #}
{% macro render_topic_fantastic_answers(answers, topic) %}
    {% from "macros/_answer.html" import render_answer %}

    {% for answer in answers %}
        {{ render_answer(answer, with_topics=False, relevant_topic_id=topic.id) }}
    {% endfor %}
{% endmacro %}


{# 话题下的等待回答的问题 #}
{% macro render_topic_waiting_for_answer_questions(questions, topic) %}
    {% from "macros/_question.html" import render_question %}

    {% for question in questions %}
        {{ render_question(question, question.user, relevant_topic_id=topic.id) }}
    {% endfor %}
{% endmacro %}
