{# 问题的话题编辑框 #}
{% macro topic_wap(topic, attr=None) %}
    {% if attr %}
        {% set topic = topic[attr] %}
    {% endif %}

    <div class="topic-wap">
        <a class="dc-topic dc-topic-white" href="{{ url_for('topic.view', uid=topic.id) }}"
           data-id="{{ topic.id }}" data-name="{{ topic.name }}">
            {{ topic.name }}</a>
        <a href="javascript: void(0)" class="btn-delete-topic" data-id="{{ topic.id }}">
            <span class="fa fa-close"></span>
        </a>
    </div>
{% endmacro %}


{# 关注话题组件 #}
{% macro topic_follow_wap(topic, dark=False) %}
    {% set followed = topic.followed_by_user() %}
    <div class="dc-topic-follow-wap btn {% if dark %}dark{% endif %}
        {% if followed %}
            btn-default
        {% else %}
            {% if dark %}btn-dark{% else %}btn-light{% endif %}
        {% endif %}
        {% if followed %}followed{% endif %}" data-id="{{ topic.id }}">
        <a href="javascript: void(0)" class="btn-follow-topic">
            <span class="for-follow">关注话题</span><span class="for-unfollow">不再关注</span></a>
        <span class="divider">|</span>
        <span class="followers-count">{{ topic.followers.count() }}</span>
    </div>

    <script>
        (function () {
            // 关注话题
            $('.dc-topic-follow-wap').onOnce('click', function () {
                var topicId = $(this).data('id');
                var followed = $(this).hasClass('followed');
                var _this = $(this);
                var $count = _this.find('.followers-count');
                var url = urlFor('topic.follow', {uid: topicId});

                if (!g.signin) {
                    window.location = urlFor('account.signin');
                    return;
                }

                $.ajax({
                    url: url,
                    method: 'post',
                    dataType: 'json'
                }).done(function (response) {
                    if (response.result) {
                        if (response.followed) {
                            if (!_this.hasClass('followed')) {
                                _this.addClass('followed').addClass('btn-default');
                                if (_this.hasClass('dark')) {
                                    _this.removeClass('btn-dark');
                                } else {
                                    _this.removeClass('btn-light');
                                }
                            }
                        } else {
                            _this.removeClass('followed').removeClass('btn-default');

                            if (_this.hasClass('dark')) {
                                _this.addClass('btn-dark');
                            } else {
                                _this.addClass('btn-light');
                            }
                        }

                        $count.text(response.followers_count);
                    }
                });
            });
        })();
    </script>
{% endmacro %}


{# 话题页header #}
{% macro topic_page_header(topic, active='view') %}
    <div class="dc-topic-page-header">
        <div class="container">
            <div class="commands">
                {{ topic_follow_wap(topic, dark=True) }}

                <a href="{{ url_for('topic.admin', uid=topic.id) }}" class="btn btn-default btn-admin-topic"
                   title="话题管理">
                    <span class="fa fa-gear"></span>
                </a>
            </div>

            <div class="topic-wap">
                <div class="media">
                    <div class="media-left">
                        <img src="{{ topic.avatar_url }}" alt=""/>
                    </div>
                    <div class="media-body">
                        <div class="topic-name">{{ topic.name }}</div>

                        {% if topic.wiki_preview %}
                            <div class="topic-wiki">
                                {{ topic.wiki_preview }} <a href="{{ url_for('topic.wiki', uid=topic.id) }}"
                                                            class="text-light link-no-underline btn-go-to-wiki">查看百科</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs nav-tabs-block">
                <li role="presentation" {% if active == 'view' %}class="active"{% endif %}>
                    <a href="{{ url_for('topic.view', uid=topic.id) }}">讨论</a>
                </li>
                <li role="presentation" {% if active == 'rank' %}class="active"{% endif %}>
                    <a href="{{ url_for('topic.rank', uid=topic.id) }}">榜单</a>
                </li>
                <li role="presentation" {% if active == 'wiki' %}class="active"{% endif %}>
                    <a href="{{ url_for('topic.wiki', uid=topic.id) }}">百科</a>
                </li>
            </ul>
        </div>
    </div>

    <script>
        (function () {
            $('.btn-admin-topic').click(function () {
                if (!g.signin) {
                    window.location = urlFor('account.signin');
                    return false;
                }
            });
        })();
    </script>
{% endmacro %}


{# 直接父话题编辑框 #}
{% macro parent_topic_edit_wap(parent_topic) %}
    <li class="parent-topic-edit-wap">
        <a href="{{ url_for('topic.view', uid=parent_topic.id) }}">
            {{ parent_topic.name }}</a>
        <a href="javascript: void(0)" class="btn-remove-parent-topic text-light btn-rm"
           data-parent-topic-id="{{ parent_topic.id }}">移除</a>
    </li>
{% endmacro %}


{# 直接子话题编辑框 #}
{% macro child_topic_edit_wap(child_topic) %}
    <li class="child-topic-edit-wap">
        <a href="{{ url_for('topic.view', uid=child_topic.id) }}">
            {{ child_topic.name }}</a>
        <a href="javascript: void(0)" class="btn-remove-child-topic text-light btn-rm"
           data-child-topic-id="{{ child_topic.id }}">移除</a>
    </li>
{% endmacro %}


{# 同义词编辑框 #}
{% macro topic_synonym_edit_wap(topic_synonym) %}
    <li class="child-topic-edit-wap">
        <span>{{ topic_synonym.synonym }}</span>
        <a href="javascript: void(0)" class="btn-remove-topic-synonym text-light btn-rm"
           data-id="{{ topic_synonym.id }}">移除</a>
    </li>
{% endmacro %}


{# 话题讨论页header #}
{% macro topic_discuss_page_header(topic, active="top") %}
    <div class="dc-topic-discuss-page-header clearfix">
        <a href="{{ url_for('topic.view', uid=topic.id) }}"
           class="{% if active == 'top' %}active{% endif %}">
            精彩回答</a>
        <a href="{{ url_for('topic.waiting_for_answer', uid=topic.id) }}"
           class="{% if active == 'waiting_for_answer' %}active{% endif %}">
            等待回答</a>
        <a href="{{ url_for('topic.questions', uid=topic.id) }}"
           class="{% if active == 'questions' %}active{% endif %}">
            全部问题</a>
    </div>
{% endmacro %}


{# 话题讨论页sidebar #}
{% macro topic_discuss_page_sidebar(topic) %}
    {#    <h3>父话题</h3>#}
    {##}
    {#    {% if topic.root %}#}
    {#        <span class="label label-primary">根话题</span>#}
    {#    {% else %}#}
    {#        {% for parent_topic in topic.parent_topics %}#}
    {#            <a href="{{ url_for('topic.view', uid=parent_topic.id) }}">#}
    {#                {{ parent_topic.name }}#}
    {#            </a>#}
    {#        {% endfor %}#}
    {#    {% endif %}#}

    <div class="dc-topic-discuss-page-sidebar">
        <h3>相关话题</h3>

        <div class="related-topics">
            {% for child_topic in topic.child_topics %}
                <div class="related-topic media">
                    <div class="media-left">
                        <a href="{{ url_for('topic.view', uid=child_topic.id) }}">
                            <img src="{{ child_topic.avatar_url }}" alt=""/>
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="{{ url_for('topic.view', uid=child_topic.id) }}" class="name">
                            {{ child_topic.name }}
                        </a>

                        <div class="text-light">
                            <strong>{{ child_topic.followers.count() }}</strong> 人关注
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a href="{{ url_for('topic.logs', uid=topic.id) }}" class="text-light">话题日志</a>
    </div>
{% endmacro %}


{# 擅长话题 #}
{% macro render_expert_topics(expert_topics) %}
    {% for expert_topic in expert_topics %}
        {% set topic = expert_topic.topic %}
        <div class="media dc-expert-topic">
            <div class="media-left">
                <a href="{{ url_for('topic.view', uid=topic.id) }}">
                    <img src="{{ topic.avatar_url }}" alt=""/>
                </a>
            </div>
            <div class="media-body">
                <div>
                    <a href="{{ url_for('topic.view', uid=topic.id) }}" class="topic-name">{{ topic.name }}</a>
                </div>
                <div class="experience text-light">
                    {% if expert_topic.experience %}
                        {{ expert_topic.experience }}
                    {% else %}
                        <span class="empty">暂无话题经验</span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}


{# 在 compose 页中呈现 expert topic #}
{% macro render_expert_topic_in_compose_page(expert_topic) %}
    {% set topic = expert_topic.topic %}

    <div class="media expert-topic {% if not expert_topic.experience %}empty{% endif %}"
            data-show-order="{{ expert_topic.show_order }}" data-id="{{ expert_topic.id }}">
        <div class="media-left">
            <a href="{{ url_for('topic.view', uid=topic.id) }}">
                <img src="{{ topic.avatar_url }}" alt=""/>
            </a>
        </div>
        <div class="media-body">
            <div class="name-wap">
                <a href="{{ url_for('topic.view', uid=topic.id) }}"
                   class="topic-name">{{ topic.name }}</a>
            </div>

            <div class="experience-wap text-light">
                <span class="experience">{{ expert_topic.experience or "" }}</span>
                <a href="javascript: void(0)" class="btn-edit-experience" title="编辑话题经验">
                    <span class="fa fa-pencil"></span></a>
                <a class="btn-add-experience" href="javascript: void(0)">
                    + 添加话题经验</a>
            </div>

            <form action="" class="form-experience">
                <textarea name="experience" class="form-control" id="" rows=2></textarea>

                <div class="buttons text-right">
                    <a href="javascript: void(0)"
                       class="text-light btn-cancel-edit-experience">取消</a>
                    <a href="javascript: void(0)"
                       class="btn btn-default btn-submit-experience btn-sm"
                       data-topic-id="{{ topic.id }}">更新</a>
                </div>
            </form>
        </div>

        <div class="commands">
            <a href="javascript: void(0)" class="btn-remove-topic" title="移除此话题"
               data-id="{{ expert_topic.id }}">
                <span class="fa fa-trash-o"></span>
            </a>
        </div>
    </div>
{% endmacro %}