{% macro render_topic_wap(topic, attr=None) %}
    {% if attr %}
        {% set topic = topic[attr] %}
    {% endif %}

    <div class="topic-wap">
        <a class="label label-default topic" href="{{ url_for('topic.view', uid=topic.id) }}"
           data-id="{{ topic.id }}">
            {{ topic.name }}</a>
        <a href="javascript: void(0)" class="btn-delete-topic" data-id="{{ topic.id }}">
            <span class="fa fa-close"></span>
        </a>
    </div>
{% endmacro %}


{% macro follow_topic(topic) %}
    <div class="dc-topic-follow-wap btn-group {% if topic.followed_by_user() %}followed{% endif %}">
        <a href="javascript: void(0)"
           class="btn btn-default btn-follow-topic"
           data-id="{{ topic.id }}">
            <span class="for-follow">关注</span><span class="for-unfollow">已关注</span>
        </a>
        <span class="followers-count btn btn-default">{{ topic.followers.count() }}</span>
    </div>

    <script>
        $('.btn-follow-topic').click(function () {
            var topicId = $(this).data('id');
            var followed = $(this).parent().hasClass('followed');
            var $wap = $(this).parent();
            var $count = $(this).next();
            var url = urlFor('topic.follow', {uid: topicId});

            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json'
            }).done(function (response) {
                if (response.result) {
                    if (response.followed) {
                        if (!$wap.hasClass('followed')) {
                            $wap.addClass('followed');
                        }
                    } else {
                        $wap.removeClass('followed');
                    }

                    $count.text(response.followers_count);
                }
            });
        });
    </script>
{% endmacro %}


{% macro topic_page_header(topic, active='view') %}
    <div class="dc-topic-page-header">
        <a href="{{ url_for('topic.admin', uid=topic.id) }}" class="pull-right btn btn-default">
            话题管理</a>

        {{ follow_topic(topic) }}

        <div class="topic-wap">
            <div class="media">
                <div class="media-left">
                    <img src="{{ topic.avatar_url }}" alt=""/>
                </div>
                <div class="media-body">
                    <h1>{{ topic.name }}</h1>

                    {% if topic.desc %}
                        <div class="desc">{{ topic.desc }}</div>
                    {% endif %}
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" {% if active == 'view' %}class="active"{% endif %}>
                <a href="{{ url_for('topic.view', uid=topic.id) }}">讨论</a>
            </li>
            <li role="presentation" {% if active == 'rank' %}class="active"{% endif %}>
                <a href="{{ url_for('topic.rank', uid=topic.id) }}">榜单</a>
            </li>
            <li role="presentation" {% if active == 'wiki' %}class="active"{% endif %}>
                <a href="{{ url_for('topic.wiki', uid=topic.id) }}">百科</a>
            </li>
        </ul>
    </div>
{% endmacro %}


{% macro parent_topic_edit_wap(parent_topic) %}
    <li class="parent-topic-edit-wap">
        <a href="{{ url_for('topic.view', uid=parent_topic.id) }}">
            {{ parent_topic.name }}</a>
        <a href="javascript: void(0)" class="btn-remove-parent-topic"
           data-parent-topic-id="{{ parent_topic.id }}">移除</a>
    </li>
{% endmacro %}


{% macro child_topic_edit_wap(child_topic) %}
    <li class="child-topic-edit-wap">
        <a href="{{ url_for('topic.view', uid=child_topic.id) }}">
            {{ child_topic.name }}</a>
        <a href="javascript: void(0)" class="btn-remove-child-topic"
           data-child-topic-id="{{ child_topic.id }}">移除</a>
    </li>
{% endmacro %}
