{# 关注用户 #}
{% macro user_follow_wap(user, dark=False) %}
    {% set followed = user.followed_by_user() %}

    <div class="dc-user-follow-wap btn {% if dark %}dark{% endif %}
        {% if followed %}
            btn-default
        {% else %}
            {% if dark %}btn-dark{% else %}btn-light{% endif %}
        {% endif %}
        {% if followed %}followed{% endif %}" data-id="{{ user.id }}">
        <span class="for-follow">关注</span><span class="for-unfollow">不再关注</span>
        <span class="divider">|</span>
        <span class="followers-count">{{ user.followers.count() }}</span>
    </div>

    <script>
        $('.dc-user-follow-wap').onOnce('click', function () {
            var userId = $(this).data('id');
            var followed = $(this).hasClass('followed');
            var _this = $(this);
            var $count = _this.find('.followers-count');
            var url = urlFor('user.follow', {uid: userId});

            if (!g.signin) {
                window.location = urlFor('account.signin');
                return;
            }

            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json'
            }).done(function (response) {
                if (response.result) {
                    if (response.followed) {
                        _this.addClass('followed').addClass('btn-default');
                        if (_this.hasClass('dark')) {
                            _this.removeClass('btn-dark');
                        } else {
                            _this.removeClass('btn-light');
                        }
                    } else {
                        _this.removeClass('followed').removeClass('btn-default');

                        if (_this.hasClass('dark')) {
                            _this.addClass('btn-dark');
                        } else {
                            _this.addClass('btn-light');
                        }
                    }

                    $count.text(response.followers_count);
                }
            });
        });
    </script>
{% endmacro %}


{# 用户页页头 #}
{% macro user_page_header(user, active='profile') %}
    <div class="dc-user-page-header {% if user.background %}has-background{% endif %}">
        <a class="text-logo link-no-underline" href="{{ url_for('site.index') }}">电</a>

        <div class="commands">
            {% if not g.user or g.user.id != user.id %}
                {{ user_follow_wap(user) }}
            {% endif %}

            {% if g.user and g.user.id == user.id %}
                <a href="javascript: void(0)" class="pull-right btn btn-default btn-upload-background">
                    设置封面图</a>
                <input type="file" class="input-upload-background" name="background"/>
            {% endif %}
        </div>

        <div class="background-wap"
             {% if user.background %}style="background-image: url({{ user.background_url }});"{% endif %}></div>

        <div class="container text-center">
            <div class="avatar-wap">
                <img src="{{ user.avatar_url }}" class="img-circle user-avatar" alt=""/>
                {% if g.user and g.user.id == user.id %}
                    <span class="btn-upload-avatar">
                        上传头像
                    </span>
                    <input type="file" name="avatar"/>
                {% endif %}
            </div>

            <div class="name">{{ user.name }}</div>

            {% if user.desc %}
                <div class="desc">
                    {{ user.desc }}
                </div>
            {% endif %}

            <div class="meta">
                {% for attr in ['city', 'organization', 'position'] %}
                    {% if user[attr] %}
                        {{ user[attr] }}
                        <span class="divider">·</span>
                    {% endif %}
                {% else %}
                    尚未填写相关资料
                {% endfor %}
            </div>

            <div class="follows-data">
                <span class="item">
                    <span class="count">{{ user.followings.count() }}</span>
                    <br/>
                    关注
                </span><span class="item">
                    <span class="count">{{ user.followers.count() }}</span>
                    <br/>
                    关注者
                </span>
            </div>

            <ul class="nav nav-tabs nav-tabs-block">
                <li {% if active == 'profile' %}class="active"{% endif %}>
                    <a href="{{ user.profile_url }}">主页</a>
                </li>
                <li {% if active == 'questions_and_answers' %}class="active"{% endif %}>
                    <a href="{{ url_for('user.questions_and_answers', uid=user.id) }}">问答</a>
                </li>
                <li {% if active == 'achievements' %}class="active"{% endif %}>
                    <a href="{{ url_for('user.achievements', uid=user.id) }}">成就</a>
                </li>
            </ul>
        </div>
    </div>

    <script>
        (function () {
            // 上传背景图
            var bgUploader = simple.uploader({
                url: urlFor('account.upload_background'),
                fileKey: 'file',
                connectionCount: 1
            });

            $('.btn-upload-background').click(function () {
                $("input[name='background']").click();
            });

            $("input[name='background']").on('change', function (e) {
                bgUploader.upload(this.files);
            });

            bgUploader.on('uploadsuccess', function (e, file, response) {
                response = JSON.parse(response);
                if (response.result) {
                    $('.background-wap').css({
                        'background-image': 'url(' + response.url + ')'
                    });
                    $('.dc-user-page-header').addClass('has-background');
                }
            });

            // 上传头像
            var avatarUploader = simple.uploader({
                url: urlFor('account.upload_avatar'),
                fileKey: 'file',
                connectionCount: 1
            });

            $('.btn-upload-avatar').click(function () {
                $("input[name='avatar']").click();
            });

            $("input[name='avatar']").on('change', function (e) {
                avatarUploader.upload(this.files);
            });

            avatarUploader.on('uploadsuccess', function (e, file, response) {
                response = JSON.parse(response);
                if (response.result) {
                    $('.user-avatar').attr('src', response.url);
                }
            });
        })();
    </script>
{% endmacro %}
