{% macro user_follow_wap(user, dark=False) %}
    {% set followed = user.followed_by_user() %}

    <div class="dc-user-follow-wap btn {% if dark %}dark{% endif %}
        {% if followed %}
            btn-default
        {% else %}
            {% if dark %}btn-dark{% else %}btn-light{% endif %}
        {% endif %}
        {% if followed %}followed{% endif %}" data-id="{{ user.id }}">
        <span class="for-follow">关注</span><span class="for-unfollow">不再关注</span>
        <span class="divider">|</span>
        <span class="followers-count">{{ user.followers.count() }}</span>
    </div>

    <script>
        $('.dc-user-follow-wap').onOnce('click', function () {
            var userId = $(this).data('id');
            var followed = $(this).hasClass('followed');
            var _this = $(this);
            var $count = _this.find('.followers-count');
            var url = urlFor('user.follow', {uid: userId});

            if (!g.signin) {
                window.location = urlFor('account.signin');
                return;
            }

            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json'
            }).done(function (response) {
                if (response.result) {
                    if (response.followed) {
                        _this.addClass('followed').addClass('btn-default');
                        if (_this.hasClass('dark')) {
                            _this.removeClass('btn-dark');
                        } else {
                            _this.removeClass('btn-light');
                        }
                    } else {
                        _this.removeClass('followed').removeClass('btn-default');

                        if (_this.hasClass('dark')) {
                            _this.addClass('btn-dark');
                        } else {
                            _this.addClass('btn-light');
                        }
                    }

                    $count.text(response.followers_count);
                }
            });
        });
    </script>
{% endmacro %}


{% macro user_page_header(user, active='profile') %}
    {% if g.user and g.user.id == user.id %}
        <a href="{{ url_for('account.settings') }}" class="pull-right btn btn-default">
            编辑个人资料</a>
    {% endif %}

    <img src="{{ user.avatar_url }}" alt=""/>

    <h1>
        {{ user.name }}
    </h1>

    <div class="desc">
        {% if user.desc %}
            {{ user.desc }}
        {% endif %}
    </div>

    <div class="meta">
        {% for attr in ['city', 'organization', 'position'] %}
            {% if user[attr] %}
                {{ user[attr] }}
            {% endif %}
            <span class="divider">•</span>
        {% endfor %}
    </div>

    {{ user.upvoted_answers.count() }} 赞同 |
    {{ user.thanked_answers.count() }} 感谢 |
    10 分享

    {% if not g.user or g.user.id != user.id %}
        <div>
            {{ user_follow_wap(user) }}
        </div>
    {% endif %}

    <ul class="nav nav-tabs">
        <li {% if active == 'profile' %}class="active"{% endif %}>
            <a href="{{ user.profile_url }}">主页</a>
        </li>
        <li {% if active == 'answers' %}class="active"{% endif %}>
            <a href="{{ url_for('user.answers', uid=user.id) }}">
                {{ user.answers.count() }}
                回答
            </a>
        </li>
        <li {% if active == 'questions' %}class="active"{% endif %}>
            <a href="{{ url_for('user.questions', uid=user.id) }}">
                {{ user.questions.count() }}
                提问
            </a>
        </li>
        {#        <li {% if active == 'profile' %}class="collects"{% endif %}>#}
        {#            <a href="{{ url_for('user.collects', uid=user.id) }}">#}
        {#                11#}
        {#                收藏#}
        {#            </a>#}
        {#        </li>#}
        {#        <li {% if active == 'profile' %}class="edits"{% endif %}>#}
        {#            <a href="{{ url_for('user.edits', uid=user.id) }}">#}
        {#                {{ user.edits.count() }}#}
        {#                公共编辑#}
        {#            </a>#}
        {#        </li>#}
        <li {% if active == 'followings' %}class="active"{% endif %}>
            <a href="{{ url_for('user.followings', uid=user.id) }}">
                {{ user.followings.count() }}
                关注
            </a>
        </li>
        <li {% if active == 'followers' %}class="active"{% endif %}>
            <a href="{{ url_for('user.followers', uid=user.id) }}">
                {{ user.followers.count() }}
                关注者
            </a>
        </li>
    </ul>
{% endmacro %}
