.question-wap {
  position: relative;
  border-bottom: 1px solid #eaeaea;
  transition: height 2s, background-color 0.2s;
}
.question-wap .question {
  display: block;
}
.question-wap .ignore-tip {
  display: none;
}
.question-wap.ignored {
  background-color: #f5f6f5;
  padding: 22px 20px;
}
.question-wap.ignored .question {
  display: none;
}
.question-wap.ignored .ignore-tip {
  display: block;
}
.question-wap .new-flag {
  position: absolute;
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #999;
  left: -18px;
  top: 28px;
}
.question-wap.invited .new-flag {
  display: block;
}
.question-wap.invited.new .new-flag {
  background-color: red;
}
.ignore-tip {
  position: relative;
}
.ignore-tip .divider {
  margin: 0 5px;
}
.question {
  padding: 22px 0;
}
.question .topics {
  margin-bottom: 18px;
}
.question .action {
  margin-bottom: 10px;
}
.question .action img {
  width: 20px;
  height: 20px;
}
.question .action .name {
  color: #999;
  margin-left: 8px;
}
.question .action .divider {
  margin: 0 5px;
}
.question .title {
  margin-bottom: 10px;
}
.question .title a {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
.question .meta {
  margin-bottom: 16px;
}
.question .meta .divider {
  margin: 0 5px;
}
.question .btn-ignore-feed {
  margin: 0 15px 0 8px;
}
.question .btn-follow-question .for-non-followed {
  display: inline;
}
.question .btn-follow-question .for-followed {
  display: none;
}
.question .btn-follow-question.followed .for-non-followed {
  display: none;
}
.question .btn-follow-question.followed .for-followed {
  display: inline;
}
.expert-topics-outer-wap .add-expert-topic-wap {
  display: block;
}
.expert-topics-outer-wap .full-tip {
  display: none;
}
.expert-topics-outer-wap.full .add-expert-topic-wap {
  display: none;
}
.expert-topics-outer-wap.full .full-tip {
  display: block;
}
.expert-topic {
  cursor: move;
  margin-bottom: 18px;
  position: relative;
}
.expert-topic .media-left {
  padding-right: 12px;
}
.expert-topic .media-left img {
  width: 40px;
  height: 40px;
}
.expert-topic .name-wap {
  margin-bottom: 3px;
}
.expert-topic .name-wap .topic-name {
  margin-bottom: 2px;
  font-weight: bold;
  color: #333;
}
.expert-topic .experience-wap .btn-add-experience {
  display: none;
  color: #bbb;
}
.expert-topic .experience-wap .btn-add-experience:hover {
  color: #999;
}
.expert-topic .experience-wap .experience {
  display: inline-block;
}
.expert-topic .experience-wap .btn-edit-experience {
  margin-left: 10px;
  color: #999;
  visibility: hidden;
  display: inline-block;
}
.expert-topic .experience-wap .btn-edit-experience:hover {
  color: #666;
}
.expert-topic .experience-wap:hover .btn-edit-experience {
  visibility: visible;
}
.expert-topic .commands {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.expert-topic .commands a {
  color: #999;
  display: inline-block;
}
.expert-topic .commands a:hover {
  color: #666;
}
.expert-topic .form-experience {
  margin-top: 10px;
  display: none;
}
.expert-topic .form-experience textarea {
  resize: none;
}
.expert-topic .form-experience .buttons {
  margin-top: 10px;
}
.expert-topic .form-experience .buttons .btn-submit-experience {
  margin-left: 5px;
}
.expert-topic:hover .commands {
  visibility: visible;
}
.expert-topic.edit .form-experience {
  display: block;
}
.expert-topic.edit .experience-wap {
  display: none;
}
.expert-topic.empty .experience-wap .btn-add-experience {
  display: inline-block;
}
.expert-topic.empty .experience-wap .experience {
  display: none;
}
.expert-topic.empty .experience-wap .btn-edit-experience {
  display: none;
}
.add-expert-topic-wap .btn-add-expert-topic {
  border: 1px solid #eaeaea;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  color: #999;
  padding-top: 9px;
}
.add-expert-topic-wap .btn-add-expert-topic:hover {
  color: #666;
  border-color: #d1d1d1;
}
.add-expert-topic-wap .form-wap {
  display: none;
}
.add-expert-topic-wap .form-wap .commands {
  text-align: right;
  margin-top: 10px;
}
.add-expert-topic-wap .form-wap .commands .btn-submit-expert-topic {
  margin-left: 5px;
}
.add-expert-topic-wap .form-wap .twitter-typeahead {
  width: 100%;
}
.add-expert-topic-wap.edit .btn-add-expert-topic {
  display: none;
}
.add-expert-topic-wap.edit .form-wap {
  display: block;
}
.tooltip-inner {
  padding: 5px 8px;
  border-radius: 2px;
}
