.question-wap {
  position: relative;
  border-bottom: 1px solid #eaeaea;
  transition: height 2s, background-color 0.2s;
}
.question-wap .question {
  display: block;
}
.question-wap .ignore-tip {
  display: none;
}
.question-wap.ignored {
  background-color: #f5f6f5;
  padding: 22px 20px;
}
.question-wap.ignored .question {
  display: none;
}
.question-wap.ignored .ignore-tip {
  display: block;
}
.question-wap .new-flag {
  position: absolute;
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #999;
  left: -18px;
  top: 28px;
}
.question-wap.invited .new-flag {
  display: block;
}
.question-wap.invited.new .new-flag {
  background-color: red;
}
.ignore-tip {
  position: relative;
}
.ignore-tip .divider {
  margin: 0 5px;
}
.question {
  padding: 22px 0;
}
.question .topics {
  margin-bottom: 18px;
}
.question .action {
  margin-bottom: 10px;
}
.question .action img {
  width: 20px;
  height: 20px;
}
.question .action .name {
  margin-left: 2px;
}
.question .action .divider {
  margin: 0 5px;
}
.question .title {
  margin-bottom: 10px;
}
.question .title a {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
.question .meta {
  margin-bottom: 16px;
}
.question .meta .divider {
  margin: 0 5px;
}
.question .btn-ignore-feed {
  margin: 0 15px 0 8px;
}
.question .btn-follow-question .for-non-followed {
  display: inline;
}
.question .btn-follow-question .for-followed {
  display: none;
}
.question .btn-follow-question.followed .for-non-followed {
  display: none;
}
.question .btn-follow-question.followed .for-followed {
  display: inline;
}
.tooltip-inner {
  padding: 5px 8px;
  border-radius: 2px;
}
