.drafts {
  margin-top: 20px;
}
.draft {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.draft .title {
  margin-bottom: 8px;
}
.draft .title a {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
.draft .content {
  font-size: 16px;
  margin-bottom: 8px;
}
.draft .content .preview {
  display: block;
}
.draft .content .full-content {
  display: none;
}
.draft .content .btn-continue-reading {
  color: #999;
}
.draft .time {
  margin-bottom: 15px;
}
.draft .commands .btn-remove-draft {
  margin-left: 10px;
}
