nav,
#footer {
  display: none;
}
#main-wap .dc-user-page-header .follows-data {
  margin-bottom: 60px;
}
#main-wap .title {
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
}
#main-wap .followers {
  padding-top: 30px;
  width: 750px;
  margin: 0 auto;
}
#main-wap .followers .follower {
  margin: 0 20px 20px 0;
  float: left;
}
#main-wap .followers .follower img {
  width: 50px;
  height: 50px;
}
#main-wap .followers .follower .name {
  margin-top: 10px;
  text-align: center;
}
#main-wap .followers .follower .name a {
  color: #333;
  font-weight: bold;
}
