#main-wap .container {
  width: 750px;
  margin: 0 auto;
}
#main-wap h3 {
  text-align: center;
  margin-top: 0;
}
#main-wap .question {
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
}
#main-wap .question:last-child {
  border-bottom: 1px solid #eaeaea;
}
#main-wap .question .title {
  margin-bottom: 8px;
}
#main-wap .question .title a {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-size: 18px;
}
#main-wap .question .answers-count {
  margin-bottom: 14px;
}
#main-wap .question .dc-question-follow-wap {
  margin-right: 8px;
}
#main-wap .question .date-wap {
  position: absolute;
  top: -1px;
  width: 50px;
  right: -70px;
  border-radius: 2px;
  text-align: center;
  padding: 5px 0;
  background-color: #f5f6f5;
}
#main-wap .question .date-wap .day {
  font-weight: bold;
  font-size: 18px;
}
#main-wap .question .date-wap .month {
  color: #999;
}
