.text-error {
  color: red;
}
.text-light {
  color: #999 !important;
}
a.text-light:hover,
a.text-light:focus {
  color: #999 !important;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}
.link-no-underline:hover,
.link-no-underline:focus {
  text-decoration: none;
}
.link-color {
  color: #333;
}
.link-color:hover {
  color: #009999;
}
.table-vertical-middle > tbody > tr > td {
  vertical-align: middle;
}
.avatar {
  width: 72px;
  height: 72px;
}
.avatar-sm {
  width: 48px;
  height: 48px;
}
.avatar-lg {
  width: 96px;
  height: 96px;
}
.avatar-xl {
  width: 176px;
  height: 176px;
}
.col-top-gap {
  margin-top: 20px;
}
.tt-dropdown-menu {
  font-size: 12px;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
.tt-dropdown-menu .tt-suggestion {
  cursor: pointer;
  padding: 12px;
  margin: 0;
}
.tt-dropdown-menu .tt-suggestion > p {
  line-height: 1;
  margin: 0;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover {
  background-color: #eff6fa;
}
.tt-dropdown-menu .tt-suggestion:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.tt-dropdown-menu .tt-suggestion:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
ins {
  text-decoration: none;
  padding: 3px 0;
  background: #EAF0DD;
  color: #5B7918;
}
del {
  text-decoration: line-through;
  padding: 3px 0;
  background: #f5dfdf;
  color: #ac1414;
}
.rich-text-area {
  font-size: 16px;
}
.rich-text-area img {
  max-width: 100%;
}
.img-rounded {
  border-radius: 2px;
}
.dc-hide-commands-trigger {
  position: relative;
  cursor: pointer;
}
.dc-hide-commands-trigger:hover .dc-hide-commands {
  display: block;
}
.dc-hide-commands-trigger .dc-hide-commands {
  position: absolute;
  display: none;
  right: 0;
  top: 10px;
  padding-top: 15px;
  z-index: 1000;
}
.dc-hide-commands-trigger .dc-hide-commands > a,
.dc-hide-commands-trigger .dc-hide-commands > span {
  background-color: white;
  color: #666;
  display: block;
  white-space: nowrap;
  font-size: 13px;
  padding: 6px 18px;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.dc-hide-commands-trigger .dc-hide-commands > a:first-child,
.dc-hide-commands-trigger .dc-hide-commands > span:first-child {
  border-top: 1px solid #eaeaea;
}
.dc-hide-commands-trigger .dc-hide-commands > a:hover,
.dc-hide-commands-trigger .dc-hide-commands > span:hover {
  color: #009999;
  text-decoration: none;
}
.simditor {
  border: 1px solid #E4E4E4;
}
.simditor img {
  max-width: 90%;
}
.btn-group-switch .btn-on {
  background-color: white;
  border-color: #e4e4e4;
  z-index: 1;
}
.btn-group-switch .btn-off {
  background-color: #999;
  border-color: #999;
  color: white;
  z-index: 2;
}
.btn-group-switch .btn:hover {
  z-index: 1;
}
.btn-group-switch.on .btn-on {
  background-color: #dcf8f1;
  color: #009999;
  border-color: #b7e1e2;
  z-index: 2;
}
.btn-group-switch.on .btn-off {
  background-color: white;
  border-color: #e4e4e4;
  color: #666;
  z-index: 1;
}
.btn-group-switch.on .btn-off:hover {
  color: #333;
}
