.text-error {
  color: red;
}
.text-light {
  color: #999;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
a.text-light:hover {
  color: #999;
}
.link-no-underline:hover,
.link-no-underline:focus {
  text-decoration: none;
}
.link-color {
  color: #333;
}
.link-color:hover {
  color: #009999;
}
.table-vertical-middle > tbody > tr > td {
  vertical-align: middle;
}
.avatar {
  width: 72px;
  height: 72px;
}
.avatar-sm {
  width: 48px;
  height: 48px;
}
.avatar-lg {
  width: 96px;
  height: 96px;
}
.avatar-xl {
  width: 176px;
  height: 176px;
}
.col-top-gap {
  margin-top: 20px;
}
.tt-dropdown-menu {
  font-size: 12px;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
.tt-dropdown-menu .tt-suggestion {
  cursor: pointer;
  padding: 12px;
  margin: 0;
}
.tt-dropdown-menu .tt-suggestion > p {
  line-height: 1;
  margin: 0;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover {
  background-color: #eff6fa;
}
.tt-dropdown-menu .tt-suggestion:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tt-dropdown-menu .tt-suggestion:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
ins {
  text-decoration: none;
  padding: 3px 0;
  background: #EAF0DD;
  color: #5B7918;
}
del {
  text-decoration: line-through;
  padding: 3px 0;
  background: #f5dfdf;
  color: #ac1414;
}
