.navbar {
  display: none;
}
#main-wap {
  margin-bottom: 0;
}
#main-wap .container {
  max-width: 750px;
  padding-left: 20px;
  padding-right: 20px;
}
.question {
  position: relative;
  background-color: #f5f5f5;
  padding: 50px 0 40px 0;
}
.question .logo {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: white;
  border-radius: 2px;
  padding: 0 6px;
  font-weight: bold;
  font-size: 28px;
  color: #D5DCE6;
}
.question .logo:hover {
  color: #c5cfdc;
}
.question .title {
  font-size: 28px;
  margin-bottom: 20px;
}
.question .title a {
  font-weight: bold;
  color: #333;
}
.question .title a:hover {
  color: #333;
}
.question .desc {
  font-size: 18px;
  margin-bottom: 30px;
}
.question .dc-topic {
  display: inline-block;
  margin-bottom: 15px;
}
.answer {
  padding: 50px 0 50px 0;
}
.answer .content {
  font-size: 18px;
}
.answer .content.less {
  font-size: 28px;
}
.answer .content p {
  margin-bottom: 20px;
}
.answer .time {
  display: block;
  margin-top: 15px;
}
.answerer-wap {
  border: 1px solid #e1e1e1;
  background-color: #f5f6f5;
  padding: 20px 20px;
  border-radius: 2px;
  position: relative;
}
.answerer-wap .media-left {
  padding-right: 20px;
}
.answerer-wap img {
  width: 60px;
  height: 60px;
}
.answerer-wap .answerer-name {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}
.answer-comments-wap {
  margin-top: 60px;
  padding: 30px 0 0 0;
  background-color: #f5f5f5;
}
.answer-comments-wap .comments-count {
  font-size: 18px;
  color: #999;
  text-align: center;
  margin-bottom: 0px;
}
.logo-wap {
  padding: 20px;
  text-align: center;
}
.logo-wap .copyright {
  margin-bottom: 5px;
}
.logo-wap .slogan {
  margin-bottom: 2px;
}
