nav,
#footer {
  display: none;
}
body {
  margin-bottom: 50px;
}
body #main-wap .container {
  width: 750px;
}
.question {
  position: relative;
  background-color: #f5f5f5;
  padding: 70px 0 60px 0;
}
.question .logo {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: white;
  border-radius: 2px;
  padding: 0 6px;
  font-weight: bold;
  font-size: 28px;
  color: #D5DCE6;
}
.question .logo:hover {
  color: #c5cfdc;
}
.question .title {
  display: block;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.question .title:hover {
  color: #333;
}
.question .desc {
  font-size: 18px;
  margin-bottom: 30px;
}
.answer {
  padding: 50px 0 50px 0;
}
.answer .content {
  font-size: 18px;
}
.answer .content.less {
  font-size: 28px;
}
.answer .content p {
  margin-bottom: 20px;
}
.answer .time {
  display: block;
  margin-top: 15px;
  margin-bottom: 40px;
}
.answerer-wap {
  border: 1px solid #e1e1e1;
  background-color: #f5f6f5;
  padding: 20px 20px;
  border-radius: 2px;
  position: relative;
}
.answerer-wap .media-left {
  padding-right: 20px;
}
.answerer-wap img {
  width: 60px;
  height: 60px;
}
.answerer-wap .answerer-meta {
  margin-bottom: 10px;
  font-size: 16px;
}
.answerer-wap .answerer-meta .answerer-name {
  color: #333;
  font-weight: bold;
}
.answerer-wap .dc-user-follow-wap {
  position: absolute;
  right: 20px;
  top: 32px;
}
.other-answers {
  margin: 0 4px 0 4px;
  display: block;
  padding: 13px 0;
  text-align: center;
  color: #999;
  border: 1px solid #e1e1e1;
  border-top: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.other-answers:hover {
  color: #333;
}
.answer-comments-wap {
  margin-top: 80px;
  padding: 50px 0 40px 0;
  background-color: #f5f5f5;
}
.answer-comments-wap .comments-count {
  font-size: 18px;
  color: #999;
  text-align: center;
  margin-bottom: 40px;
}
.bottom-banner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px 0;
  background-color: white;
  border-top: 1px solid #e4e4e4;
}
.bottom-banner .bottom-answerer {
  position: absolute;
  left: 10px;
  top: 8px;
}
.bottom-banner .bottom-answerer img {
  width: 36px;
  height: 36px;
}
.bottom-banner .bottom-answerer .name {
  margin-left: 5px;
  color: #666;
}
.bottom-banner .bottom-answerer .name:hover {
  color: #333;
}
.dc-answer-commands .vote-wap .btn-downvote-answer {
  border: 1px solid #E4E4E4;
  background-color: #FAFAFA;
  padding: 6px 12px;
  border-radius: 2px;
  margin-left: 5px;
  vertical-align: middle;
}
.dc-answer-commands .vote-wap .btn-downvote-answer:hover {
  background-color: #ededed;
  border-color: #d7d7d7;
}
.more-answers-form-user {
  padding-bottom: 200px;
}
.more-answers-form-user .title {
  text-align: center;
  font-size: 18px;
  margin: 40px 0 40px 0;
}
.more-answers-form-user .more-answer {
  padding: 10px 12px;
  margin-bottom: 10px;
  border-radius: 2px;
}
.more-answers-form-user .more-answer:hover {
  background-color: #F3FAFF;
}
.more-answers-form-user .more-answer .question-title {
  font-size: 18px;
  display: block;
  font-weight: bold;
  color: #009999;
  margin-bottom: 5px;
}
.more-answers-form-user .more-answer .answerer {
  margin-bottom: 5px;
}
.more-answers-form-user .more-answer .answerer .name {
  color: #999;
}
.more-answers-form-user .more-answer .content {
  font-size: 16px;
}
.more-answers-form-user .more-answer .content p:last-child {
  margin-bottom: 0;
}
.more-answers-form-user .more-answer .content .btn-continue-reading {
  color: #999;
}
.more-answers-form-user .more-answer .content .preview {
  display: block;
}
.more-answers-form-user .more-answer .content .full-content {
  display: none;
}
.more-answers-form-user .more-answer.full .preview {
  display: none;
}
.more-answers-form-user .more-answer.full .full-content {
  display: block;
}
