{% extends "layout.html" %}

{% block page_title %}回答{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="question">
            <div class="title">
                <a href="{{ url_for('question.view', uid=answer.question_id) }}">{{ answer.question.title }}</a>
            </div>

            {% if answer.question.desc %}
                <div class="desc">{{ answer.question.desc|safe }}</div>
            {% endif %}
        </div>

        <hr/>

        <div class="answer">
            {{ answer.content|safe }}

            <div class="time">
                发布于 <span title="{{ answer.created_at }}">{{ answer.created_at|timesince }}</span>
            </div>
        </div>

        <div class="answerer media">
            <div class="media-left">
                <a href="{{ answer.user.profile_url }}">
                    <img src="{{ answer.user.avatar_url }}" class="img-circle" alt=""/>
                </a>
            </div>
            <div class="media-body">
                <a href="{{ answer.user.profile_url }}">
                    {{ answer.user.name }}
                </a>
            </div>
        </div>

        <hr/>

        <div>{{ answer.comments.count() }} 条评论</div>

        <form action="" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <textarea name="comment" id="" cols="30" rows="10" placeholder="写下你的评论" class="form-control"></textarea>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>

        {% for comment in answer.comments %}
            <div class="answer-comment media">
                <div class="media-left">
                    <a href="{{ comment.user.profile_url }}">
                        <img src="{{ comment.user.avatar_url }}" class="img-circle" alt=""/>
                    </a>
                </div>

                <div class="media-body">
                    <div class="meta">
                        <a href="{{ comment.user.profile_url }}">
                            {{ comment.user.name }}
                        </a>

                        <span title="{{ comment.created_at }}">
                            {{ comment.created_at|timesince }}
                        </span>

                        <div class="commands pull-right">
                            <a href="javascript: void(0)" data-comment-id="{{ comment.id }}">回复</a>
                            •
                            <span class="like-comment-wap
                                {% if comment.liked_by_user() %}liked{% endif %}
                                {% if comment.likes.count() == 0 %}zero{% endif %}">
                                <a href="javascript: void(0)" data-id="{{ comment.id }}"
                                   class="btn-like-comment">
                                    <span class="for-zero">赞同</span>
                                    <span class="for-nonzero">
                                        <span class="likes-count">{{ comment.likes.count() }}</span> 赞
                                    </span>
                                </a>
                            </span>
                        </div>
                    </div>

                    <div>
                        {{ comment.content|safe }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
