.avatar-wap {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}
.avatar-wap input[type='file'] {
  display: none;
}
.avatar-wap img {
  width: 100px;
  height: 100px;
}
.avatar-wap .btn-upload-topic-avatar {
  width: 100px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 3px 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
}
.avatar-wap .btn-upload-topic-avatar:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.form-group.form-group-input {
  margin-bottom: 25px;
}
.form-group.form-group-input input {
  font-size: 24px;
  display: inline-block;
  height: auto;
  color: #333;
  font-weight: bold;
  width: 380px;
  margin-bottom: 0;
  padding: 6px 12px;
}
.form-group.form-group-input .locked-flag {
  margin-left: 10px;
}
.form-group {
  border-top: 1px solid #eaeaea;
  padding-top: 20px;
  margin-bottom: 40px;
}
.form-group.no-border {
  border-top: 0;
  padding-top: 0;
}
.form-group .col-sm-2 {
  width: 120px;
}
.form-group .col-sm-10 {
  width: 530px;
}
.form-group label {
  padding: 0;
  font-size: 16px;
}
.form-group .help-block {
  color: #999;
  margin-top: 0;
  margin-bottom: 25px;
}
.form-group .input-wap {
  margin-bottom: 18px;
}
.form-group input {
  width: 300px;
  height: auto;
  padding: 8px 12px;
  font-size: 16px;
}
.form-group ul {
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 0;
}
.form-group ul li {
  margin-bottom: 5px;
}
.form-group ul li a {
  color: #009999;
}
.form-group ul li .btn-rm {
  margin-left: 10px;
  font-size: 14px;
}
.form-group .topics-path a {
  font-size: 16px;
  color: #009999;
}
.form-group .topics-path .fa {
  margin: 0 5px;
  color: #999;
}
.tip {
  font-size: 24px;
  padding-top: 30px;
  font-weight: bold;
  text-align: right;
}
.btn-submit {
  float: right;
  margin-top: 20px;
  display: block;
}
