.navbar {
  margin-bottom: 0;
}
#main-wap .topic-meta-wap .media-left {
  padding-right: 30px;
}
#main-wap .topic-meta-wap .avatar-wap {
  position: relative;
  width: 90px;
  height: 90px;
  margin-bottom: 30px;
}
#main-wap .topic-meta-wap .avatar-wap input[type='file'] {
  display: none;
}
#main-wap .topic-meta-wap .avatar-wap img {
  width: 90px;
  height: 90px;
}
#main-wap .topic-meta-wap .avatar-wap .btn-upload-topic-avatar {
  width: 90px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 3px 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
}
#main-wap .topic-meta-wap .avatar-wap .btn-upload-topic-avatar:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#main-wap .topic-meta-wap .avatar-wap .btn-upload-topic-avatar.locked {
  cursor: default;
}
#main-wap .topic-meta-wap .avatar-wap .btn-upload-topic-avatar.locked:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
#main-wap .topic-meta-wap .name-wap {
  margin-bottom: 15px;
}
#main-wap .topic-meta-wap .name-wap .name-inner-wap .name {
  font-size: 24px;
  color: #333;
  font-weight: bold;
}
#main-wap .topic-meta-wap .name-wap .name-inner-wap .locked-flag {
  margin-left: 10px;
}
#main-wap .topic-meta-wap .name-wap .name-inner-wap .btn-edit-name {
  margin-left: 10px;
  display: none;
}
#main-wap .topic-meta-wap .name-wap .name-inner-wap:hover .btn-edit-name {
  display: inline-block;
}
#main-wap .topic-meta-wap .name-wap .form-elements {
  display: none;
}
#main-wap .topic-meta-wap .name-wap .form-elements input {
  font-size: 24px;
  display: block;
  height: auto;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 6px 12px;
}
#main-wap .topic-meta-wap .name-wap .form-elements .commands {
  text-align: right;
}
#main-wap .topic-meta-wap .name-wap .form-elements .commands .btn-cancel-edit-name {
  margin-right: 5px;
}
#main-wap .topic-meta-wap .name-wap.edit .name-inner-wap {
  display: none;
}
#main-wap .topic-meta-wap .name-wap.edit .form-elements {
  display: block;
}
#main-wap .topic-meta-wap .wiki {
  margin-bottom: 25px;
}
#main-wap .topic-meta-wap .wiki .locked-flag {
  margin-left: 10px;
}
#main-wap .form-group {
  border-top: 1px solid #eaeaea;
  padding-top: 30px;
  margin-bottom: 40px;
}
#main-wap .form-group.no-border {
  border-top: 0;
  padding-top: 0;
}
#main-wap .form-group .col-sm-2 {
  width: 120px;
}
#main-wap .form-group .col-sm-10 {
  width: 560px;
  padding: 0;
}
#main-wap .form-group label {
  padding: 0;
  font-size: 16px;
}
#main-wap .form-group .input-wap {
  background: #f5f6f5;
  border-radius: 2px;
  padding: 15px 20px;
  margin-bottom: 25px;
}
#main-wap .form-group .input-wap .help-block {
  color: #333;
  margin-top: 0;
  margin-bottom: 15px;
}
#main-wap .form-group .input-wap input {
  width: 300px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
#main-wap .form-group .synonyms {
  padding-left: 18px;
  font-size: 16px;
  margin-top: 15px;
}
#main-wap .form-group .synonyms li {
  margin-bottom: 8px;
}
#main-wap .form-group .synonyms .btn-remove-topic-synonym {
  margin-left: 10px;
  font-size: 14px;
}
#main-wap .form-group .root-topic-tip {
  font-size: 16px;
  color: #999;
}
#main-wap .form-group .topics-path a {
  font-size: 16px;
  color: #009999;
}
#main-wap .form-group .topics-path .fa {
  margin: 0 5px;
  color: #999;
}
#main-wap .tip {
  font-size: 24px;
  padding-top: 30px;
  font-weight: bold;
  text-align: right;
}
#main-wap .btn-apply-for-deletion {
  color: #e49176;
  border-color: #e49176;
}
#main-wap .btn-apply-for-deletion:focus,
#main-wap .btn-apply-for-deletion:hover,
#main-wap .btn-apply-for-deletion:active,
#main-wap .btn-apply-for-deletion:active:focus {
  background-color: #fff;
  border-color: #e49176;
  color: #dc6f4b;
}
#main-wap .topic-edit-wap {
  position: relative;
  display: inline-block;
  margin: 0 15px 15px 0;
}
#main-wap .topic-edit-wap .dc-topic {
  margin: 0;
  padding-right: 22px;
}
#main-wap .topic-edit-wap.locked .dc-topic {
  padding-right: 10px;
}
#main-wap .topic-edit-wap .btn-remove-child-topic,
#main-wap .topic-edit-wap .btn-remove-parent-topic {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 1;
  text-align: center;
  box-sizing: border-box;
  padding-top: 1px;
}
#main-wap .topic-edit-wap .btn-remove-child-topic:hover,
#main-wap .topic-edit-wap .btn-remove-parent-topic:hover {
  color: #333 !important;
}
#main-wap .merge-topic-wap .merge-to-topic-wap {
  display: none;
}
#main-wap .merge-topic-wap .merge-to-topic-wap a {
  color: #009999;
}
#main-wap .merge-topic-wap .merge-to-topic-wap .btn-unmerge-current-topic {
  margin-left: 10px;
}
#main-wap .merge-topic-wap.merged .merge-to-topic-wap {
  display: block;
}
#main-wap .merge-topic-wap.merged .merge-topic-input-wap {
  display: none;
}
#main-wap .merged-topics {
  margin-top: 20px;
  padding-left: 20px;
}
#main-wap .merged-topics li {
  margin-bottom: 8px;
}
#main-wap .topics-kind-wap,
#main-wap .lock-wap {
  background-color: #f5f6f5;
  padding: 20px 20px;
  margin-bottom: 40px;
}
#main-wap .topics-kind-wap .sub-title,
#main-wap .lock-wap .sub-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
#main-wap .topics-kind-wap .radio {
  margin-bottom: 14px;
}
#main-wap .topics-kind-wap .other-kind-wap {
  margin-bottom: 0;
}
#main-wap .topics-kind-wap .other-kind-wap .radio {
  margin-bottom: 0;
}
#main-wap .topics-kind-wap .locked-flag {
  color: #999;
  margin-left: 10px;
}
#main-wap .topics-kind-wap .other-kind-wap {
  margin-top: -5px;
}
#main-wap .topics-kind-wap .other-kind-wap.empty .inner-wap {
  display: none;
}
#main-wap .topics-kind-wap .other-kind-wap.on.edit .other-kind-edit-wap {
  display: block;
}
#main-wap .topics-kind-wap .other-kind-wap .divider {
  margin: 0 2px;
}
#main-wap .topics-kind-wap .other-kind-wap .other-kind-edit-wap {
  margin-top: 10px;
  display: none;
}
#main-wap .topics-kind-wap .other-kind-wap .other-kind-edit-wap input {
  display: inline-block;
  width: 160px;
  vertical-align: middle;
  margin-right: 5px;
}
#main-wap .lock-wap .checkbox {
  margin-bottom: 14px;
}
#main-wap .lock-wap .checkbox:last-child {
  margin-bottom: 0;
}
