#main-wap .page-header {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 0;
  margin-bottom: 25px;
}
#main-wap .page-header span {
  margin-bottom: -1px;
  display: inline-block;
  padding: 0 0 15px 0;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #333;
}
#main-wap .topic-selector .list-group-item {
  border-radius: 0;
  padding: 15px 15px;
  outline: none;
}
#main-wap .topic-selector .list-group-item .list-group-item-text {
  color: #999;
}
#main-wap .topic-selector .list-group-item.active {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
#main-wap .topic-selector .list-group-item.active .list-group-item-text {
  color: #888;
}
#main-wap .topic-selector .list-group-item:focus {
  background-color: white;
}
#main-wap .topic-selector .list-group-item:focus:hover {
  background-color: #f5f5f5;
}
#main-wap .topics-wap {
  display: none;
}
#main-wap .topics-wap.active {
  display: block;
}
#main-wap .topic {
  float: left;
  width: 50%;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}
#main-wap .topic .media-left {
  padding-right: 15px;
}
#main-wap .topic .media-left img {
  width: 60px;
  height: 60px;
}
#main-wap .topic .name {
  margin-bottom: 5px;
}
#main-wap .topic .name a {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
#main-wap .topic .btn-follow-topic {
  position: absolute;
  white-space: nowrap;
  display: block;
  right: 0;
  top: 0;
  color: #999;
}
#main-wap .topic .btn-follow-topic .for-follow {
  display: inline;
}
#main-wap .topic .btn-follow-topic .for-unfollow {
  display: none;
}
#main-wap .topic .btn-follow-topic.followed .for-follow {
  display: none;
}
#main-wap .topic .btn-follow-topic.followed .for-unfollow {
  display: inline;
}
#main-wap .topic.even {
  padding-right: 10px;
}
#main-wap .topic.even .btn-follow-topic {
  right: 10px;
}
#main-wap .topic.odd {
  padding-left: 10px;
}
