.navbar {
  margin-bottom: 0;
}
#main-wap .wiki-content {
  font-size: 16px;
  margin-top: 20px;
}
#main-wap .contributors {
  margin-bottom: 20px;
}
#main-wap .contributors img {
  width: 28px;
  height: 28px;
  margin: 0 2px 4px 0;
}
