{% extends "layout.html" %}

{% block page_title %}你可能喜欢的人{% endblock %}
{% block page_js %}
    <script src="/static/js/account/follow_users.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/account/follow_users.css"/>{% endblock %}
{% block page_content %}
    <div class="text-logo">电场</div>

    <div class="outer-wap">
        <div class="header">
            <div class="title">你可能喜欢的人</div>
        </div>

        <div class="pull-right btn-wap">
            <a href="{{ url_for('site.index') }}"
               class="btn-next btn btn-primary btn-lg">完成，进入网站</a>
        </div>
    </div>
{% endblock %}
