{% extends "layout.html" %}
{% from "macros/_user.html" import user_follow_wap %}

{% block page_title %}你可能喜欢的人{% endblock %}
{% block page_js %}
    <script src="/static/js/account/follow_users.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/account/follow_users.css"/>{% endblock %}
{% block page_content %}
    <div class="text-logo">电场</div>

    <div class="outer-wap">
        <div class="header">
            <div class="title">你可能喜欢的人</div>

            <div class="btn-refresh">
                <span class="fa fa-refresh"></span> 换一批
            </div>
        </div>

        <div class="users-wap">
            {% for recommend_user in recommend_users %}
                {% set user = recommend_user.user %}

                <div class="recommend-user-wap media">
                    <div class="media-left">
                        <a class="name" href="{{ user.profile_url }}" target="_blank">
                            <img src="{{ user.avatar_url }}" alt="" class="img-circle"/>
                        </a>
                    </div>

                    <div class="media-body">
                        <div class="user-info">
                            <a class="name" href="{{ user.profile_url }}" target="_blank">{{ user.name }}</a>
                            {% if user.desc %}，{{ user.desc }}{% endif %}
                        </div>

                        <div class="other text-light">
                            {% if user.organization %}{{ user.organization }}{% endif %}
                            {% if user.organization and user.position %}<span class="divider">·</span>{% endif %}
                            {% if user.position %}{{ user.position }}{% endif %}
                            {% if user.organization or user.position %}，{% endif %}在 {{ recommend_user.topic.name }}
                            话题下有 {{ recommend_user.answers_count }} 个回答
                        </div>
                    </div>

                    {{ user_follow_wap(user, dark=True, with_count=False) }}
                </div>
            {% endfor %}
        </div>

        <div class="pull-right btn-wap">
            <a href="{{ url_for('site.index') }}"
               class="btn-next btn btn-primary btn-lg btn-finish">完成，进入网站</a>
        </div>
    </div>
{% endblock %}
