{% extends "layout.html" %}
{% from 'macros/_form.html' import horizontal_field, form_submit %}

{% block page_title %}找回密码 - 壹经典{% endblock %}
{% block page_js %}
    <script src="/static/js/account/forgot_password.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/account/forgot_password.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>找回密码</h3>

                <a href="{{ url_for('account.signin') }}">去登录</a>

                <form action="" method="post">
                    {{ form.csrf_token() }}

                    {{ horizontal_field(form.email) }}

                    {{ form_submit('发送密码重置邮件') }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
