{% extends "layout.html" %}
{% from "macros/_account.html" import settings_page_header, btn_group_switch %}

{% block page_title %}隐私 - 设置{% endblock %}
{% block page_js %}
    <script src="/static/js/account/privacy_settings.js?__inline"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/account/privacy_settings.css?__inline"/>{% endblock %}
{% block page_content %}
    {{ settings_page_header(active='privacy-settings') }}

    <div class="container">
        <div class="item">
            <div class="key">被搜索引擎搜索到时显示我的姓名</div>
            <div class="commands">
                {{ btn_group_switch('show_to_search_engine', on_text='显示', off_text='不显示', with_script=True) }}
            </div>
        </div>
    </div>
{% endblock %}
