{% extends "layout.html" %}
{% from "macros/_utils.html" import loading %}
{% from "macros/_account.html" import render_interesting_topics %}

{% block page_title %}选择感兴趣的话题{% endblock %}
{% block page_js %}
    <script src="/static/js/account/select_interesting_topics.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/account/select_interesting_topics.css"/>{% endblock %}



{% block page_content %}
    <div class="text-logo">电场</div>

    <div class="outer-wap">
        <div class="header">
            <div class="title">选择 10 个你感兴趣的话题</div>

            <div class="selector-wap">
                <span class="selector active" data-target="hot-topics">热门</span>
                <span class="selector" data-target="product-topics">产品</span>
                <span class="selector" data-target="organization-topics">组织</span>
                <span class="selector" data-target="position-topics">职业</span>
                <span class="selector" data-target="skill-topics">技能</span>
            </div>
        </div>

        <form action="" method="post" class="form-select-topics">
            <div class="topics-wap hot-topics active">
                <div class="hot-topics-inner-wap clearfix">
                    {{ render_interesting_topics(hot_topics) }}
                </div>

                {{ loading(hot_topics_total, per, '.hot-topics-inner-wap',
                    url_for('account.loading_interesting_topics', type='hot')|safe) }}
            </div>


            <div class="topics-wap product-topics">
                <div class="product-toppics-inner-wap clearfix">
                    {{ render_interesting_topics(product_topics) }}
                </div>

                {{ loading(product_topics_total, per, '.product-topics-inner-wap',
                    url_for('account.loading_interesting_topics', type='product')|safe) }}
            </div>

            <div class="topics-wap organization-topics">
                <div class="organization-topics-inner-wap clearfix">
                    {{ render_interesting_topics(organization_topics) }}
                </div>

                {{ loading(organization_topics_total, per, '.organization-topics-inner-wap',
                    url_for('account.loading_interesting_topics', type='organization')|safe) }}
            </div>

            <div class="topics-wap position-topics">
                <div class="position-topics-inner-wap clearfix">
                    {{ render_interesting_topics(position_topics) }}
                </div>

                {{ loading(position_topics_total, per, '.position-topics-inner-wap',
                    url_for('account.loading_interesting_topics', type='position')|safe) }}
            </div>

            <div class="topics-wap skill-topics">
                <div class="skill-topics-inner-wap clearfix">
                    {{ render_interesting_topics(skill_topics) }}
                </div>

                {{ loading(skill_topics_total, per, '.skill-topics-inner-wap',
                    url_for('account.loading_interesting_topics', type='skill')|safe) }}
            </div>
        </form>

        <div class="pull-right btn-wap">
            <a href="javascript: void(0)"
               class="btn-next btn btn-primary btn-lg not-finish">
                <span class="for-not-finish">再选 <span class="left-topics-count">10</span> 个话题</span>继续
            </a>
        </div>
    </div>
{% endblock %}
