{% extends "layout.html" %}
{% from "macros/_form.html" import form_submit, horizontal_field, field_errors %}
{% from "macros/_account.html" import settings_page_header %}

{% block page_title %}个人设置{% endblock %}
{% block page_content %}
    {{ settings_page_header() }}

    <div class="container">
        <div class="item">
            <div class="key">称呼</div>
            <div class="value">
                {{ g.user.name }}
            </div>
            <div class="commands">
                <span class="tip">
                    还有 2 次修改机会
                </span>
                <button type="button" class="btn btn-light">修改称呼</button>
            </div>
        </div>

        <div class="item">
            <div class="key">个人主页网址</div>
            <div class="value">
                <span class="text-light url-prefix">dianchang.com/people/</span><span
                    class="url-token">{{ g.user.url_token or "" }}</span>
            </div>
            <div class="commands">
                <button type="button" class="btn btn-light">修改网址</button>
            </div>
        </div>

        <div class="item">
            <div class="key">邮箱</div>
            <div class="value">{{ g.user.email }}</div>
            <div class="commands">
                <button type="button" class="btn btn-light">更换邮箱</button>
            </div>
        </div>

        <div class="item">
            <div class="key">密码</div>
            <div class="value">*********</div>
            <div class="commands">
                <button type="button" class="btn btn-light">修改密码</button>
            </div>
        </div>
    </div>
{% endblock %}
