{% extends "layout.html" %}
{% from 'macros/_form.html' import horizontal_field, form_submit, checkbox_field %}

{% block page_title %}登录{% endblock %}
{% block page_content %}
    <div class="wap signin">
        <a class="text-logo link-no-underline" href="{{ url_for('site.index') }}">电</a>

        <div class="inner-wap signin-wap">
            <div class="header">
                <div class="title">登录</div>

                <a href="javascript: void(0)" class="btn-go-to-signup">注册账号→</a>
            </div>

            <form>
                <input type="text" name="email" class="form-control" placeholder="邮箱"/>

                <input type="password" name="password" class="form-control" placeholder="密码"/>

                <button type="button" class="btn-signin btn btn-primary btn-lg btn-block">登录</button>

                <label>
                    <input type="checkbox" name="remember"> 保持登录
                </label>

                <a href="{{ url_for('account.forgot_password') }}" class="btn-forgot-pwd link-no-underline">
                    我忘了密码</a>
            </form>
        </div>

        <div class="inner-wap signup-wap">
            <div class="header">
                <div class="title">注册</div>

                <a href="javascript: void(0)" class="btn-go-to-signin">去登陆→</a>
            </div>

            <form autocomplete="off">
                <div class="code clearfix">
                    <input type="text" placeholder="请"/>
                    <input type="text" placeholder="输"/>
                    <input type="text" placeholder="入"/>
                    <input type="text" placeholder="邀"/>
                    <input type="text" placeholder="请"/>
                    <input type="text" placeholder="码"/>
                </div>

                <div class="next">
                    <input type="text" name="name" placeholder="真实姓名 / 常用昵称" class="form-control"/>

                    <input type="text" name="email" placeholder="邮箱" class="form-control"/>

                    <input type="password" name="password" placeholder="设置密码" class="form-control"/>

                    <button type="button" class="btn-signup btn btn-inverse btn-lg btn-block">注册账号</button>
                </div>
            </form>
        </div>
    </div>

    <div class="signup-success-wap message-wap">
        <h3>注册成功</h3>

        <p class="message"></p>
    </div>
{% endblock %}
