@import "../utils";

// 账户wap
.dc-account-wap {
  width: 280px;
  height: 490px;
  margin: 40px auto;
  overflow: hidden;
  background-color: @deep-main;
  position: relative;

  .text-logo {
    font-size: 50px;
    display: block;
    font-weight: bold;
    color: #434851;
    text-align: center;
    margin-bottom: 109px;

    &:hover {
      color: lighten(#434851, 5%);
    }
  }

  .header {
    position: relative;
    margin-bottom: 20px;

    .title {
      font-size: 28px;
      color: white;
      font-weight: bold;
    }

    a {
      position: absolute;
      right: 0;
      bottom: 5px;
      font-size: 16px;
      color: #717885;

      &:hover {
        text-decoration: none;
        color: lighten(#717885, 10%);
      }
    }
  }

  .form-control {
    display: block;
    margin-bottom: 15px;
    border: 0;
    background-color: #414855;
    border-radius: 2px;
    font-size: 16px;
    padding: 12px 12px;
    height: auto;
    box-shadow: none;
    outline: none;
    color: white;

    &:focus,
    &:active {
      box-shadow: none;
    }
  }

  .btn-block {
    padding: 10px 15px;
    margin: 28px 0 10px 0;
  }

  label {
    font-weight: normal;
    color: #717885;
  }

  .message-wap {
    text-align: center;

    h3 {
      color: white;
      font-size: 28px;
      margin-bottom: 25px;
    }

    .message {
      font-size: 16px;
      color: #717885;

      a {
        color: #00cc99;
        text-decoration: none;
      }
    }
  }
}

.dc-signin-signup-forgot-pwd-wap {
  .signup-wap,
  .forgot-pwd-wap,
  .message-wap {
    display: none;
  }

  .signin-wap,
  .signup-wap,
  .forgot-pwd-wap {
    background-color: @deep-main;
    width: 280px;
    height: 312px;
    position: absolute;
    top: 180px;
  }

  .signin-wap {
    left: 0;
  }

  .signup-wap,
  .forgot-pwd-wap {
    right: 0;
  }

  .btn-go-to-forgot-pwd {
    color: #717885;
    float: right;

    &:hover {
      color: lighten(#717885, 10%);
    }
  }
}

// 密码重置wap
.dc-reset-pwd-wap {
  .message-wap {
    display: none;
  }
}

// 设置页页头
.dc-settings-page-header {
  background-color: @background-gray;
  text-align: center;
  border-bottom: 1px solid @border-color;
  margin-bottom: 70px;

  ul {
    margin-bottom: -1px;

    li {
      a {
        text-decoration: none;
        text-align: center;
        padding: 12px 8px;
        display: inline-block;
        color: #999;
        border-bottom: 1px solid @border-color;
      }

      &.active a {
        color: #333;
        border-bottom: 1px solid #333;
      }
    }
  }
}
