.dc-account-wap {
  width: 280px;
  height: 490px;
  margin: 40px auto;
  overflow: hidden;
  background-color: #252e3c;
  position: relative;
}
.dc-account-wap .text-logo {
  font-size: 50px;
  display: block;
  font-weight: bold;
  color: #434851;
  text-align: center;
  margin-bottom: 109px;
}
.dc-account-wap .text-logo:hover {
  color: #4f545f;
}
.dc-account-wap .header {
  position: relative;
  margin-bottom: 20px;
}
.dc-account-wap .header .title {
  font-size: 28px;
  color: white;
  font-weight: bold;
}
.dc-account-wap .header a {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 16px;
  color: #717885;
}
.dc-account-wap .header a:hover {
  text-decoration: none;
  color: #8c929d;
}
.dc-account-wap .form-control {
  display: block;
  margin-bottom: 15px;
  border: 0;
  background-color: #414855;
  border-radius: 2px;
  font-size: 16px;
  padding: 12px 12px;
  height: auto;
  box-shadow: none;
  outline: none;
  color: white;
}
.dc-account-wap .form-control:focus,
.dc-account-wap .form-control:active {
  box-shadow: none;
}
.dc-account-wap .btn-block {
  padding: 10px 15px;
  margin: 28px 0 10px 0;
}
.dc-account-wap label {
  font-weight: normal;
  color: #717885;
}
.dc-account-wap .message-wap {
  text-align: center;
}
.dc-account-wap .message-wap h3 {
  color: white;
  font-size: 28px;
  margin-bottom: 25px;
}
.dc-account-wap .message-wap .message {
  font-size: 16px;
}
.dc-account-wap .message-wap .message a {
  color: #00cc99;
  text-decoration: none;
}
.dc-signin-signup-forgot-pwd-wap .signup-wap,
.dc-signin-signup-forgot-pwd-wap .forgot-pwd-wap,
.dc-signin-signup-forgot-pwd-wap .message-wap {
  display: none;
}
.dc-signin-signup-forgot-pwd-wap .signin-wap,
.dc-signin-signup-forgot-pwd-wap .signup-wap,
.dc-signin-signup-forgot-pwd-wap .forgot-pwd-wap {
  background-color: #252e3c;
  width: 280px;
  height: 312px;
  position: absolute;
  top: 180px;
}
.dc-signin-signup-forgot-pwd-wap .signin-wap {
  left: 0;
}
.dc-signin-signup-forgot-pwd-wap .signup-wap,
.dc-signin-signup-forgot-pwd-wap .forgot-pwd-wap {
  right: 0;
}
.dc-signin-signup-forgot-pwd-wap .btn-go-to-forgot-pwd {
  color: #717885;
  float: right;
}
.dc-signin-signup-forgot-pwd-wap .btn-go-to-forgot-pwd:hover {
  color: #8c929d;
}
.dc-reset-pwd-wap .message-wap {
  display: none;
}
.dc-settings-page-header {
  background-color: #f5f6f5;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 70px;
}
.dc-settings-page-header ul {
  margin-bottom: -1px;
}
.dc-settings-page-header ul li a {
  text-decoration: none;
  text-align: center;
  padding: 12px 8px;
  display: inline-block;
  color: #999;
  border-bottom: 1px solid #eaeaea;
}
.dc-settings-page-header ul li.active a {
  color: #333;
  border-bottom: 1px solid #333;
}
