@import "../utils";

// 回答操作按钮组
.dc-answer-commands {
  .btn-collapse,
  .btn-downvote-answer,
  .btn-share,
  .btn-comments {
    text-decoration: none;
    color: #999;

    &:hover {
      color: @main-color;
    }
  }

  .vote-wap {
    display: inline-block;

    .upvote-wap {
      padding: 6px 18px;
      display: inline-block;

      .btn-upvote-answer {
        color: @main-color;
      }

      .for-un-upvoted {
        display: inline-block;
      }
      .for-upvoted {
        display: none;
      }

      &.upvoted {
        .for-un-upvoted {
          display: none;
        }
        .for-upvoted {
          display: inline-block;
        }
      }

      .divider {
        color: #ccc;
        margin: 0 10px;
      }
    }

    .btn-downvote-answer {
      display: inline-block;
      margin-left: 10px;

      .for-un-downvoted {
        display: inline-block;
      }
      .for-downvoted {
        display: none;
      }

      &.downvoted {
        .for-un-downvoted {
          display: none;
        }
        .for-downvoted {
          display: inline-block;
        }
      }
    }
  }

  .right-commands {
    margin-top: 6px;
  }

  .btn-collapse,
  .btn-comments,
  .btn-share {
    margin-right: 20px;
  }

  .btn-collapse {
    display: none;
  }

  .btn-more {
    color: #999;
  }

  &.bottom .btn-more .dc-hide-commands {
    padding-bottom: 15px;
    top: auto;
    bottom: 10px;
  }

  .btn-thank-answer {
    border-top: 1px solid @border-color;

    .for-un-thanked {
      display: inline-block;
    }
    .for-thanked {
      display: none;
    }

    &.thanked {
      cursor: default;

      &:hover {
        color: #666;
      }

      .for-un-thanked {
        display: none;
      }
      .for-thanked {
        display: inline-block;
      }
    }
  }

  .btn-nohelp-answer {
    .for-un-nohelped {
      display: inline-block;
    }
    .for-nohelped {
      display: none;
    }

    &.nohelped {
      .for-un-nohelped {
        display: none;
      }
      .for-nohelped {
        display: inline-block;
      }
    }
  }

  .comments-outer-wap {
    &.hide {
      display: none;
    }
  }

  .dc-answer-comments {
    background-color: #F5F6F5;
    padding: 0 18px 5px 18px;
    margin-top: 20px;

    .comments {
      padding-top: 0;
    }

    .answer-comment {
      padding-top: 15px;
      padding-bottom: 15px;

      .meta {
        margin-bottom: 5px;
      }

      .content {
        font-size: 14px;
      }
    }

    & > .comment-form-wap {
      padding-bottom: 10px;
      padding-top: 22px;

      .commands {
        margin-bottom: 2px;
      }

      .btn {
        padding: 4px 10px;
      }
    }
  }
}

// 回答
.dc-answer {
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid @border-color;

  .topics {
    margin-bottom: 18px;
  }

  .title {
    display: block;
    margin-bottom: 8px;

    a {
      color: #333;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .answerer {
    color: #999;
    margin-bottom: 8px;
  }

  .content {
    font-size: 16px;
    margin-bottom: 8px;

    .preview {
      display: block;
    }

    .full-content {
      display: none;
    }

    .btn-continue-reading {
      color: #999;
    }
  }

  &.full {
    .dc-answer-commands .btn-collapse {
      display: inline-block;
    }

    .preview {
      display: none;
    }

    .full-content {
      display: block;
    }
  }

  .time {
    margin-bottom: 15px;
  }
}

// 回答评论
.dc-answer-comments {
  .comments {
    padding-top: 30px;
  }

  .answer-comment {
    border-top: 1px solid #e4e4e4;
    padding-top: 25px;
    padding-bottom: 22px;
    margin-top: 0;

    .media-left {
      padding-right: 15px;
    }

    img {
      width: 36px;
      height: 36px;
    }

    .meta {
      margin-bottom: 10px;
    }

    .comment-user-info {
      .name {
        color: #333;
      }
    }

    .time {
      margin-left: 18px;
    }

    .content {
      font-size: 18px;

      a {
        color: @main-color;
      }
    }

    .commands {
      .btn-reply-comment,
      .like-comment-wap a {
        color: #999;

        &:hover {
          color: #333;
        }
      }

      .btn-reply-comment {
        visibility: hidden;
      }

      .like-comment-wap {
        margin-left: 6px;
        visibility: visible;

        .for-zero {
          display: none;
        }
        .for-nonzero {
          display: inline-block;
        }

        &.liked a {
          color: #333;
        }

        &.zero {
          visibility: hidden;

          .for-zero {
            display: inline-block;
          }
          .for-nonzero {
            display: none;
          }
        }
      }
    }

    &:hover .commands {
      .like-comment-wap,
      .btn-reply-comment {
        visibility: visible;
      }
    }
  }

  .comment-form-wap {
    margin-bottom: 10px;

    .comment-edit-area {
      background-color: white;
      border: 1px solid #bebebe;
      border-radius: 2px;
      padding: 8px 10px;
      font-size: 16px;
      margin-bottom: 10px;

      &:focus {
        outline: none;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    img {
      width: 36px;
      height: 36px;
    }

    .media-left {
      padding-right: 15px;
    }

    .commands {
      display: none;
      text-align: right;

      .btn-submit-comment,
      .btn-submit-reply {
        margin-left: 10px;
      }
    }
  }

  // 子评论框
  .sub-comments-wap {
    padding-left: 51px;

    .comment-form-wap {
      margin-top: 5px;
      margin-bottom: 20px;

      .commands {
        display: block;
      }
    }
  }
}
