@import "../utils";

// 回答操作按钮组
.dc-answer-commands {
  .vote-wap {
    display: inline-block;

    .upvote-wap {
      padding: 6px 18px;
      display: inline-block;

      .btn-upvote-answer {
        color: @main-color;
      }

      .for-un-upvoted {
        display: inline-block;
      }
      .for-upvoted {
        display: none;
      }

      &.upvoted {
        .for-un-upvoted {
          display: none;
        }
        .for-upvoted {
          display: inline-block;
        }
      }

      .divider {
        color: #ccc;
        margin: 0 10px;
      }
    }

    .btn-downvote-answer {
      display: inline-block;
      margin-left: 10px;

      .for-un-downvoted {
        display: inline-block;
      }
      .for-downvoted {
        display: none;
      }

      &.downvoted {
        .for-un-downvoted {
          display: none;
        }
        .for-downvoted {
          display: inline-block;
        }
      }
    }
  }

  .btn-collapse,
  .btn-comments,
  .btn-share {
    margin-right: 20px;
  }

  .btn-collapse {
    display: none;
  }

  .btn-more {
    color: #999;
  }

  &.bottom .btn-more .dc-hide-commands {
    padding-bottom: 15px;
    top: auto;
    bottom: 10px;
  }

  .btn-thank-answer {
    border-top: 1px solid @border-color;

    .for-un-thanked {
      display: inline-block;
    }
    .for-thanked {
      display: none;
    }

    &.thanked {
      .for-un-thanked {
        display: none;
      }
      .for-thanked {
        display: inline-block;
      }
    }
  }

  .btn-nohelp-answer {
    .for-un-nohelped {
      display: inline-block;
    }
    .for-nohelped {
      display: none;
    }

    &.nohelped {
      .for-un-nohelped {
        display: none;
      }
      .for-nohelped {
        display: inline-block;
      }
    }
  }

  a {
    text-decoration: none;
    color: #999;

    &:hover {
      color: @main-color;
    }
  }

  .pull-right {
    margin-top: 6px;
  }
}

// 回答
.dc-answer {
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid @border-color;

  .topics {
    margin-bottom: 18px;
  }

  .title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }

  .answerer {
    color: #999;
    margin-bottom: 8px;
  }

  .content {
    font-size: 16px;
    margin-bottom: 8px;

    .preview {
      display: block;
    }

    .full-content {
      display: none;
    }

    .btn-continue-reading {
      color: #999;
    }
  }

  &.full {
    .dc-answer-commands .btn-collapse {
      display: inline-block;
    }

    .preview {
      display: none;
    }

    .full-content {
      display: block;
    }
  }

  .time {
    margin-bottom: 15px;
  }
}
