.dc-answer-commands .btn-collapse,
.dc-answer-commands .btn-downvote-answer,
.dc-answer-commands .btn-share,
.dc-answer-commands .btn-comments {
  text-decoration: none;
  color: #999;
}
.dc-answer-commands .btn-collapse:hover,
.dc-answer-commands .btn-downvote-answer:hover,
.dc-answer-commands .btn-share:hover,
.dc-answer-commands .btn-comments:hover {
  color: #009999;
}
.dc-answer-commands .vote-wap {
  display: inline-block;
}
.dc-answer-commands .vote-wap .upvote-wap {
  padding: 6px 18px;
  display: inline-block;
}
.dc-answer-commands .vote-wap .upvote-wap .btn-upvote-answer {
  color: #009999;
}
.dc-answer-commands .vote-wap .upvote-wap .for-un-upvoted {
  display: inline-block;
}
.dc-answer-commands .vote-wap .upvote-wap .for-upvoted {
  display: none;
}
.dc-answer-commands .vote-wap .upvote-wap.upvoted .for-un-upvoted {
  display: none;
}
.dc-answer-commands .vote-wap .upvote-wap.upvoted .for-upvoted {
  display: inline-block;
}
.dc-answer-commands .vote-wap .upvote-wap .divider {
  color: #ccc;
  margin: 0 10px;
}
.dc-answer-commands .vote-wap .btn-downvote-answer {
  display: inline-block;
  margin-left: 10px;
}
.dc-answer-commands .vote-wap .btn-downvote-answer .for-un-downvoted {
  display: inline-block;
}
.dc-answer-commands .vote-wap .btn-downvote-answer .for-downvoted {
  display: none;
}
.dc-answer-commands .vote-wap .btn-downvote-answer.downvoted .for-un-downvoted {
  display: none;
}
.dc-answer-commands .vote-wap .btn-downvote-answer.downvoted .for-downvoted {
  display: inline-block;
}
.dc-answer-commands .vote-wap .btn-downvote-answer.disabled {
  cursor: default;
}
.dc-answer-commands .vote-wap .btn-downvote-answer.disabled:hover {
  color: #999;
}
.dc-answer-commands .right-commands {
  margin-top: 6px;
}
.dc-answer-commands .btn-collapse,
.dc-answer-commands .btn-comments,
.dc-answer-commands .btn-share {
  margin-right: 20px;
}
.dc-answer-commands .btn-collapse {
  display: none;
}
.dc-answer-commands .btn-more {
  color: #999;
}
.dc-answer-commands.bottom .btn-more .dc-hide-commands {
  padding-bottom: 15px;
  top: auto;
  bottom: 10px;
}
.dc-answer-commands .btn-thank-answer {
  border-top: 1px solid #eaeaea;
}
.dc-answer-commands .btn-thank-answer .for-un-thanked {
  display: inline-block;
}
.dc-answer-commands .btn-thank-answer .for-thanked {
  display: none;
}
.dc-answer-commands .btn-thank-answer.thanked {
  cursor: default;
}
.dc-answer-commands .btn-thank-answer.thanked:hover {
  color: #666;
}
.dc-answer-commands .btn-thank-answer.thanked .for-un-thanked {
  display: none;
}
.dc-answer-commands .btn-thank-answer.thanked .for-thanked {
  display: inline-block;
}
.dc-answer-commands .btn-nohelp-answer .for-un-nohelped {
  display: inline-block;
}
.dc-answer-commands .btn-nohelp-answer .for-nohelped {
  display: none;
}
.dc-answer-commands .btn-nohelp-answer.nohelped .for-un-nohelped {
  display: none;
}
.dc-answer-commands .btn-nohelp-answer.nohelped .for-nohelped {
  display: inline-block;
}
.dc-answer-commands .comments-outer-wap.hide {
  display: none;
}
.dc-answer-commands .dc-answer-comments {
  background-color: #F5F6F5;
  padding: 0 18px 5px 18px;
  margin-top: 20px;
}
.dc-answer-commands .dc-answer-comments .comments {
  padding-top: 0;
}
.dc-answer-commands .dc-answer-comments .answer-comment {
  padding-top: 15px;
  padding-bottom: 15px;
}
.dc-answer-commands .dc-answer-comments .answer-comment .meta {
  margin-bottom: 5px;
}
.dc-answer-commands .dc-answer-comments .answer-comment .content {
  font-size: 14px;
}
.dc-answer-commands .dc-answer-comments > .comment-form-wap {
  padding-bottom: 10px;
  padding-top: 22px;
}
.dc-answer-commands .dc-answer-comments > .comment-form-wap .commands {
  margin-bottom: 2px;
}
.dc-answer-commands .dc-answer-comments > .comment-form-wap .btn {
  padding: 4px 10px;
}
.dc-answer {
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.dc-answer .topics {
  margin-bottom: 18px;
}
.dc-answer .from-child-topic {
  color: #999;
  margin-bottom: 10px;
}
.dc-answer .title {
  display: block;
  margin-bottom: 8px;
}
.dc-answer .title a {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
.dc-answer .answerer {
  color: #999;
  margin-bottom: 8px;
}
.dc-answer .content {
  font-size: 16px;
  margin-bottom: 8px;
}
.dc-answer .content .preview {
  display: block;
}
.dc-answer .content .full-content {
  display: none;
}
.dc-answer .content .btn-continue-reading {
  color: #999;
}
.dc-answer.full .dc-answer-commands .btn-collapse {
  display: inline-block;
}
.dc-answer.full .preview {
  display: none;
}
.dc-answer.full .full-content {
  display: block;
}
.dc-answer .time {
  margin-bottom: 15px;
}
.dc-answer-comments .comments {
  padding-top: 30px;
}
.dc-answer-comments .answer-comment {
  border-top: 1px solid #e4e4e4;
  padding-top: 25px;
  padding-bottom: 22px;
  margin-top: 0;
}
.dc-answer-comments .answer-comment .media-left {
  padding-right: 15px;
}
.dc-answer-comments .answer-comment img {
  width: 36px;
  height: 36px;
}
.dc-answer-comments .answer-comment .meta {
  margin-bottom: 10px;
}
.dc-answer-comments .answer-comment .comment-user-info .name {
  color: #333;
}
.dc-answer-comments .answer-comment .time {
  margin-left: 18px;
}
.dc-answer-comments .answer-comment .content {
  font-size: 18px;
}
.dc-answer-comments .answer-comment .content a {
  color: #009999;
}
.dc-answer-comments .answer-comment .commands .btn-reply-comment,
.dc-answer-comments .answer-comment .commands .like-comment-wap a {
  color: #999;
}
.dc-answer-comments .answer-comment .commands .btn-reply-comment:hover,
.dc-answer-comments .answer-comment .commands .like-comment-wap a:hover {
  color: #333;
}
.dc-answer-comments .answer-comment .commands .btn-reply-comment {
  visibility: hidden;
}
.dc-answer-comments .answer-comment .commands .like-comment-wap {
  margin-left: 6px;
  visibility: visible;
}
.dc-answer-comments .answer-comment .commands .like-comment-wap .for-zero {
  display: none;
}
.dc-answer-comments .answer-comment .commands .like-comment-wap .for-nonzero {
  display: inline-block;
}
.dc-answer-comments .answer-comment .commands .like-comment-wap.liked a {
  color: #333;
}
.dc-answer-comments .answer-comment .commands .like-comment-wap.zero {
  visibility: hidden;
}
.dc-answer-comments .answer-comment .commands .like-comment-wap.zero .for-zero {
  display: inline-block;
}
.dc-answer-comments .answer-comment .commands .like-comment-wap.zero .for-nonzero {
  display: none;
}
.dc-answer-comments .answer-comment:hover .commands .like-comment-wap,
.dc-answer-comments .answer-comment:hover .commands .btn-reply-comment {
  visibility: visible;
}
.dc-answer-comments .comment-form-wap {
  margin-bottom: 10px;
}
.dc-answer-comments .comment-form-wap .comment-edit-area {
  background-color: white;
  border: 1px solid #bebebe;
  border-radius: 2px;
  padding: 8px 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
.dc-answer-comments .comment-form-wap .comment-edit-area:focus {
  outline: none;
}
.dc-answer-comments .comment-form-wap .comment-edit-area p:last-child {
  margin-bottom: 0;
}
.dc-answer-comments .comment-form-wap img {
  width: 36px;
  height: 36px;
}
.dc-answer-comments .comment-form-wap .media-left {
  padding-right: 15px;
}
.dc-answer-comments .comment-form-wap .commands {
  display: none;
  text-align: right;
}
.dc-answer-comments .comment-form-wap .commands .btn-submit-comment,
.dc-answer-comments .comment-form-wap .commands .btn-submit-reply {
  margin-left: 10px;
}
.dc-answer-comments .sub-comments-wap {
  padding-left: 51px;
}
.dc-answer-comments .sub-comments-wap .comment-form-wap {
  margin-top: 5px;
  margin-bottom: 20px;
}
.dc-answer-comments .sub-comments-wap .comment-form-wap .commands {
  display: block;
}
