.dc-answer {
  .vote-wap {
    border: 1px solid gray;
    .upvote-wap {
      .for-un-upvoted {
        display: inline-block;
      }
      .for-upvoted {
        display: none;
      }

      &.upvoted {
        .for-un-upvoted {
          display: none;
        }
        .for-upvoted {
          display: inline-block;
        }
      }

    }

    .btn-downvote-answer {
      .for-un-downvoted {
        display: inline-block;
      }
      .for-downvoted {
        display: none;
      }

      &.downvoted {
        .for-un-downvoted {
          display: none;
        }
        .for-downvoted {
          display: inline-block;
        }
      }
    }
  }

  .btn-thank-answer {
    .for-un-thanked {
      display: inline-block;
    }
    .for-thanked {
      display: none;
    }

    &.thanked {
      .for-un-thanked {
        display: none;
      }
      .for-thanked {
        display: inline-block;
      }
    }
  }
}
