.dc-question-follow-wap .btn {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: white;
}
.dc-question-follow-wap .for-follow {
  display: inline-block;
}
.dc-question-follow-wap .for-unfollow {
  display: none;
}
.dc-question-follow-wap.followed .for-follow {
  display: none;
}
.dc-question-follow-wap.followed .for-unfollow {
  display: inline-block;
}
.dc-similar-question {
  font-size: 16px;
  margin-bottom: 13px;
}
.dc-similar-question a {
  color: #333;
}
.dc-similar-question em {
  color: #00cc99;
  font-weight: bold;
  font-style: normal;
}
.dc-similar-question .answers-count {
  margin-left: 10px;
}
.dc-question {
  margin-bottom: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #eaeaea;
}
.dc-question .action {
  margin-bottom: 10px;
}
.dc-question .action img {
  width: 20px;
  height: 20px;
}
.dc-question .action .name {
  color: #999;
  margin-left: 5px;
}
.dc-question .title {
  margin-bottom: 10px;
}
.dc-question .title a {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
.dc-question .meta {
  margin-bottom: 16px;
}
.dc-question .meta .divider {
  margin: 0 5px;
}
.dc-question .dc-question-follow-wap {
  margin-right: 8px;
}
