@import "../utils";

.dc-question-follow-wap {
  .btn {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: white;
  }

  .for-follow {
    display: inline-block;
  }
  .for-unfollow {
    display: none;
  }

  &.followed {
    .for-follow {
      display: none;
    }
    .for-unfollow {
      display: inline-block;
    }
  }
}

.dc-similar-question {
  font-size: 16px;
  margin-bottom: 13px;

  a {
    color: #333;
  }

  em {
    color: @green;
    font-weight: bold;
    font-style: normal;
  }

  .answers-count {
    margin-left: 10px;
  }
}
