.dc-topic-page-header {
  padding-top: 40px;
  background-color: #f5f6f5;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
.dc-topic-page-header .commands {
  float: right;
}
.dc-topic-page-header .commands .dc-topic-follow-wap {
  margin-right: 5px;
  vertical-align: middle;
}
.dc-topic-page-header .commands .btn-admin-topic {
  font-size: 18px;
  padding: 4px 9px 3px 9px;
}
.dc-topic-page-header .topic-wap {
  margin-bottom: 40px;
}
.dc-topic-page-header .topic-wap .media-left {
  padding-right: 15px;
}
.dc-topic-page-header .topic-wap .media-left img {
  width: 78px;
  height: 78px;
  border-radius: 2px;
}
.dc-topic-page-header .topic-wap .topic-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
.dc-topic-page-header .topic-wap .topic-wiki {
  font-size: 16px;
}
.dc-topic-page-header .topic-wap .topic-wiki .btn-go-to-wiki {
  padding: 1px 5px 5px 5px;
  border-radius: 2px;
}
.dc-topic-page-header .topic-wap .topic-wiki .btn-go-to-wiki:hover {
  background-color: #dcf8f1;
}
.dc-topic-discuss-page-sidebar .related-topics {
  margin-bottom: 20px;
}
.dc-topic-discuss-page-sidebar .related-topics .related-topic {
  margin-bottom: 15px;
}
.dc-topic-discuss-page-sidebar .related-topics .related-topic .media-left {
  padding-right: 15px;
}
.dc-topic-discuss-page-sidebar .related-topics .related-topic img {
  width: 40px;
  height: 40px;
}
.dc-topic-discuss-page-sidebar .related-topics .related-topic .name {
  color: #333;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 2px;
}
.dc-topic-discuss-page-header {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 30px;
}
.dc-topic-discuss-page-header a {
  margin-bottom: -1px;
  display: inline-block;
  color: #999;
  padding: 15px 0;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.dc-topic-discuss-page-header a.active {
  color: #333;
  border-bottom: 1px solid #333;
}
.dc-topic-follow-wap .for-follow {
  display: inline-block;
}
.dc-topic-follow-wap .for-unfollow {
  display: none;
}
.dc-topic-follow-wap.followed .for-follow {
  display: none;
}
.dc-topic-follow-wap.followed .for-unfollow {
  display: inline-block;
}
.dc-expert-topic {
  margin-bottom: 18px;
}
.dc-expert-topic .media-left {
  padding-right: 12px;
}
.dc-expert-topic .media-left img {
  width: 40px;
  height: 40px;
}
.dc-expert-topic .topic-name {
  margin-bottom: 2px;
  font-weight: bold;
  color: #333;
}
.dc-expert-topic .empty {
  color: #cccccc;
}
.dc-topic {
  background-color: #F7F8F9;
  color: #7482AC;
  padding: 4px 10px;
  font-weight: bold;
  line-height: 1;
  border-radius: 15px;
  border: 1px solid #F0F0F0;
  margin: 0 10px 10px 0;
}
.dc-topic:hover {
  background-color: #e4e4f2;
  border-color: #e4e4f2;
  text-decoration: none;
  color: #7482AC;
}
.dc-topic.dc-topic-white {
  background-color: #FCFCFC;
  color: #7482AC;
}
.dc-topic.dc-topic-white:hover {
  border-color: #E8E8E8;
}
.topic-popover {
  border-radius: 4px;
}
.topic-popover.top {
  background-color: #f5f6f5;
}
.topic-popover.top .arrow:after {
  border-top-color: #f5f6f5;
}
.topic-popover .popover-content {
  padding: 0;
}
.dc-topic-card {
  width: 240px;
}
.dc-topic-card .topic-wap {
  padding: 10px 10px;
  background-color: #fff;
}
.dc-topic-card .topic-wap .meta-wap {
  margin-bottom: 8px;
}
.dc-topic-card .topic-wap .meta-wap img {
  width: 40px;
  height: 40px;
}
.dc-topic-card .topic-wap .meta-wap .name {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  color: #333;
}
.dc-topic-card .follow-wap {
  background-color: #f5f6f5;
  padding: 10px 0 10px 10px;
  border-top: 1px solid #d6d6d6;
}
