// 话题页页头
.dc-topic-page-header {
  .dc-topic-follow-wap {
    margin-right: 10px;
    vertical-align: middle;
  }

  .btn-admin-topic {
    background-color: #e4e4e4;
    border-color: #c8c8c8;
    font-size: 18px;
    color: #898989;
    padding: 4px 9px 3px 9px;

    &:hover {
      color: #666;
    }
  }

  .media-left {
    padding-right: 15px;

    img {
      width: 78px;
      height: 78px;
      border-radius: 2px;
    }
  }

  .topic-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .topic-wiki {
    font-size: 16px;
  }
}

.dc-topic-follow-wap {
  .for-follow {
    display: inline-block;
  }
  .for-unfollow {
    display: none;
  }

  &.followed {
    .for-follow {
      display: none;
    }
    .for-unfollow {
      display: inline-block;
    }
  }
}
