.dc-topic-page-header .dc-topic-follow-wap {
  margin-right: 10px;
  vertical-align: middle;
}
.dc-topic-page-header .btn-admin-topic {
  background-color: #e4e4e4;
  border-color: #c8c8c8;
  font-size: 18px;
  color: #898989;
  padding: 4px 9px 3px 9px;
}
.dc-topic-page-header .btn-admin-topic:hover {
  color: #666;
}
.dc-topic-page-header .media-left {
  padding-right: 15px;
}
.dc-topic-page-header .media-left img {
  width: 78px;
  height: 78px;
  border-radius: 2px;
}
.dc-topic-page-header .topic-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
.dc-topic-page-header .topic-wiki {
  font-size: 16px;
}
.dc-topic-follow-wap .for-follow {
  display: inline-block;
}
.dc-topic-follow-wap .for-unfollow {
  display: none;
}
.dc-topic-follow-wap.followed .for-follow {
  display: none;
}
.dc-topic-follow-wap.followed .for-unfollow {
  display: inline-block;
}
