@import "../utils";

// 关注用户
.dc-user-follow-wap {
  .btn {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: white;
  }

  .for-follow {
    display: inline-block;
  }
  .for-unfollow {
    display: none;
  }

  &.followed {
    .for-follow {
      display: none;
    }
    .for-unfollow {
      display: inline-block;
    }
  }
}

// 用户页页头
.dc-user-page-header {
  position: relative;
  border-bottom: 1px solid #e4e4e4;

  // 以他人视角查看
  &.preview,
  &.forbid-edit {
    .btn-upload-avatar,
    .btn-edit-desc,
    .btn-edit-meta {
      display: none !important;
    }
  }

  .text-logo {
    position: absolute;
    left: 10px;
    top: 10px;
    font-weight: bold;
    font-size: 28px;
    color: #D5DCE6;

    &:hover {
      color: darken(#d5dce6, 5%);
    }
  }

  input[type='file'] {
    display: none;
  }

  .commands {
    position: absolute;
    right: 10px;
    top: 10px;

    .dc-hide-commands-trigger {
      padding: 6px 10px;
      margin-left: 5px;

      .dc-hide-commands {
        top: 20px;
        right: -1px;
        padding-top: 13px;
      }
    }

    .btn-block-user {
      .for-blocked {
        display: none;
      }
      .for-un-blocked {
        display: block;
      }

      &.blocked {
        .for-blocked {
          display: block;
        }
        .for-un-blocked {
          display: none;
        }
      }
    }
  }

  .background-wap {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.has-background {
    .background-wap {
      height: 350px;
    }
  }

  .avatar-wap {
    margin: -55px auto 25px auto;
    border: 3px solid white;
    width: 126px;
    height: 126px;
    border-radius: 100px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    position: relative;

    &:hover .btn-upload-avatar {
      display: block;
    }

    .user-avatar {
      width: 120px;
      height: 120px;
    }

    .btn-upload-avatar {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      padding-top: 50px;
      background-color: rgba(0, 0, 0, .4);
      text-align: center;
      color: white;
      cursor: pointer;
    }
  }

  .name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .desc-wap {
    margin-bottom: 20px;
    font-size: 16px;

    .desc-outer-wap {
      display: block;

      .desc-inner-wap {
        position: relative;

        .btn-edit-desc {
          cursor: pointer;
          color: #999;
          display: none;
          font-size: 14px;
          position: absolute;
          top: 0;
          right: -70px;

          &:hover {
            color: #666;
          }
        }
      }

      &:hover {
        .desc-inner-wap .btn-edit-desc {
          display: inline-block;
        }
      }
    }

    .desc-edit-wap {
      display: none;

      input {
        display: inline-block;
        vertical-align: middle;
        width: 400px;
        margin-right: 10px;
      }
    }

    &.edit {
      .desc-outer-wap {
        display: none;
      }

      .desc-edit-wap {
        display: block;
      }
    }
  }

  .user-meta-wap {
    color: #999;
    font-size: 16px;
    margin-bottom: 50px;

    .meta-outer-wap {
      display: block;

      .meta-inner-wap {
        position: relative;

        .user-meta .divider {
          margin: 0 5px;

          &:last-child {
            display: none;
          }
        }

        .btn-edit-meta {
          cursor: pointer;
          color: #999;
          display: none;
          font-size: 14px;
          position: absolute;
          top: 0;
          right: -70px;

          &:hover {
            color: #666;
          }
        }
      }

      &:hover {
        .meta-inner-wap .btn-edit-meta {
          display: inline-block;
        }
      }
    }

    .meta-edit-wap {
      display: none;

      input {
        display: inline-block;
        vertical-align: middle;
        width: 120px;
        margin-right: 10px;
      }
    }

    &.edit {
      .meta-outer-wap {
        display: none;
      }

      .meta-edit-wap {
        display: block;
      }
    }
  }

  .follows-data {
    margin-bottom: 80px;

    & > * {
      display: inline-block;
    }

    .item {
      color: #999;
      padding: 0 20px 4px 20px;
      line-height: 1;

      &:first-child {
        border-right: 1px solid #ccc;
      }

      &:hover,
      &:focus {
        text-decoration: none;
        color: #666;
      }

      .count {
        display: inline-block;
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
        font-weight: bold;
      }
    }
  }

  .follow-bg {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .95);
    z-index: 1000;
    padding: 40px 0;
    overflow: auto;

    .outer-wap {
      width: 680px;
      margin: 0 auto;

      .selector-wap {
        text-align: center;
        border-bottom: 1px solid #e4e4e4;

        .selector {
          cursor: pointer;
          margin-bottom: -1px;
          display: inline-block;
          color: #999;
          padding: 0 0 20px 0;
          margin-right: 20px;
          font-size: 16px;
          font-weight: bold;
          text-decoration: none;

          &.active {
            color: #333;
            border-bottom: 1px solid #333;
          }

          &:hover {
            color: #333;
          }

          &:last-child {
            margin-right: 0;
          }

          &.no-border {
            margin-bottom: 0;
            border-bottom: none !important;
          }
        }
      }

      .followed-users-wap,
      .followed-topics-wap,
      .followers-wap {
        .fa-spin {
          font-size: 20px;
          color: #999;
        }

        &.empty {
          text-align: center;
          padding-top: 40px;
        }
      }
    }

    .btn-close-bg {
      position: absolute;
      right: 30px;
      top: 0;
      font-size: 60px;
      color: #bbb;
      cursor: pointer;

      &:hover {
        color: #999;
      }
    }
  }

  .followings-bg {
    display: none;

    .followed-users-wap {
      .followed-user {
        padding: 30px 0;
        position: relative;
        border-bottom: 1px solid #e4e4e4;

        .media-left {
          padding-right: 15px;

          img {
            width: 50px;
            height: 50px;
          }
        }

        .user-info {
          margin-bottom: 5px;
        }

        .divider {
          margin: 0 3px;
        }

        .followed-user-name {
          font-weight: bold;
          color: #333;
        }

        .dc-user-follow-wap {
          position: absolute;
          right: 0;
          top: 38px;
        }
      }
    }

    .followed-topics-wap {
      display: none;

      .followed-topic {
        position: relative;
        padding: 30px 0;
        border-bottom: 1px solid #e4e4e4;

        .media-left {
          img {
            width: 40px;
            height: 40px;
          }
        }

        .topic-name-wap {
          margin-bottom: 2px;

          a {
            color: #333;
            font-weight: bold;
          }
        }

        .dc-topic-follow-wap {
          position: absolute;
          right: 0;
          top: 35px;
        }
      }
    }
  }

  .followers-bg {
    display: none;

    .followers-wap {
      .follower {
        padding: 30px 0;
        position: relative;
        border-bottom: 1px solid #e4e4e4;

        .media-left {
          padding-right: 15px;

          img {
            width: 50px;
            height: 50px;
          }
        }

        .user-info {
          margin-bottom: 5px;
        }

        .divider {
          margin: 0 3px;
        }

        .follower-name {
          font-weight: bold;
          color: #333;
        }

        .dc-user-follow-wap {
          position: absolute;
          right: 0;
          top: 38px;
        }
      }
    }
  }
}

.dc-home-feed {
  margin-bottom: 18px;
  padding-bottom: 20px;
  border-bottom: 1px solid @border-color;

  .meta {
    margin-bottom: 15px;
    color: #999;

    .time {
      float: right;
    }
  }

  .media-left {
    padding-right: 15px;

    img {
      width: 45px;
      height: 45px;
    }
  }

  &.feed-follow-user {
    .media {
      margin-bottom: 18px;

      .user-name {
        margin-bottom: 5px;

        a {
          color: #333;
          font-weight: bold;
        }
      }
    }
  }

  &.feed-follow-topic {
    .media {
      margin-bottom: 20px;

      .topic-name {
        margin-bottom: 5px;

        a {
          color: #333;
          font-weight: bold;
        }
      }
    }
  }

  &.feed-ask-question,
  &.feed-follow-question {
    .question-title {
      color: #333;
      display: block;
      font-size: 18px;
      margin-top: -2px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .other {
      margin-bottom: 15px;

      .divider {
        margin: 0 6px;
      }
    }

    .btn-answer {
      margin-left: 7px;
    }
  }

  &.feed-upvote-answer,
  &.feed-answer-question {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;

    .dc-answer .title {
      margin-top: -2px;
    }
  }
}

// 撰写页和草稿页页头
.dc-compose-drafts-page-header {
  border-bottom: 1px solid @border-color;

  a {
    margin-bottom: -1px;
    display: inline-block;
    color: #999;
    padding: 0 0 15px 0;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;

    &.active {
      color: #333;
      border-bottom: 1px solid #333;
    }
  }

  .drafts-count {
    font-weight: normal;
  }
}

// 用户卡片
.user-popover {
  border-radius: 4px;

  &.top {
    background-color: @background-gray;

    .arrow:after {
      border-top-color: @background-gray;
    }
  }

  .popover-content {
    padding: 0;
  }
}

.dc-user-card {
  width: 240px;

  .user-wap {
    padding: 30px 0 30px 0;
    text-align: center;
    background-color: #fff;

    .avatar-wap {
      margin-bottom: 10px;

      img {
        width: 80px;
        height: 80px;
      }
    }

    .name {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: bold;

      a {
        color: #333;
      }
    }

    .desc {
      margin-bottom: 10px;
    }

    .other {
      color: #999;

      .divider {
        margin: 0 2px;
      }
    }
  }

  .follow-wap {
    text-align: center;
    background-color: @background-gray;
    padding: 20px 0;
    border-top: 1px solid #d6d6d6;
  }
}

// 通知发起者
.dc-noti-sender {
  .sender {
    margin-left: 4px;

    &:first-child {
      margin-left: 0;
    }

    img {
      width: 20px;
      height: 20px;
    }

    .sender-name {
      color: #333;
      margin-left: 2px;
    }
  }

  .action {
    margin-left: 2px;
  }
}

// 导航通知
.noti-in-nav {
  border-top: 1px solid @border-color;
  padding: 12px 15px;
  margin-top: 0;
  color: #333;

  .dc-noti-sender {
    margin-bottom: 4px;
  }

  &.noti-user {
    position: relative;

    .media-left {
      img {
        width: 40px;
        height: 40px;
      }
    }

    .user-info {
      color: #333;
      margin-bottom: 2px;

      a {
        color: #333;
        font-weight: bold;
      }
    }

    .other-info {
      .divider {
        background-color: white;
        margin: 0 3px;
      }
    }

    .dc-user-follow-wap {
      position: absolute;
      visibility: hidden;
      right: 15px;
      top: 18px;
    }

    &:hover {
      .dc-user-follow-wap {
        visibility: visible;
      }
    }
  }

  &.noti-thanks,
  &.noti-message {
    &:hover {
      cursor: pointer;
      background-color: @background-gray;
    }
  }

  .question-title {
    font-weight: bold;
    margin-bottom: 2px;

    a {
      color: @main-color;
    }
  }
}
