.dc-user-follow-wap .btn {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: white;
}
.dc-user-follow-wap .for-follow {
  display: inline-block;
}
.dc-user-follow-wap .for-unfollow {
  display: none;
}
.dc-user-follow-wap.followed .for-follow {
  display: none;
}
.dc-user-follow-wap.followed .for-unfollow {
  display: inline-block;
}
.dc-user-page-header {
  position: relative;
  border-bottom: 1px solid #e4e4e4;
}
.dc-user-page-header.preview .btn-upload-avatar,
.dc-user-page-header.forbid-edit .btn-upload-avatar,
.dc-user-page-header.preview .btn-edit-desc,
.dc-user-page-header.forbid-edit .btn-edit-desc,
.dc-user-page-header.preview .btn-edit-meta,
.dc-user-page-header.forbid-edit .btn-edit-meta {
  display: none !important;
}
.dc-user-page-header .text-logo {
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: bold;
  font-size: 28px;
  color: #D5DCE6;
}
.dc-user-page-header .text-logo:hover {
  color: #c5cfdc;
}
.dc-user-page-header input[type='file'] {
  display: none;
}
.dc-user-page-header .commands {
  position: absolute;
  right: 10px;
  top: 10px;
}
.dc-user-page-header .commands .dc-hide-commands-trigger {
  padding: 6px 10px;
  margin-left: 5px;
}
.dc-user-page-header .commands .dc-hide-commands-trigger .dc-hide-commands {
  top: 20px;
  right: -1px;
  padding-top: 13px;
}
.dc-user-page-header .commands .btn-block-user .for-blocked {
  display: none;
}
.dc-user-page-header .commands .btn-block-user .for-un-blocked {
  display: block;
}
.dc-user-page-header .commands .btn-block-user.blocked .for-blocked {
  display: block;
}
.dc-user-page-header .commands .btn-block-user.blocked .for-un-blocked {
  display: none;
}
.dc-user-page-header .background-wap {
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.dc-user-page-header.has-background .background-wap {
  height: 350px;
}
.dc-user-page-header .avatar-wap {
  margin: -55px auto 25px auto;
  border: 3px solid white;
  width: 126px;
  height: 126px;
  border-radius: 100px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: relative;
}
.dc-user-page-header .avatar-wap:hover .btn-upload-avatar {
  display: block;
}
.dc-user-page-header .avatar-wap .user-avatar {
  width: 120px;
  height: 120px;
}
.dc-user-page-header .avatar-wap .btn-upload-avatar {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: white;
  cursor: pointer;
}
.dc-user-page-header .name {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.dc-user-page-header .desc-wap {
  margin-bottom: 20px;
  font-size: 16px;
}
.dc-user-page-header .desc-wap .desc-outer-wap {
  display: block;
}
.dc-user-page-header .desc-wap .desc-outer-wap .desc-inner-wap {
  position: relative;
}
.dc-user-page-header .desc-wap .desc-outer-wap .desc-inner-wap .btn-edit-desc {
  cursor: pointer;
  color: #999;
  display: none;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: -70px;
}
.dc-user-page-header .desc-wap .desc-outer-wap .desc-inner-wap .btn-edit-desc:hover {
  color: #666;
}
.dc-user-page-header .desc-wap .desc-outer-wap:hover .desc-inner-wap .btn-edit-desc {
  display: inline-block;
}
.dc-user-page-header .desc-wap .desc-edit-wap {
  display: none;
}
.dc-user-page-header .desc-wap .desc-edit-wap input {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  margin-right: 10px;
}
.dc-user-page-header .desc-wap.edit .desc-outer-wap {
  display: none;
}
.dc-user-page-header .desc-wap.edit .desc-edit-wap {
  display: block;
}
.dc-user-page-header .user-meta-wap {
  color: #999;
  font-size: 16px;
  margin-bottom: 50px;
}
.dc-user-page-header .user-meta-wap .meta-outer-wap {
  display: block;
}
.dc-user-page-header .user-meta-wap .meta-outer-wap .meta-inner-wap {
  position: relative;
}
.dc-user-page-header .user-meta-wap .meta-outer-wap .meta-inner-wap .user-meta .divider {
  margin: 0 5px;
}
.dc-user-page-header .user-meta-wap .meta-outer-wap .meta-inner-wap .user-meta .divider:last-child {
  display: none;
}
.dc-user-page-header .user-meta-wap .meta-outer-wap .meta-inner-wap .btn-edit-meta {
  cursor: pointer;
  color: #999;
  display: none;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: -70px;
}
.dc-user-page-header .user-meta-wap .meta-outer-wap .meta-inner-wap .btn-edit-meta:hover {
  color: #666;
}
.dc-user-page-header .user-meta-wap .meta-outer-wap:hover .meta-inner-wap .btn-edit-meta {
  display: inline-block;
}
.dc-user-page-header .user-meta-wap .meta-edit-wap {
  display: none;
}
.dc-user-page-header .user-meta-wap .meta-edit-wap input {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  margin-right: 10px;
}
.dc-user-page-header .user-meta-wap.edit .meta-outer-wap {
  display: none;
}
.dc-user-page-header .user-meta-wap.edit .meta-edit-wap {
  display: block;
}
.dc-user-page-header .follows-data {
  margin-bottom: 80px;
}
.dc-user-page-header .follows-data > * {
  display: inline-block;
}
.dc-user-page-header .follows-data .item {
  color: #999;
  padding: 0 20px 4px 20px;
  line-height: 1;
}
.dc-user-page-header .follows-data .item:first-child {
  border-right: 1px solid #ccc;
}
.dc-user-page-header .follows-data .item .count {
  display: inline-block;
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
}
.dc-home-feed {
  margin-bottom: 18px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.dc-home-feed .meta {
  margin-bottom: 15px;
  color: #999;
}
.dc-home-feed .meta .time {
  float: right;
}
.dc-home-feed .media-left {
  padding-right: 15px;
}
.dc-home-feed .media-left img {
  width: 45px;
  height: 45px;
}
.dc-home-feed.feed-follow-user .media {
  margin-bottom: 18px;
}
.dc-home-feed.feed-follow-user .media .user-name {
  margin-bottom: 5px;
}
.dc-home-feed.feed-follow-user .media .user-name a {
  color: #333;
  font-weight: bold;
}
.dc-home-feed.feed-follow-topic .media {
  margin-bottom: 20px;
}
.dc-home-feed.feed-follow-topic .media .topic-name {
  margin-bottom: 5px;
}
.dc-home-feed.feed-follow-topic .media .topic-name a {
  color: #333;
  font-weight: bold;
}
.dc-home-feed.feed-ask-question .question-title,
.dc-home-feed.feed-follow-question .question-title {
  color: #333;
  display: block;
  font-size: 18px;
  margin-top: -2px;
  margin-bottom: 15px;
  font-weight: bold;
}
.dc-home-feed.feed-ask-question .other,
.dc-home-feed.feed-follow-question .other {
  margin-bottom: 15px;
}
.dc-home-feed.feed-ask-question .other .divider,
.dc-home-feed.feed-follow-question .other .divider {
  margin: 0 6px;
}
.dc-home-feed.feed-ask-question .btn-answer,
.dc-home-feed.feed-follow-question .btn-answer {
  margin-left: 7px;
}
.dc-home-feed.feed-upvote-answer,
.dc-home-feed.feed-answer-question {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.dc-home-feed.feed-upvote-answer .dc-answer .title,
.dc-home-feed.feed-answer-question .dc-answer .title {
  margin-top: -2px;
}
.dc-compose-drafts-page-header {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 30px;
}
.dc-compose-drafts-page-header a {
  margin-bottom: -1px;
  display: inline-block;
  color: #999;
  padding: 0 0 15px 0;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.dc-compose-drafts-page-header a.active {
  color: #333;
  border-bottom: 1px solid #333;
}
.dc-compose-drafts-page-header .drafts-count {
  font-weight: normal;
}
