@import "../utils";

// 关注用户
.dc-user-follow-wap {
  .btn {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: white;
  }

  .for-follow {
    display: inline-block;
  }
  .for-unfollow {
    display: none;
  }

  &.followed {
    .for-follow {
      display: none;
    }
    .for-unfollow {
      display: inline-block;
    }
  }
}

// 用户页页头
.dc-user-page-header {
  position: relative;
  border-bottom: 1px solid #e4e4e4;

  .text-logo {
    position: absolute;
    left: 10px;
    top: 10px;
    font-weight: bold;
    font-size: 28px;
    color: #D5DCE6;

    &:hover {
      color: darken(#d5dce6, 5%);
    }
  }

  input[type='file'] {
    display: none;
  }

  .commands {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .background-wap {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.has-background {
    .background-wap {
      height: 350px;
    }
  }

  .avatar-wap {
    margin: -55px auto 25px auto;
    border: 3px solid white;
    width: 126px;
    height: 126px;
    border-radius: 100px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    position: relative;

    &:hover .btn-upload-avatar {
      display: block;
    }

    .user-avatar {
      width: 120px;
      height: 120px;
    }

    .btn-upload-avatar {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      padding-top: 53px;
      background-color: rgba(0, 0, 0, .4);
      text-align: center;
      color: white;
      cursor: pointer;
    }
  }

  .name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .desc {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .meta {
    color: #999;
    font-size: 16px;
    margin-bottom: 50px;

    .divider {
      margin: 0 5px;
    }
  }

  .follows-data {
    margin-bottom: 80px;

    & > * {
      display: inline-block;
    }

    .item {
      color: #999;
      padding: 0 20px 4px 20px;
      line-height: 1;

      &:first-child {
        border-right: 1px solid #ccc;
      }

      .count {
        display: inline-block;
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
        font-weight: bold;
      }
    }
  }
}
