.dc-user-follow-wap .btn {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: white;
}
.dc-user-follow-wap .for-follow {
  display: inline-block;
}
.dc-user-follow-wap .for-unfollow {
  display: none;
}
.dc-user-follow-wap.followed .for-follow {
  display: none;
}
.dc-user-follow-wap.followed .for-unfollow {
  display: inline-block;
}
.dc-user-page-header {
  position: relative;
  border-bottom: 1px solid #e4e4e4;
}
.dc-user-page-header.preview .btn-upload-avatar,
.dc-user-page-header.forbid-edit .btn-upload-avatar,
.dc-user-page-header.preview .btn-edit-desc,
.dc-user-page-header.forbid-edit .btn-edit-desc,
.dc-user-page-header.preview .btn-edit-meta,
.dc-user-page-header.forbid-edit .btn-edit-meta {
  display: none !important;
}
.dc-user-page-header .text-logo {
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: bold;
  font-size: 28px;
  color: #D5DCE6;
}
.dc-user-page-header .text-logo:hover {
  color: #c5cfdc;
}
.dc-user-page-header input[type='file'] {
  display: none;
}
.dc-user-page-header .commands {
  position: absolute;
  right: 10px;
  top: 10px;
}
.dc-user-page-header .commands .dc-hide-commands-trigger {
  padding: 6px 10px;
  margin-left: 5px;
}
.dc-user-page-header .commands .dc-hide-commands-trigger .dc-hide-commands {
  top: 20px;
  right: -1px;
  padding-top: 13px;
}
.dc-user-page-header .commands .btn-block-user .for-blocked {
  display: none;
}
.dc-user-page-header .commands .btn-block-user .for-un-blocked {
  display: block;
}
.dc-user-page-header .commands .btn-block-user.blocked .for-blocked {
  display: block;
}
.dc-user-page-header .commands .btn-block-user.blocked .for-un-blocked {
  display: none;
}
.dc-user-page-header .background-wap {
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.dc-user-page-header.has-background .background-wap {
  height: 350px;
}
.dc-user-page-header .avatar-wap {
  margin: -55px auto 25px auto;
  border: 3px solid white;
  width: 126px;
  height: 126px;
  border-radius: 100px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: relative;
}
.dc-user-page-header .avatar-wap:hover .btn-upload-avatar {
  display: block;
}
.dc-user-page-header .avatar-wap .user-avatar {
  width: 120px;
  height: 120px;
}
.dc-user-page-header .avatar-wap .btn-upload-avatar {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: white;
  cursor: pointer;
}
.dc-user-page-header .name {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.dc-user-page-header .desc-wap {
  margin-bottom: 20px;
  font-size: 16px;
}
.dc-user-page-header .desc-wap .desc-outer-wap {
  display: block;
}
.dc-user-page-header .desc-wap .desc-outer-wap .desc-inner-wap {
  position: relative;
}
.dc-user-page-header .desc-wap .desc-outer-wap .desc-inner-wap .btn-edit-desc {
  cursor: pointer;
  color: #999;
  display: none;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: -70px;
}
.dc-user-page-header .desc-wap .desc-outer-wap .desc-inner-wap .btn-edit-desc:hover {
  color: #666;
}
.dc-user-page-header .desc-wap .desc-outer-wap:hover .desc-inner-wap .btn-edit-desc {
  display: inline-block;
}
.dc-user-page-header .desc-wap .desc-edit-wap {
  display: none;
}
.dc-user-page-header .desc-wap .desc-edit-wap input {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  margin-right: 10px;
}
.dc-user-page-header .desc-wap.edit .desc-outer-wap {
  display: none;
}
.dc-user-page-header .desc-wap.edit .desc-edit-wap {
  display: block;
}
.dc-user-page-header .user-meta-wap {
  color: #999;
  font-size: 16px;
  margin-bottom: 50px;
}
.dc-user-page-header .user-meta-wap .meta-outer-wap {
  display: block;
}
.dc-user-page-header .user-meta-wap .meta-outer-wap .meta-inner-wap {
  position: relative;
}
.dc-user-page-header .user-meta-wap .meta-outer-wap .meta-inner-wap .user-meta .divider {
  margin: 0 5px;
}
.dc-user-page-header .user-meta-wap .meta-outer-wap .meta-inner-wap .user-meta .divider:last-child {
  display: none;
}
.dc-user-page-header .user-meta-wap .meta-outer-wap .meta-inner-wap .btn-edit-meta {
  cursor: pointer;
  color: #999;
  display: none;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: -70px;
}
.dc-user-page-header .user-meta-wap .meta-outer-wap .meta-inner-wap .btn-edit-meta:hover {
  color: #666;
}
.dc-user-page-header .user-meta-wap .meta-outer-wap:hover .meta-inner-wap .btn-edit-meta {
  display: inline-block;
}
.dc-user-page-header .user-meta-wap .meta-edit-wap {
  display: none;
}
.dc-user-page-header .user-meta-wap .meta-edit-wap input {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  margin-right: 10px;
}
.dc-user-page-header .user-meta-wap.edit .meta-outer-wap {
  display: none;
}
.dc-user-page-header .user-meta-wap.edit .meta-edit-wap {
  display: block;
}
.dc-user-page-header .follows-data {
  margin-bottom: 80px;
}
.dc-user-page-header .follows-data > * {
  display: inline-block;
}
.dc-user-page-header .follows-data .item {
  color: #999;
  padding: 0 20px 4px 20px;
  line-height: 1;
}
.dc-user-page-header .follows-data .item:first-child {
  border-right: 1px solid #ccc;
}
.dc-user-page-header .follows-data .item:hover,
.dc-user-page-header .follows-data .item:focus {
  text-decoration: none;
  color: #666;
}
.dc-user-page-header .follows-data .item .count {
  display: inline-block;
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
}
.dc-user-page-header .follow-bg {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  padding: 40px 0;
}
.dc-user-page-header .follow-bg .outer-wap {
  width: 680px;
  margin: 0 auto;
}
.dc-user-page-header .follow-bg .btn-close-bg {
  position: absolute;
  right: 30px;
  top: 0;
  font-size: 60px;
  color: #bbb;
  cursor: pointer;
}
.dc-user-page-header .follow-bg .btn-close-bg:hover {
  color: #999;
}
.dc-user-page-header .followings-bg .outer-wap .selector-wap {
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}
.dc-user-page-header .followings-bg .outer-wap .selector-wap .selector-show-followed-users,
.dc-user-page-header .followings-bg .outer-wap .selector-wap .selector-show-followed-topics {
  cursor: pointer;
  margin-bottom: -1px;
  display: inline-block;
  color: #999;
  padding: 0 0 15px 0;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.dc-user-page-header .followings-bg .outer-wap .selector-wap .selector-show-followed-users.active,
.dc-user-page-header .followings-bg .outer-wap .selector-wap .selector-show-followed-topics.active {
  color: #333;
  border-bottom: 1px solid #333;
}
.dc-user-page-header .followings-bg .outer-wap .selector-wap .selector-show-followed-users:hover,
.dc-user-page-header .followings-bg .outer-wap .selector-wap .selector-show-followed-topics:hover {
  color: #333;
}
.dc-user-page-header .followings-bg .outer-wap .followed-users-wap .fa-spin,
.dc-user-page-header .followings-bg .outer-wap .followed-topics-wap .fa-spin {
  font-size: 20px;
  color: #999;
}
.dc-user-page-header .followings-bg .outer-wap .followed-users-wap.empty,
.dc-user-page-header .followings-bg .outer-wap .followed-topics-wap.empty {
  text-align: center;
  padding-top: 40px;
}
.dc-user-page-header .followings-bg .outer-wap .followed-users-wap .followed-user {
  padding: 30px 0;
  position: relative;
  border-bottom: 1px solid #eaeaea;
}
.dc-user-page-header .followings-bg .outer-wap .followed-users-wap .followed-user .media-left {
  padding-right: 15px;
}
.dc-user-page-header .followings-bg .outer-wap .followed-users-wap .followed-user .media-left img {
  width: 50px;
  height: 50px;
}
.dc-user-page-header .followings-bg .outer-wap .followed-users-wap .followed-user .user-info {
  margin-bottom: 5px;
}
.dc-user-page-header .followings-bg .outer-wap .followed-users-wap .followed-user .divider {
  margin: 0 3px;
}
.dc-user-page-header .followings-bg .outer-wap .followed-users-wap .followed-user .followed-user-name {
  font-weight: bold;
  color: #333;
}
.dc-user-page-header .followings-bg .outer-wap .followed-users-wap .followed-user .dc-user-follow-wap {
  position: absolute;
  right: 0;
  top: 38px;
}
.dc-user-page-header .followings-bg .outer-wap .followed-topics-wap {
  display: none;
}
.dc-user-page-header .followings-bg .outer-wap .followed-topics-wap .followed-topic {
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid #eaeaea;
}
.dc-user-page-header .followings-bg .outer-wap .followed-topics-wap .followed-topic .media-left img {
  width: 40px;
  height: 40px;
}
.dc-user-page-header .followings-bg .outer-wap .followed-topics-wap .followed-topic .topic-name-wap {
  margin-bottom: 2px;
}
.dc-user-page-header .followings-bg .outer-wap .followed-topics-wap .followed-topic .topic-name-wap a {
  color: #333;
  font-weight: bold;
}
.dc-user-page-header .followings-bg .outer-wap .followed-topics-wap .followed-topic .dc-topic-follow-wap {
  position: absolute;
  right: 0;
  top: 35px;
}
.dc-home-feed {
  margin-bottom: 18px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.dc-home-feed .meta {
  margin-bottom: 15px;
  color: #999;
}
.dc-home-feed .meta .time {
  float: right;
}
.dc-home-feed .media-left {
  padding-right: 15px;
}
.dc-home-feed .media-left img {
  width: 45px;
  height: 45px;
}
.dc-home-feed.feed-follow-user .media {
  margin-bottom: 18px;
}
.dc-home-feed.feed-follow-user .media .user-name {
  margin-bottom: 5px;
}
.dc-home-feed.feed-follow-user .media .user-name a {
  color: #333;
  font-weight: bold;
}
.dc-home-feed.feed-follow-topic .media {
  margin-bottom: 20px;
}
.dc-home-feed.feed-follow-topic .media .topic-name {
  margin-bottom: 5px;
}
.dc-home-feed.feed-follow-topic .media .topic-name a {
  color: #333;
  font-weight: bold;
}
.dc-home-feed.feed-ask-question .question-title,
.dc-home-feed.feed-follow-question .question-title {
  color: #333;
  display: block;
  font-size: 18px;
  margin-top: -2px;
  margin-bottom: 10px;
  font-weight: bold;
}
.dc-home-feed.feed-ask-question .other,
.dc-home-feed.feed-follow-question .other {
  margin-bottom: 15px;
}
.dc-home-feed.feed-ask-question .other .divider,
.dc-home-feed.feed-follow-question .other .divider {
  margin: 0 6px;
}
.dc-home-feed.feed-ask-question .btn-answer,
.dc-home-feed.feed-follow-question .btn-answer {
  margin-left: 7px;
}
.dc-home-feed.feed-upvote-answer,
.dc-home-feed.feed-answer-question {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.dc-home-feed.feed-upvote-answer .dc-answer .title,
.dc-home-feed.feed-answer-question .dc-answer .title {
  margin-top: -2px;
}
.dc-compose-drafts-page-header {
  border-bottom: 1px solid #eaeaea;
}
.dc-compose-drafts-page-header a {
  margin-bottom: -1px;
  display: inline-block;
  color: #999;
  padding: 0 0 15px 0;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.dc-compose-drafts-page-header a.active {
  color: #333;
  border-bottom: 1px solid #333;
}
.dc-compose-drafts-page-header .drafts-count {
  font-weight: normal;
}
.user-popover {
  border-radius: 4px;
}
.user-popover.top {
  background-color: #f5f6f5;
}
.user-popover.top .arrow:after {
  border-top-color: #f5f6f5;
}
.user-popover .popover-content {
  padding: 0;
}
.dc-user-card {
  width: 240px;
}
.dc-user-card .user-wap {
  padding: 30px 0 30px 0;
  text-align: center;
  background-color: #fff;
}
.dc-user-card .user-wap .avatar-wap {
  margin-bottom: 10px;
}
.dc-user-card .user-wap .avatar-wap img {
  width: 80px;
  height: 80px;
}
.dc-user-card .user-wap .name {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.dc-user-card .user-wap .name a {
  color: #333;
}
.dc-user-card .user-wap .desc {
  margin-bottom: 10px;
}
.dc-user-card .user-wap .other {
  color: #999;
}
.dc-user-card .user-wap .other .divider {
  margin: 0 2px;
}
.dc-user-card .follow-wap {
  text-align: center;
  background-color: #f5f6f5;
  padding: 20px 0;
  border-top: 1px solid #d6d6d6;
}
.dc-noti-sender .sender {
  margin-left: 4px;
}
.dc-noti-sender .sender:first-child {
  margin-left: 0;
}
.dc-noti-sender .sender img {
  width: 20px;
  height: 20px;
}
.dc-noti-sender .sender .sender-name {
  color: #333;
  margin-left: 2px;
}
.dc-noti-sender .action {
  margin-left: 2px;
}
.noti-in-nav {
  border-top: 1px solid #eaeaea;
  padding: 12px 15px;
  margin-top: 0;
  color: #333;
}
.noti-in-nav .dc-noti-sender {
  margin-bottom: 4px;
}
.noti-in-nav.noti-user {
  position: relative;
}
.noti-in-nav.noti-user .media-left img {
  width: 40px;
  height: 40px;
}
.noti-in-nav.noti-user .user-info {
  color: #333;
  margin-bottom: 2px;
}
.noti-in-nav.noti-user .user-info a {
  color: #333;
  font-weight: bold;
}
.noti-in-nav.noti-user .other-info .divider {
  background-color: white;
  margin: 0 3px;
}
.noti-in-nav.noti-user .dc-user-follow-wap {
  position: absolute;
  visibility: hidden;
  right: 15px;
  top: 20px;
}
.noti-in-nav.noti-user:hover .dc-user-follow-wap {
  visibility: visible;
}
.noti-in-nav .question-title {
  font-weight: bold;
  margin-bottom: 2px;
}
.noti-in-nav .question-title a {
  color: #009999;
}
