.dc-user-follow-wap .btn {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: white;
}
.dc-user-follow-wap .for-follow {
  display: inline-block;
}
.dc-user-follow-wap .for-unfollow {
  display: none;
}
.dc-user-follow-wap.followed .for-follow {
  display: none;
}
.dc-user-follow-wap.followed .for-unfollow {
  display: inline-block;
}
.dc-user-page-header {
  position: relative;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 100px;
}
.dc-user-page-header .text-logo {
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: bold;
  font-size: 28px;
  color: #D5DCE6;
}
.dc-user-page-header .text-logo:hover {
  color: #c5cfdc;
}
.dc-user-page-header .commands {
  position: absolute;
  right: 10px;
  top: 10px;
}
.dc-user-page-header .user-avatar {
  border: 3px solid white;
  width: 120px;
  height: 120px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-bottom: 25px;
}
.dc-user-page-header .name {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.dc-user-page-header .desc {
  margin-bottom: 20px;
  font-size: 16px;
}
.dc-user-page-header .meta {
  color: #999;
  font-size: 16px;
  margin-bottom: 50px;
}
.dc-user-page-header .meta .divider {
  margin: 0 5px;
}
.dc-user-page-header .follows-data {
  margin-bottom: 80px;
}
.dc-user-page-header .follows-data > * {
  display: inline-block;
}
.dc-user-page-header .follows-data .item {
  color: #999;
  padding: 0 20px 4px 20px;
  line-height: 1;
}
.dc-user-page-header .follows-data .item:first-child {
  border-right: 1px solid #ccc;
}
.dc-user-page-header .follows-data .item .count {
  display: inline-block;
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
}
