@import "../utils";

// 关注用户
.dc-user-follow-wap {
  .btn {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: white;
  }

  .for-follow {
    display: inline-block;
  }
  .for-unfollow {
    display: none;
  }

  &.followed {
    .for-follow {
      display: none;
    }
    .for-unfollow {
      display: inline-block;
    }
  }
}

// 用户页页头
.dc-user-page-header {
  position: relative;
  border-bottom: 1px solid #e4e4e4;

  // 以他人视角查看
  &.preview {
    .btn-upload-avatar,
    .btn-edit-desc,
    .btn-edit-meta {
      display: none !important;
    }
  }

  .text-logo {
    position: absolute;
    left: 10px;
    top: 10px;
    font-weight: bold;
    font-size: 28px;
    color: #D5DCE6;

    &:hover {
      color: darken(#d5dce6, 5%);
    }
  }

  input[type='file'] {
    display: none;
  }

  .commands {
    position: absolute;
    right: 10px;
    top: 10px;

    .dc-hide-commands-trigger {
      padding: 6px 10px;
      margin-left: 5px;

      .dc-hide-commands {
        top: 20px;
        padding-top: 12px;
      }
    }
  }

  .background-wap {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.has-background {
    .background-wap {
      height: 350px;
    }
  }

  .avatar-wap {
    margin: -55px auto 25px auto;
    border: 3px solid white;
    width: 126px;
    height: 126px;
    border-radius: 100px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    position: relative;

    &:hover .btn-upload-avatar {
      display: block;
    }

    .user-avatar {
      width: 120px;
      height: 120px;
    }

    .btn-upload-avatar {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      padding-top: 50px;
      background-color: rgba(0, 0, 0, .4);
      text-align: center;
      color: white;
      cursor: pointer;
    }
  }

  .name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .desc-wap {
    margin-bottom: 20px;
    font-size: 16px;

    .desc-outer-wap {
      display: block;

      .desc-inner-wap {
        position: relative;

        .btn-edit-desc {
          cursor: pointer;
          color: #999;
          display: none;
          font-size: 14px;
          position: absolute;
          top: 0;
          right: -70px;

          &:hover {
            color: #666;
          }
        }
      }

      &:hover {
        .desc-inner-wap .btn-edit-desc {
          display: inline-block;
        }
      }
    }

    .desc-edit-wap {
      display: none;

      input {
        display: inline-block;
        vertical-align: middle;
        width: 400px;
        margin-right: 10px;
      }
    }

    &.edit {
      .desc-outer-wap {
        display: none;
      }

      .desc-edit-wap {
        display: block;
      }
    }
  }

  .user-meta-wap {
    color: #999;
    font-size: 16px;
    margin-bottom: 50px;

    .meta-outer-wap {
      display: block;

      .meta-inner-wap {
        position: relative;

        .user-meta .divider {
          margin: 0 5px;

          &:last-child {
            display: none;
          }
        }

        .btn-edit-meta {
          cursor: pointer;
          color: #999;
          display: none;
          font-size: 14px;
          position: absolute;
          top: 0;
          right: -70px;

          &:hover {
            color: #666;
          }
        }
      }

      &:hover {
        .meta-inner-wap .btn-edit-meta {
          display: inline-block;
        }
      }
    }

    .meta-edit-wap {
      display: none;

      input {
        display: inline-block;
        vertical-align: middle;
        width: 120px;
        margin-right: 10px;
      }
    }

    &.edit {
      .meta-outer-wap {
        display: none;
      }

      .meta-edit-wap {
        display: block;
      }
    }
  }

  .follows-data {
    margin-bottom: 80px;

    & > * {
      display: inline-block;
    }

    .item {
      color: #999;
      padding: 0 20px 4px 20px;
      line-height: 1;

      &:first-child {
        border-right: 1px solid #ccc;
      }

      .count {
        display: inline-block;
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
        font-weight: bold;
      }
    }
  }
}

.dc-home-feed {
  margin-bottom: 18px;
  padding-bottom: 20px;
  border-bottom: 1px solid @border-color;

  .meta {
    margin-bottom: 15px;
    color: #999;

    .time {
      float: right;
    }
  }

  .media-left {
    padding-right: 15px;

    img {
      width: 45px;
      height: 45px;
    }
  }

  &.feed-follow-user {
    .media {
      margin-bottom: 18px;

      .user-name {
        margin-bottom: 5px;

        a {
          color: #333;
          font-weight: bold;
        }
      }
    }
  }

  &.feed-follow-topic {
    .media {
      margin-bottom: 20px;

      .topic-name {
        margin-bottom: 5px;

        a {
          color: #333;
          font-weight: bold;
        }
      }
    }
  }

  &.feed-ask-question,
  &.feed-follow-question {
    .question-title {
      color: #333;
      display: block;
      font-size: 18px;
      margin-bottom: 15px;
      line-height: 1;
      font-weight: bold;
    }

    .other {
      margin-bottom: 15px;

      .divider {
        margin: 0 6px;
      }
    }

    .btn-answer {
      margin-left: 7px;
    }
  }

  &.feed-upvote-answer,
  &.feed-answer-question {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;

    .dc-answer .title {
      line-height: 1;
    }
  }
}
